<%= f.fields_for :user do |f|%>

    <div class="input-field col s4 m4 required">
      <%= f.text_field :user_name%>
      <%= f.label :user_name, t('views.staffs.username') %>
    </div>

    <div class="input-field col s4 m4 required">
      <%= f.password_field :password%>
      <%= f.label :password, t('views.staffs.password') %>
    </div>

    <div class="input-field col s4 m4 required">
      <%= f.password_field :password_confirmation%>
      <%= f.label :password_confirmation, t('views.staffs.password_confirmation') %>
    </div>
    <%= f.hidden_field :email %>

<% end %>
