<%= render 'staff_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="row">
    <!--- breadcrum Bar --->
    <div class="col s12 breadcrum-bar">
      <div class="card-white-panel">
        <%= link_to raw('<i class="material-icons">add</i>'), new_staff_path, remote: true, class: 'pull-right', title: 'Add' %>
        <h3>Time Tracking : <%= link_to raw('<span class="text-color">Staff</span>'), staffs_url %></h3>
      </div>
    </div>

    <div class="invoice-box staff-box mCustomScrollbar clearfix">
      <!--- Invoices Card Title--->
      <%= form_tag bulk_actions_staffs_path, {method: :get, id: "bulk_action_form"} do -%>
          <% @staffs.group_by { |d| d.group_date }.each do |date, staffs| %>
              <p><span class="activity-date"><%= date %></span></p>
              <div class="clearfix">
                <%= render partial: 'staff_card', collection: staffs, as: :staff %>
              </div>
          <% end %>
          <%= render partial: 'bulk_actions'%>
      <% end %>

    </div>
  </div>
</div>
