<div id="sort_direction" style="display: none;"><%= params[:direction] %></div>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="sent_email">
  <div class="content_top">
    <div class="primary_heading">
      <h1><%= t('views.clients.listing_sent_emails') %></h1>
    </div>
  </div>
  <!--content_top-->
  <div class="content_middle">
    <div class="grid_table">
      <table cellpadding="0" cellspacing="0" class="table_listing emails_listing">
        <colgroup>
          <col class="one"/>
          <col class="two"/>
          <col class="three"/>
          <col class="four"/>
        </colgroup>
        <thead id="sent_emails_header">
         <%= render 'sent_email_header' %>
        </thead>
        <tbody id="email_body">
        <%= render 'sent_emails' %>
        </tbody>
        <tfoot id="paging_links">
        <%= render "application_partials/paging" %>
        </tfoot>
      </table>
    </div>
    <div class="content_bottom">
    </div>
    <!--grid_table-->
  </div>
  <!--content_middle-->
</div><!--sent_email-->
