<% if activity.present? && activity.parameters['obj'].present? && activity.parameters['obj']['status'].present? %>
  <li class="collection-item">
    <% if invoice_status(activity) == 'sent' %>
    <span>
      <p><strong><%= activity.owner.user_name %></strong> sent invoice to client</p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% elsif invoice_status(activity) == 'partial' %>
    <span>
      <p><strong><%= activity.owner.user_name %></strong>  made partial payment for invoice</p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% elsif invoice_status(activity) == 'draft-partial' %>
    <span>
      <p><strong><%= activity.owner.user_name %></strong>  made draft partial payment for invoice</p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% elsif invoice_status(activity) == 'paid' %>
    <span>
      <p><strong><%= activity.owner.user_name %></strong>  made full payment for invoice</p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% end %>
  </li>
<% end %>
