<% if activity.present? && activity.parameters['obj'].present? && activity.parameters['obj']['status'].present? %>
  <% if invoice_status(activity) == 'sent' %>
    <div class='col-sm-12'> <%= activity.owner.user_name %> sent invoice to client on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% elsif invoice_status(activity) == 'partial' %>
    <div class='col-sm-12'><%= activity.owner.user_name %> made partial payment for invoice on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% elsif invoice_status(activity) == 'draft-partial' %>
    <div class='col-sm-12'><%= activity.owner.user_name %> made draft partial payment for this invoice on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% elsif invoice_status(activity) == 'paid' %>
    <div class='col-sm-12'><%= activity.owner.user_name %> made full payment for invoice on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% end %>
<% end %>
