<div class="filter-container" id="filters">
  <div class="nav-wrapper subnav-filters">
    <%= form_tag "/reports/data/#{@report.report_name}", method: :get, remote: true, id: 'filters_form' do %>
      <div class="row">
        <div class="input-field col s6 m6 xl2">
          <input name="criteria[to_date]" type="text" id="to_date" readonly value="<%= Date.today.strftime(get_date_format) %>"/>
          <label class="input_field_label active"><%= t('views.reports.period_ending') %></label>
        </div>
        <div class="input-field col s6 m6 xl3 select-client">
          <%= collection_select "criteria", "client_id", [Client.new({:id => 0, :organization_name =>t("views.common.all")})] + get_report_clients, :id, :organization_name, {:prompt => "All"}, {class: 'invoice-filter-select select_2'} %>
          <label><%= t('views.clients.clients') %></label>
        </div>
      </div>
      <div class="row">
        <div class="filter-footer">
          <input type="reset" value="<%= t('views.common.reset') %>" id="filter_reset_btn" class="filter-btn"/>
          <input type="submit" value="<%= t('views.sessions.submit') %>" id="filter_submit_btn" class="filter-btn"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
