<div class="filter-container" id="filters">
  <div class="nav-wrapper subnav-filters">
    <%= form_tag "/reports/#{@report.report_name}", method: :get, remote: true, id: 'filters_form' do %>
      <div class="row">
        <div class="input-field col s12 m6 xl3">
          <input type="hidden" name="criteria[from_date]" id="from_date" value="<%= 1.month.ago.to_date.strftime(get_date_format) %>">
          <input type="hidden" name="criteria[to_date]" id="to_date" value="<%= Date.today.strftime(get_date_format) %>">
          <input type="text" class="date-range-picker" name="date_range_picker" id="date_range_picker"
                 value="<%= 1.month.ago.to_date.strftime(get_date_format) + ' - ' + Date.today.strftime(get_date_format) %>" readonly/>
          <label class="input_field_label active"><%= t('views.reports.date_range') %></label>
        </div>
        <div class="input-field col s12 m6 xl2 select-client reports-filter">
          <%= collection_select "criteria", "item_id", [Item.new({:id => 0, :item_name => t('views.common.all')})] + get_report_items, :id, :item_name, {:prompt => t('views.common.all')}, {:class => "item invoice-filter-select select_2"} %>
          <label><%= t('views.common.item') %></label>
        </div>
        <div class="input-field col s12 m6 xl2 select-client reports-filter">
          <%= collection_select "criteria", "client_id", [Client.new({:id => 0, :organization_name => t('views.common.all')})] + get_report_clients, :id, :organization_name, {:prompt => t('views.common.all')}, {:class => "clients invoice-filter-select select_2"} %>
          <label><%= t('views.clients.client') %></label>
        </div>
        <div class="input-field col s12 m6 xl2 select-client reports-filter">
          <%= select_tag "criteria[invoice_status]", options_for_select(INVOICE_STATUS), {:prompt => t('views.common.all'), :class => "invoice-status invoice-filter-select select_2"} %>
          <label><%= t('views.invoices.invoice_status') %></label>
        </div>
      </div>
      <div class="row">
        <div class="filter-footer">
          <input type="reset" value="<%= t('views.common.reset') %>" id="filter_reset_btn" class="filter-btn"/>
          <input type="submit" value="<%= t('views.sessions.submit') %>" id="filter_submit_btn" class="filter-btn"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
