<aside id="activity-sidebar" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <h3>Activity</h3>
  <div class="activity-scroll-holder mCustomScrollbar">

    <% @recent_activity.each do |date, activities| %>
        <span class="activity-date"><%= date %></span>
        <ul class="activities-list">
            <% activities.each do |activity| %>
               <li>
                 <div class="activity-name <%= activity[:activity_type]%>">
                   <%= activity[:activity_type].capitalize %>
                 </div>
                 <div class="activity-details">
                   <p>
                     <%= number_to_currency(activity[:amount], unit: activity[:code]) %> <span>(<%= activity[:unit] %>)</span>
                   </p>
                   <em class="author"><%= "#{activity[:activity_action]} #{activity[:client]} on" %></em>
                 </div>
               </li>
            <% end %>
        </ul>
    <% end %>
  </div>
</aside>