<div class="content_top">
  <div class="primary_heading">
    <h1><%= t("views.privacy.privacy") %></h1>
  </div>
</div>
<!--content_top-->

<div class="content_middle">
  <div class="help_page">
    <div class="">
      <h2><%= t("views.privacy.information") %></h2>
      <%= t("views.privacy.information_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.consent") %></h2>
      <%= t("views.privacy.consent_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.disclosure") %></h2>
      <%= t("views.privacy.disclosure_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.third_party") %></h2>
      <%= t("views.privacy.third_party_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.security") %></h2>
      <%= t("views.privacy.security_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.age_consent") %></h2>
      <%= t("views.privacy.age_consent_text") %>
    </div>
    <div class="privacy_paragraph">
      <h2><%= t("views.privacy.policy_change") %></h2>
      <%= t("views.privacy.policy_change_text") %>
    </div>
    <div class="privacy_paragraph last_paragraph">
      <h2><%= t("views.privacy.questions_contact") %></h2>
      <%= t("views.privacy.questions_contact_text") %>
    </div>
  </div>
</div><!--content_top-->
