<div class="setting-roles-list">
  <h5 class="intro settings-index-false-intro" data-intro="All of your roles will be listed here">
    <%= link_to t('views.payment_terms.payment_terms'), 'javascript:void(0)' %>
    <span>(<%= @payment_terms.count rescue 0 %>)</span>
  </h5>
  <ul class="roles-list">
    <% @payment_terms.each do |term| %>
      <li id="roles">
        <div class="role-item checkbox-item">
          <%= check_box_tag 'payment_term_ids[]', term.id, false, :id => "term_#{term.id}",
                            class: "filled-in" %>
          <label for="<%= "term_#{term.id}" %>"></label>

          <div class="invoice-name circle-img <%= random_card_color %>"><%= term.number_of_days %></div>
        </div>
        <div class="role-name">
          <%= link_to term.description, edit_payment_term_path(term), remote: true   %><br>
          <span class="role-date"><%= term.created_at.strftime('%d %b, %Y') %></span>
        </div>
      </li>
    <% end %>

    <div class="list-buttons">
      <%#= render 'roles/settings_role_form' %>
      <div id="role_btn_container" class="intro settings-index-false-intro" data-intro="You can add or remove roles from here">
        <!--        <a href="javascript:;" id="role_add_btn" class="sidebar-btn"><%#= t('helpers.links.add') %></a>-->
        <%= link_to 'ADD', new_payment_term_path, remote: true, class: 'sidebar-btn' %>
        <% unless OSB::CONFIG::DEMO_MODE %>
          <a href="javascript:;" id="term_delete_btn" class="sidebar-btn disabled"><%= t('helpers.links.remove') %></a>
        <% end %>
      </div>
    </div>

  </ul>
</div>
