<div id="payment_term_form_popup" class="modal editableModal importModal">
  <%= simple_form_for @payment_term, remote: true, html: { class: 'role-form form-invoice form-horizontal nested-forms' } do |f| %>
    <%= f.submit class: 'btn_large submit_payment_term hidden' %>
    <div class="modal-content">
      <div class="modal-header clearfix text-content">
        <div class="modal-action-btn right">
          <%= render partial: 'form_action_links' %>
        </div>
        <%= render partial: 'form_heading', locals:{form: f, payment_term: @payment_term} %>
      </div>
      <div class="modal-body role-modal-body">
        <div class="scroll-area">
          <div class="clearfix">
            <div class="row">
              <%= f.input :description, label: 'Title', wrapper_html: { class: 'input-field col s12' }  %>
            </div>
            <div class="row">
              <%= f.input :number_of_days, wrapper_html: { class: 'input-field col s12' }  %>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>