<h1>Listing payment_terms</h1>

<table>
  <tr>
    <th>Number of days</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @payment_terms.each do |payment_term| %>
      <tr>
        <td><%= payment_term.number_of_days %></td>
        <td><%= payment_term.description %></td>
        <td><%= link_to 'Show', payment_term %></td>
        <td><%= link_to 'Edit', edit_payment_term_path(payment_term) %></td>
        <td><%= link_to 'Destroy', payment_term, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Payment term', new_payment_term_path %>
