<h1>Listing payment_terms</h1>

<table>
  <tr>
    <th><%= t('views.payment_terms.number_of_days') %></th>
    <th><%= t('views.common.description') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @payment_terms.each do |payment_term| %>
      <tr>
        <td><%= payment_term.number_of_days %></td>
        <td><%= payment_term.description %></td>
        <td><%= link_to t('views.common.show'), payment_term %></td>
        <td><%= link_to t('helpers.links.edit'), edit_payment_term_path(payment_term) %></td>
        <td><%= link_to t('views.common.destroy'), payment_term, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to t('views.payment_terms.new'), new_payment_term_path %>
