<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.payment_terms.number_of_days') %>:</b>
  <%= @payment_term.number_of_days %>
</p>

<p>
  <b><%= t('views.common.description') %>:</b>
  <%= @payment_term.description %>
</p>


<%= link_to t('helpers.links.edit'), edit_payment_term_path(@payment_term) %> |
<%= link_to t('views.common.back'), payment_terms_path %>
