<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
<%= @user.companies.first.org_name rescue 'Hi' %>,
</p>
 <p>
   Invoice <%= @invoice.invoice_number%>  has been disputed by <%= @invoice.client.organization_name%> for the following reasons:
 </p>
<p>
 <%= @reason%>
</p>
 <p>
   <a href="<%= Osb::Application.config.address %>">Log in</a> to your account.
 </p>
<p>
  Thanks,<br/>
  Open Source Billing
</p>
</body>
</html>


