<tr class="fields">
  <td>
    <div class="elementsAction">
      <%= f.hidden_field :_destroy%>
      <a href="#" data-association="estimate_line_items" class="remove_item remove_nested_fields removeItem"><i class="material-icons">close</i></a>
      <a class="sort_icon sortable" href="javascript:" title="Drag this line item to your desired location in this invoice"><i class="material-icons">open_with</i></a>
    </div>
  </td>
  <td>
    <%= f.select :item_id, options_for_select(load_line_items(action_name, @estimate.company_id, f.object), selected: f.object.item_id),  {:prompt => t('views.invoice_line_item.select_an_item'),:include_blank => ""}, {"data-placeholder" => t('views.invoice_line_item.select_an_item'), class: "items_list inline-select title-select", :required => ""} %>
  </td>
  <%= f.hidden_field :item_name, class: 'item_name' %>
  <%= f.hidden_field :item_description, class: 'description' %>
  <%= f.hidden_field :item_unit_cost, class: 'cost'%>
  <%= f.hidden_field :item_quantity, class: 'qty' %>
  <td class="description"><%= f.object.item_description %></td>
  <td class="center-align cost"><%= f.object.item_unit_cost %></td>
  <td class="center-align qty"><%= f.object.item_quantity %></td>
  <td class="center-align">
    <%= f.select(:tax_1, options_for_select(load_line_item_taxes1(f.object), :selected => f.object.tax_1), {:prompt => "Select ...",:include_blank => ""}, {"data-placeholder" => "", :class => "tax tax1 inline-select table-select"}) %>
  </td>
  <td class="center-align">
    <%= f.select(:tax_2, options_for_select(load_line_item_taxes2(f.object), :selected => f.object.tax_2), {:prompt => "Select ...",:include_blank => ""}, {"data-placeholder" => "", :class => "tax tax2 inline-select table-select"}) %>
  </td>
  <td class="right-align"><%= label_tag 'line total', '0.00', :class => 'blank_input grid_medium line_total' %></td>
</tr>