<% dis_type = '' %>
<div class="new-invoice-holder editInvoice">
  <%- model_class = Estimate -%>
  <%= nested_form_for estimate, :html => {:class => 'estimate-form form-horizontal', :novalidate => ""} do |f| %>
      <% dis_type = f.object.discount_type || '%' %>
      <div class="new-invoice-header clearfix">
        <h5 class="left">
          <% if f.object.persisted? %>
              <%= t '.title', :default => t('helpers.titles.edit', :model => t(model_class.model_name.singular),
                                            :default => "Edit #{model_class.model_name.human}") %>:
          <% else %>
              <%= t '.title', :default => t('helpers.titles.new', :model => t(model_class.model_name.singular),
                                            :default => "New  #{model_class.model_name.human}") %>:
          <% end %>
          <% selected_client = @client.present? ? @client.id : f.object.client_id %>
          <%= f.select :client_id, options_for_select(load_clients(action_name, estimate.company_id),
                                                      selected: selected_client),
                       {prompt: t('views.invoices.select_client'), include_blank: false}  %>
        </h5>
        <div class="new-invoice-action-btn right">
          <a href="#" onclick="$('.simple_submit').click();" title="<%= t('views.common.send') %>">
            <i class="material-icons">send</i>
          </a>
          <a href="#" onclick="$('.send_submit').click();" title="<%= t('views.common.save') %>">
            <i class="material-icons" >done</i>
          </a>
          <%= link_to raw("<i class='material-icons close' title='#{t('helpers.links.close')}'>close</i>"), estimates_path %>
          <% button_text = action_name == "new" ? t('views.common.save_as_draft') : t('views.common.save') %>
          <%= f.submit raw("<i class='material-icons' >done</i>"), :class => 'simple_submit submit hidden' %>
          <%= f.submit "#{button_text}", :class => 'send_submit submit hidden', :name => 'save_as_draft' %>

        </div>
      </div>
      <div class="scroll-area scrollContainer">
        <div class="info-section clearfix">
          <div class="info-left-section">
            <h6><%= estimate.estimate_number %></h6>
            <div class="date-wrapper">
                <span><%= t('estimate') %>:</span>
                <span>
                  <small id="estimate_date">
                    <% estimate_date = f.object.estimate_date.empty? ? Date.today.strftime(get_date_format) : f.object.estimate_date %>
                    <span><%= f.text_field :estimate_date, value: estimate_date, class: 'date-picker date-field-style' %></span>
                    <span><i class="material-icons" id="estimate_date_picker">date_range</i></span>
                  </small>
                </span>
            </div>

            <div class="paymentInfo">
              <strong><strong class="estimate_total_strong"></strong>
                <small>
                  <% selected_currency = if params[:action].eql?('new')
                                           Currency.default_currency.id
                                         else
                                           (@client.present? ? @client.currency_id : f.object.currency_id)
                                         end
                  %>
                  <%= f.select :currency_id, options_for_select(Currency.unscoped.collect{|c| ["#{c.unit}",c.id] }, selected: selected_currency),  {include_blank: false}, {class: 'inline-select large-select'} %>
                </small>
              </strong>
            </div>
          </div>

        </div>
        <div class="new-invoice-table-holder main-invoice">
          <table class="bordered responsive-table estimate_grid_fields" id="estimate_grid_fields">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th width="12%"><%= t('header.links.items.items') %></th>
              <th><%= t('views.common.description') %></th>
              <th class="center-align"><%= t('views.common.unit_cost') %></th>
              <th class="center-align"><%= t('views.items.quantity') %></th>
              <th class="center-align"><%= t('views.common.tax') %></th>
              <th class="right-align"><%= t('views.invoices.line_total') %></th>
            </tr>
            </thead>
            <tbody id="estimate_line_items_tbl">
            <%= f.fields_for :estimate_line_items, :wrapper => false %>
            </tbody>
          </table>
        </div>
        <div class="new-invoice-footer">
          <%= f.link_to_add t('views.invoices.add_line_item'), :estimate_line_items,
                            class: 'invoice-add-items-button addItemRow', id: 'add_line_item',
                            data: { target: '#estimate_line_items_tbl' } %>
          <div class="right-section right">
            <div class="invoice-total-left">
              <strong class="invoice-total-title"><%= t('views.invoices.subtotal') %></strong>
              <div class="new-invoice-footer-row">
                <span><%= t('views.common.discount') %></span>
                <%= f.select :discount_type, options_for_select(@discount_types, selected: f.object.discount_type), {},
                             {class: 'discount_select inline-select small-select', id: 'discount_type'} %>
              </div>
              <strong class="invoice-total-title bottom"><%= t('views.common.total') %></strong>
            </div>
            <div class="invoice-total-right">
              <%= f.hidden_field :sub_total %>
              <strong class="invoice-total-title">
                <div style="display: inline;" id="subtotal_currency_unit"><%= estimate.currency.unit rescue 'USD' %></div>
                <span><%= label_tag '', '', :id => 'estimate_sub_total_lbl' %></span>
              </strong>
              <div class="new-invoice-footer-row">
                <span id="discount_amount_currency_unit"><%= estimate.currency.unit rescue 'USD' %></span>
                <%= f.hidden_field :discount_amount %>
                <%= f.number_field :discount_percentage, class: "input-inoive-number invoice_discount line_item_qtip right-align", placeholder:  "00.00", min: 0 %>
                <%= label_tag '', '', :id => 'estimate_discount_amount_lbl', :style => 'font-weight:normal; display:none;' %>
              </div>
              <%= f.hidden_field :estimate_total %>
              <strong class="invoice-total-title bottom">
                <div style="display: inline" id="total_currency_unit"><%= estimate.currency.unit rescue 'USD' %> </div>
                <span><%= label_tag '', '0', :id => 'estimate_total_lbl', :class => 'net_total_value' %></span>
              </strong>
            </div>

          </div>
        </div>
        <div class="invoice-add-notes">
          <a href="#"><i class="material-icons">chat</i> </a>
          <div class="invoice-add-notes-textare">
            <%= f.text_area :notes, maxlength: 400, placeholder: t('views.common.add_notes') %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
    window.currency_symbol = "<%= if params[:action].eql?('new')
                                    Currency.default_currency.code
                                 else
                                   (@client.present? ? @client.currency.code : estimate.currency.code)
                                 end
                               %>";
    $(document).ready(function (){
        $('#discount_type').val('<%= dis_type %>');
        $('#discount_type').trigger('contentChanged');
        Estimate.change_estimate_item();
        Estimate.changeTax();
        Estimate.load_functions();
    });
</script>
