<tr class="fields nested-fields line-items-fields">
  <td>
    <div class="elementsAction">
      <%= link_to_remove_association raw('<i class="material-icons close intro estimates-new-false-intro" data-intro="You can remove a line item from here" data-step="8">close</i>'), f, class: 'remove_item remove_nested_fields removeItem cross-position' %>
    </div>
  </td>
  <td class="intro estimates-new-false-intro" data-intro="Here you can select the estimate item" data-step="7">
    <%= f.input :item_id, collection: (load_line_items(action_name, @estimate.company_id, f.object) << ["#{t('views.common.add_new')}", "-1"]),
                selected: f.object.item_id, prompt: t('views.common.select_item'), label: false, wrapper: false,
                include_blank: false, input_html: { class: 'items_list inline-select title-select invoice-select-align add_link_select estimate-select-client select_2',
                                                    data: {action_path: new_item_path, position: (count rescue 0)} } %>
  </td>
  <%= f.input :item_name, as: :hidden, input_html: { class: 'item_name', value: f.object.item_name }, label: false, wrapper: false %>
  <td>
    <%= f.input :item_description, label: false, wrapper: false, input_html: { class: 'description center-align' } %>
  </td>
  <td>
    <%= f.input :item_unit_cost, label: false, wrapper: false, input_html: { class: 'cost center-align' } %>
  </td>
  <td>
    <%= f.input :item_quantity, label: false, wrapper: false, input_html: { class: 'qty center-align', min: 1 } %>
  </td>
  <td class="center-align tax-class intro estimates-new-false-intro" data-intro="From here you can apply any tax on a line item" data-step="9">
    <%= f.select(:tax_1, options_for_select(load_line_item_taxes1(f.object), selected: f.object.tax_1), {prompt: t('views.taxes.select_tax_1'), include_blank: ''}, {'data-placeholder' => '', class: 'tax tax1 inline-select table-select tax_select'}) %>
  </td>
  <td class="center-align tax-class">
    <%= f.select(:tax_2, options_for_select(load_line_item_taxes2(f.object), selected: f.object.tax_2), {prompt: t('views.taxes.select_tax_2'), include_blank: ''}, {'data-placeholder' => '', class: 'tax tax2 inline-select table-select tax_select'}) %>
  </td>
  <td class="align_right"><%= label_tag 'line total', '0.00', :class => 'blank_input grid_medium line_total' %></td>
</tr>
