<!--- Activity sidebar --->

<aside id="activity-sidebar" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <span class="btn-activity"><i class="material-icons">
    keyboard_arrow_left
  </i></span>
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <h5 class=" intro estimates-index-false-intro" data-intro="Here you can see the total sum of your active estimates">
        <%= link_to t('views.common.active'), activities_estimates_path('active'), :class => "get_actives #{'active' if params[:status] == 'active'}" %>
        <span id="actives">(<%= get_count(params.merge(status: 'unarchived')) %>)</span>
      </h5>
      <div class="amount"><%= number_to_currency(@estimate_activity[:active_estimates_total], unit: default_currency_unit) %></div>
      <% @estimate_activity[:active_estimate_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @estimate_activity[:active_estimates_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>

    </div>
    <div class="status-info">
      <h5 class="intro estimates-index-false-intro" data-intro="Here you can see the total sum of your deleted estimates">
        <%= link_to t('views.common.deleted'), activities_estimates_path('deleted'), :class => "get_deleted #{'active' if params[:status] == 'deleted'}" %>
        <span id="deletes">(<%= get_count(params.merge(status: 'only_deleted')) %>)</span>
      </h5>
      <div class="amount"><%= number_to_currency(@estimate_activity[:deleted_estimates_total], unit: default_currency_unit )%></div>
      <% @estimate_activity[:deleted_estimate_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @estimate_activity[:active_estimates_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="status-info">
      <h5 class=" intro estimates-index-false-intro" data-intro="Here you can see the total sum of your archived estimates">
        <%= link_to t('views.common.archived'), activities_estimates_path('archived'), :class => "get_archived #{'active' if params[:status] == 'archived'}" %>
        <span id="archives">(<%= get_count(params.merge(status: 'archived')) %>)</span>
      </h5>
      <div class="amount"><%= number_to_currency(@estimate_activity[:archived_estimates_total], unit: default_currency_unit )%></div>
      <% @estimate_activity[:archived_estimates_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @estimate_activity[:archived_estimates_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <% if action_name.eql?('index') %>
      <div class="status-info actionState">
        <%= form_tag '', method: :get, remote: true do %>
          <div class="ui list">
            <% Estimate::STATUS_DESCRIPTION.each do |status, description|%>
              <div class="item">
                <div class="ui checkbox">
                  <h5>
                    <input class="filter-status filled-in" name="type[]" id="<%= status %>" value="<%= status %>" type="checkbox" <%= (params[:type] and params[:type].include?(status.to_s)) ? "checked='checked'" : false %>>
                    <label for="<%= status %>" class="<%= pick_status_color[status] %>"><%= t('views.invoices.' + status.to_s) %></label>

                  </h5>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</aside>