<div id="invoice_model" class="modal estimate_modal">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <div class="modal-action-btn right">
        <%= link_to raw("<i class='material-icons'>create</i>"),edit_estimate_path(estimate),
                    class: 'edit_estimate_icon', title: t('helpers.links.edit') unless (current_portal_client.present? || session[:masquerade_client_id].present?) %>
        <%= link_to raw("<i class='material-icons'>send</i>"), send_estimate_estimates_url(id: estimate.id),
                    title: t('views.common.send') unless (current_portal_client.present? || session[:masquerade_client_id].present?) %>
        <%= link_to raw("<i class='material-icons'>print</i>"), {:controller => 'estimates',
                                                                 :action => 'estimate_pdf',
                                                                 :id => estimate.encrypted_id,
                                                                 :format => "pdf"},
                    :target => '_blank', title: t('views.common.print') %>
        <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
      <h5 class="left">
        <span><%= @client.organization_name rescue '' %></span>
      </h5>
    </div>
    <div class="info-section clearfix">
      <div class="info-left-section left">
        <h6><%= estimate.estimate_number %>: <span><bold><%= estimate.company.company_name %></bold></span></h6>
        <span><%= t('estimate') %>: <small> <%= estimate.estimate_date rescue "" %> </small></span>

        <div class="paymentInfo">
          <strong><%= number_to_currency(estimate.estimate_total, unit: '') %> <small><%= estimate.currency.unit %></small></strong>
        </div>
      </div>
      <% unless estimate.company.logo_url.blank? %>
        <div class="info-right-section right circle">
          <%= request.format.pdf? ? (wicked_pdf_image_tag  estimate.company.logo_url(:thumb)) : (image_tag estimate.company.logo_url(:thumb), class: 'responsive-img') %>
        </div>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="estimate-popup">
        <div class="new-estimate-table-holder <%= taxes_class %>">
          <%= render partial: 'estimates/estimate_items', locals: {estimate: @estimate} %>
        </div>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <div class="right-section right">
        <div class="item-result">
          <div class="table-row">
            <span><strong><%= t('views.estimates.subtotal') %></strong></span>
            <span><strong><%= number_to_currency(estimate.sub_total, unit: estimate.currency.present? ? estimate.currency.unit : '$') %></strong></span>
          </div>
          <div class="table-row">
            <span><%= t('views.common.discount') %> <%= estimate.discount_percentage %><%= estimate.discount_type %></span>
            <span><%= number_to_currency(estimate.discount_amount, unit: estimate.currency.present? ? estimate.currency.unit : '$') %></span>
          </div>
          <% unless estimate.tax_detail_with_discount.blank? %>
            <%= taxes_list(estimate.tax_detail_with_discount,estimate) %>
          <% end %>
          <div class="table-row">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="item-total">
          <div class="table-row">
            <span><strong><%= t('views.common.total') %></strong></span>
            <span><strong><%= number_to_currency(estimate.estimate_total, unit: estimate.currency.present? ? estimate.currency.unit : '$') %></strong></span>
          </div>
        </div>
      </div>
      <div class="left-section left notes-section clearfix">
        <strong><%= t('views.common.notes') %>: </strong> <%= @estimate.notes %>
      </div>
    </div>
    <%= render 'estimates/estimate_history' unless (request.format.pdf? || current_portal_client.present? || session[:masquerade_client_id].present? ) %>
    <div class="modal-footer clearfix">
      <div class="left-section left">
        <p><%= t('views.estimates.this_estimate_was_sent_using') %> <%= link_to image_tag('m-bottom-logo.jpg', alt: "bottom-logo", class: "responsive-img"), 'http://opensourcebilling.org/' %></p>
      </div>
    </div>

  </div>
</div>