<% if @estimates.count > 0 %>
    <div class="new-invoice-holder">
      <div class="new-invoice-table-holder main-invoice page-box">
        <table class="bordered grid-view">
          <thead>
          <tr>
            <th class="align_center td-checkbox checkbox-item">
              <%= check_box_tag 'select_all', 1, false, class: 'fix-left-and-opacity', title: 'Select All', id: 'select_all_items' %>
            </th>
            <th><%= t('estimate') %></th>
            <th><%= t('client') %></th>
            <th><%= t('views.common.date') %></th>
            <th><%= t('views.common.total') %></th>
            <th><%= t('views.common.status') %></th>
            <th class="center-align"><%= t('helpers.actions') %></th>
          </tr>
          </thead>
          <tbody class="table-view-body">
          <% @estimates.each do |estimate| %>
              <tr class="invoice-card">
                <td class="align_center td-checkbox checkbox-item">
                  <%= check_box_tag "estimate_ids[]", estimate.id, false, :id => "estimate_#{estimate.id}", class: 'fix-left-and-opacity' %>
                </td>
                <td>
                  <strong><%= link_to_if !estimate.deleted?, estimate.estimate_number, estimate , remote: true, class: 'invoice_show_link'%></strong>
                </td>
                <td><%= estimate.unscoped_client.organization_name rescue '' %></td>
                <td><%= estimate.estimate_date rescue '' %></td>
                <td>
                  <em>
                    <%= "#{number_to_currency(estimate.estimate_total, unit: estimate.currency.present? ? estimate.currency.code : "$")} " %> <span><%= estimate.currency.unit%></span>
                  </em>
                </td>
                <td class="<%= estimate.status %>" title="<%= estimate.tooltip %>">
                  <span class="invoice-action <%= pick_status_color[estimate.status.to_sym] %>"><%= t('views.invoices.' + estimate.status.downcase) %></span>
                </td>
                <td class="action-btn-group">
                  <% if estimate.deleted? %>
                      <a href="javascript:;" class="single_recover_deleted" title="Recover"><i class="material-icons">unarchive</i></a>
                  <% else %>
                      <%= link_to raw("<i class='material-icons'>send</i>"), send_estimate_estimates_path(id: estimate.id),
                                  title: t('views.common.send') %>
                      <%= link_to raw("<i class='material-icons'>create</i>"),edit_estimate_path(estimate), class: 'edit_estimate_icon',
                                  title: t('helpers.links.edit') %>
                      <%= link_to raw("<i class='material-icons'>delete</i>"),estimate, method: :delete,
                                  data:{confirm: t('helpers.messages.confirm'),
                                        success: t('views.estimates.estimate_deleted_msg')},
                                  title: t('helpers.links.delete') %>
                      <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown_<%= estimate.id %>' data-alignment="right" data-beloworigin="true">
                        <i class="material-icons">more_vert</i>
                      </a>
                      <!-- Dropdown Structure -->
                      <ul id="dropdown_<%= estimate.id %>" class='dropdown-content z-depth-4'>
                        <% if !estimate.archived? %>
                            <li>
                              <a href="javascript:;" class="single_archive">
                                <i class="material-icons">archive</i>
                                <%= t('views.common.send_to_archive') %>
                              </a>
                            </li>
                        <% else %>
                            <li>
                              <a href="javascript:;" class="single_recover">
                                <i class="material-icons">unarchive</i>
                                <%= t('helpers.links.recover') %>
                              </a>
                            </li>
                        <% end %>
                        <li>
                          <%= link_to raw("<i class='material-icons'>payment</i>#{t('views.common.convert_to_invoice')}"),
                                      convert_to_invoice_estimate_path(estimate) %>
                        </li>
                      </ul>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
