<%= render 'estimate_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="row">
    <!--- breadcrum Bar --->
    <div class="col s12 breadcrum-bar">
      <div class="card-white-panel ">
        <h3>
          Estimates
          <%= link_to "/ #{@status.humanize}",estimates_url(status: @status) %>
        </h3>
      </div>
    </div>
    <div class="invoice-box mCustomScrollbar clearfix">
      <!--- Invoices Card Title--->
      <%= form_tag "estimates/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>
          <% @estimates.group_by { |d| d.group_date }.each do |date, estimates| %>
              <p><span class="activity-date"><%= date %></span></p>
              <div class="clearfix">
                <%= render partial: 'estimate_card', collection: estimates, as: :estimate %>
              </div>
          <% end %>
          <%= render partial: 'bulk_actions'%>

      <% end %>

    </div>
  </div>
</div>
