<%= render 'estimate_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="flex-wrapper">
    <div class="flex-item col-sm-12 breadcrum-bar">
      <div class="card-white-panel">
        <h3 class="intro estimates-new-false-intro" data-intro="Here you can create your new active estimate" data-step="1">
          <span><%= link_to t('header.links.estimates.estimates'), estimates_url %> </span>
          <%= link_to "/ #{t('views.common.active')}", estimates_url %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box-holder">
    <%= render partial: 'estimate_form', locals: {estimate: @estimate} %>
  </div>
</div>

