<div>
  <b><%= client.organization_name %></b><br>
</div>
<div>
  <%= client.full_name %>
</div>
<div>
  <%= [client.address_street1, client.address_street2].compact.join(', ') || 'n/a' %>, <%= client.city || 'n/a' %>, <%= client.country || 'n/a' %><br>
  Tel: <%= client.mobile_number || client.business_phone || 'n/a' %><br>
  <%= client.vat_number %>
</div>