<h4><strong><%= company.company_name %></strong></h4>
<br>
<div>
  <%= [company.street_address_1, company.street_address_2].compact.join(', ') %>, <%= company.city %>, <%= company.country %><br>
  Tel: <%= company.phone_number %>
</div>