<div class="grid_control_right">
  <ul>
    <li class="grid_control_sep sep_right">
      <%= link_to "Active", "invoices/filter_invoices?status=active#{query_string(params.merge(per: session["#{controller_name}-per_page"]))}", :class => "get_actives active", :remote => true %>
      <span id="actives">(<%= get_count(params.merge(status: 'unarchived')) %>)</span>
    </li>
    <li class="grid_control_sep sep_right">
      <%= link_to "Archived", "invoices/filter_invoices?status=archived#{query_string(params.merge(per: session["#{controller_name}-per_page"]))}", :class => "get_archived", :remote => true %>
      <span id="archives">(<%= get_count(params.merge(status: 'archived')) %>)</span>
    </li>
    <li>
      <%= link_to "Deleted", "invoices/filter_invoices?status=deleted#{query_string(params.merge(per: session["#{controller_name}-per_page"]))}", :class => "get_deleted", :remote => true %>
      <span id="deletes">(<%= get_count(params.merge(status: 'only_deleted')) %>)</span>
    </li>
  </ul>
</div>
