<% dis_type = '' %>
<div class="new-invoice-holder editInvoice invoice-form-container">
  <%= simple_form_for invoice, remote: true, html: { class: 'invoice-form form-invoice form-horizontal nested-forms' } do |f| %>
    <% dis_type = f.object.discount_type || '%' %>
    <div class="new-invoice-header clearfix">
      <%= render 'form_action_links', f: f %>
      <%= render 'form_heading', f: f, invoice: invoice %>
    </div>

    <div class="scroll-area">
      <div class="info-section clearfix">
        <div class="info-left-section new-invoice-section">


          <span class="label-font intro invoices-new-false-intro" data-intro = 'Here you can select the client for which you are creating invoice' data-step= '5'><%= t('views.clients.client') %> </span>
          <% selected_client = @client.present? ? @client.id : f.object.client_id %>
          <%= f.select :client_id, (options_for_select((load_clients(action_name, invoice.company_id)),
                                                       selected: selected_client)+"<option value='-1'>#{t('views.common.add_new')}</option>".html_safe),
                       {prompt: t('views.invoices.select_client'), include_blank: false}, data: {action_path: new_client_path}, class: 'add_link_select invoice-client-select select_2' %>

          <div class="terms ">
            <span class="label-font intro invoices-new-false-intro" data-intro = 'Here you can select the payment terms' data-step= '6'><%= t('views.invoices.terms') %>: </span>
            <%= f.select :payment_terms_id, options_for_select(PaymentTerm.all.map { |p| [p.description, p.id, {'number_of_days' => p.number_of_days}] }, :selected => selected_payment_term(f.object)), {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a payment term...", :class => "payment_terms payment-term-dropdown invoice-client-select select_2", "data-form-container" => "payment_terms_holder", "data-dropdown-width" => "300"} %>
          </div>
          <div class="paymentInfo">
            <strong><strong class="invoice_total_strong"></strong>
              <% selected_currency = invoice_selected_currency(f.object) %>
              <%= f.input :currency_id, collection: Currency.unscoped.collect{|c| [c.unit,c.id] }, selected: selected_currency,
                          include_blank: false, input_html: { class: 'inline-select currency-select', disabled: currency_is_off? }, wrapper_tag: :small, label: false %>

              <div class="base-currency-conversion">
                <%= f.input :conversion_rate, label: 'Conversion Rate (Base Currency Value)' %>

                <strong class="invoice_total_base_currency"></strong>
                <%= f.input :base_currency_equivalent_total, as: :hidden %>
                <%= f.input :base_currency_id, collection: Currency.where(id: current_company_obj.base_currency_id).collect{|c| [c.unit, c.id] }, selected: current_company_obj.base_currency_id,
                            include_blank: false, input_html: { class: 'inline-select currency-select', disabled: currency_is_off? }, wrapper_tag: :small, label: false %>

              </div>

            </strong>
          </div>
        </div>
        <div class="info-right-section recurring_checkbox" >
          <%= f.input :invoice_date, wrapper_tag: :span, label_html: { class: 'intro invoices-new-false-intro', :'data-intro' => 'Here you can select the invoice date for your invoice', :'data-step' => '7' },
                      input_html: { class: 'date-field-style1 date_picker', value: f.object.invoice_date, id: 'invoice_date_picker' }, as: :string %>
          <%= f.input :due_date, wrapper_tag: :span, label_html: { class: 'intro invoices-new-false-intro', :'data-intro' => 'Here you can select the due date for your invoice', :'data-step' => '8' },
                      input_html: { class: 'date-field-style1 date_picker', id: 'invoice_due_date_picker', value: f.object.due_date }, as: :string %>



          <% has_recurring = invoice.new_record? ? false : !invoice.recurring_schedule.new_record? %>
          <%= check_box_tag 'recurring', true, has_recurring, class: 'filled-in' %>
          <label for="recurring intro invoices-new-false-intro" data-intro = 'Here you can set the recurring procedure for your invoice' data-step= '9'><h6><%= t('views.common.recurring') %></h6></label>
          <div class="show-me" id="recurring_schedule_container">
            <%=  f.simple_fields_for :recurring_schedule do |rs| %>
              <div class="">
                <% next_invoice_date = has_recurring ? (rs.object.next_invoice_date.strftime(get_date_format) rescue "") :  f.object.invoice_date %>
                <div class="date-wrapper">
                  <span class="next-invoice-date"><%= t('views.invoices.next_issue_date') %>:</span>
                  <span>
                      <small>
                        <%= rs.input :next_invoice_date, label: false, input_html: { class: 'date-field-style date_picker', value: next_invoice_date, id: 'next_issue_date' },
                                     wrapper_tag: :small, as: :string %>
                        <span><i class="material-icons calendar-icon">date_range</i></span>
                      </small>
                    </span>
                </div>
                <div class="invoice-input-holder">
                  <%= rs.input :frequency, collection: Invoice_FREQUENCY.map{|key, val| [t('views.invoices.' + key.downcase), val]},
                               include_blank: false, label: t('helpers.messages.how_ofter'), wrapper_html: { class: 'input-field' },
                               input_html: { class: 'input-select' }, boolean_style: :inline, label_html: { class: 'active lb_contents' } %>
                  <%= rs.input :occurrences, label: t('helpers.messages.how_many'), label_html: { class: 'active lb_contents' },
                               wrapper_html: { class: 'input-field' },
                               input_html: { class: 'recurring_occurrences', min: 0,
                                             onkeydown: 'javascript: return event.keyCode == 69 ? false : true',
                                             id: 'how_many_rec' }
                  %>
                </div>
                <% draft_invoice = invoice.new_record? || rs.object.delivery_option.eql?("draft_invoice") %>
                <%= rs.input :delivery_option, as: :radio_buttons, label: false,
                             collection: [['send_invoice', t('views.invoices.send_invoice_automatically')],
                                          ['draft_invoice', t('views.invoices.create_draft_and_send_manully')]],
                             checked: 'send_invoice',
                             label_method: :second, value_method: :first, wrapper_html: { class: 'invoice-input-holder rad-holder' },
                             boolean_style: :inline %>
                <%= rs.input :_destroy, as: :hidden %>
              </div>
              </div>
            <% end %>
            </div>
      </div>
    </div>
    <div class="new-invoice-table-holder main-invoice ">
      <table id="invoice_grid_fields" class="invoice_grid_fields invoice-grid-table">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="item_name_width center-align"><%= t('views.common.item') %></th>
          <th class="item_desc_width center-align"><%= t('views.common.description') %></th>
          <th class="item_unit_cost_width center-align"><%= t('views.common.unit_cost') %></th>
          <th class="item_quantity_width center-align"><%= t('views.items.quantity') %></th>
          <th class="item_tax_width center-align"><%= t('views.common.tax') %> 1</th>
          <th class="item_tax_width center-align"><%= t('views.common.tax') %> 2</th>
          <th class="item_total_width align_right"><%= t('views.common.total') %></th>
        </tr>
        </thead>
        <tbody id="invoice_line_items_tbl" class="invoice-line-items-table">
        <%= f.simple_fields_for :invoice_line_items do |invoice_line_item| %>
          <%= render 'invoice_line_item_fields', f: invoice_line_item, count: invoice_line_item.index %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="new-invoice-footer">
      <%= link_to_add_association t('views.invoices.add_line_item'), f, :invoice_line_items, class: 'invoice-add-items-button addItemRow',
                                  id: 'add_line_item', data: { association_insertion_node: '#invoice_line_items_tbl',
                                                               association_insertion_method: :append } %>
      <div class="right-section right">
        <div class="invoice-total-left">
          <strong class="invoice-total-title"><%= t('views.invoices.subtotal') %></strong>
          <%= f.input :discount_type, collection: @discount_types, selected: f.object.discount_type, label: t('views.common.discount'),
                      input_html: { class: 'discount_select inline-select small-select invoice-client-select', id: 'discount_type' },
                      wrapper_html: { class: 'new-invoice-footer-row' } %>
          <%= f.input :tax_id, collection: Tax.all.collect{|t| [t.name, t.id, {'data-tax_percentage'=>t.percentage.to_f}] }, selected: f.object.tax_id,
                      label: t('views.common.tax'), prompt: t('views.common.select'), include_blank: t('views.common.select'), wrapper_html: { class: 'new-invoice-footer-row invicetax' },
                      input_html: { class: 'discount_select inline-select small-select currency-select'} %>
          <div class="new-invoice-footer-row taxes_total"></div>
          <strong class="invoice-total-title bottom"><%= t('views.common.total') %></strong>
        </div>
        <div class="invoice-total-right">
          <%= f.input :sub_total, as: :hidden, label: false, wrapper: false %>
          <strong class="invoice-total-title"><div style="display: inline;" id="subtotal_currency_unit"><%= invoice.currency.unit rescue 'USD' %></div> <span><%= label_tag '', '', :id => 'invoice_sub_total_lbl' %></span></strong>
          <div class="new-invoice-footer-row">
            <span id="discount_amount_currency_unit"><%= invoice.currency.unit rescue 'USD' %></span>
            <%= f.input :discount_amount, as: :hidden, label: false, wrapper: false %>
            <%= f.input :discount_percentage, label: '', label_html: { id: 'invoice_discount_amount_lbl', style: 'font-weight:normal; display:none;' },
                        input_html: { class: 'input-inoive-number invoice_discount line_item_qtip right-align', placeholder:  "00.00", min: 0 }, wrapper: false %>
          </div>
          <div class="new-invoice-footer-row invicetax">
            <span id="tax_currency_unit"><%= invoice.currency.unit rescue 'USD' %></span>
            <%= f.input :invoice_tax_amount, label: false, wrapper: false,
                        input_html: { class: 'input-inoive-number invoice_tax line_item_qtip right-align',
                                      placeholder:  "00.00", readOnly: true }  %>
          </div>
          <%= f.input :tax_amount, as: :hidden, label: false, wrapper: false %>
          <%= f.input :invoice_total, as: :hidden, label: false, wrapper: false %>
          <div class="new-invoice-footer-row taxes_total values"></div>
          <strong class="invoice-total-title bottom">
            <div style="display: inline;" id="total_currency_unit"><%= invoice.currency.unit rescue 'USD' %></div>
            <span><%= label_tag '', '0', :id => 'invoice_total_lbl', :class => 'net_total_value' %></span>
          </strong>
        </div>

      </div>
    </div>
    <div class="invoice-add-notes">
      <a href="#"><i class="material-icons">chat</i> </a>
      <%= f.input :notes, label: false, as: :text, input_html: { placeholder: t('views.common.add_notes'), maxlength: 400},
                  wrapper_html: { class: 'invoice-add-notes-textare'} %>
    </div>
    <% if f.object.persisted? %>
      <%= render 'invoice_history' %>
    <% end %>
    </div>
  <% end %>
  </div>

  <script>
      window.currency_symbol = "<%= if params[:action].eql?('new')
                                    Currency.default_currency.code
                                 else
                                   (@client.present? ? @client.currency.code : invoice.currency.code)
                                 end
                               %>";
      $(document).ready(function (){
          $('#discount_type').val('<%= @invoice.discount_type || '%' %>');

          Invoice.change_invoice_item();
          Invoice.changeTax();
          OsbPlugins.load_functions();


          set_client_currency = "<%= set_client_currency_invoices_path %>"
          jQuery("#invoice_client_id").on('change', function(){
              $.get(set_client_currency+'?client_id=' + $(this).val())
          })
      });
  </script>