<table class="bordered responsive-table">
  <thead>
  <tr>
    <th><%= t('views.common.item') %></th>
    <th><%= t('views.common.description') %></th>
    <th class="center-align"><%= t('views.common.unit_cost') %></th>
    <th class="center-align"><%= t('views.items.quantity') %></th>
    <th class="center-align">Tax</th>
    <th class="right-align"><%= t('views.invoices.line_total') %></th>
  </tr>
  </thead>

  <tbody>
  <% invoice.invoice_line_items.each do |item|
    item_line_total= (item.item_unit_cost ||0) * (item.item_quantity ||0)
    item_line_total+= (item_line_total * item.tax1.percentage.to_f / 100.0) if item.tax1
  %>
      <tr>
        <td><%= item.item_name rescue "" %></td>
        <td><%= item.item_description %></td>
        <td class="center-align"><%= number_to_currency(item.item_unit_cost, unit: "") %></td>
        <td class="center-align"><%= item.item_quantity.to_i %></td>
        <td class="center-align"><%= item.tax1.name rescue ''%></td>
        <td class="right-align"><%= number_to_currency(item_line_total, unit: "") %></td>
      </tr>
  <% end %>
  </tbody>
</table>