<h3><b><%= action_name.eql?('invoice_receipt') ? 'PAYMENT RECEIPT' : 'INVOICE' %></b></h3>
<div>
  <div><b>Invoice Date:</b> <%= @invoice.invoice_date %></div>
  <div><b>Due Date:</b> <%= @invoice.due_date %></div>
  <div><b>INVOICE #:</b> <%= @invoice.formatted_invoice_number %></div>
</div>


<div>
  <div><b>Invoice Type: </b><%= 'Regular' %></div>
  <div><b>Billing Month: </b><%= "#{@invoice.invoice_date.to_date.strftime("%B")} #{@invoice.invoice_date.to_date.strftime("%Y")}" rescue @invoice.invoice_date %></div>
</div>