<h3><b>INVOICE</b></h3>
<br>
<div>
  <div>Invoice Date: <%= @invoice.invoice_date %></div>
  <div>Due Date: <%= @invoice.due_date %></div>
  <div>INVOICE #: <%= @invoice.invoice_number %></div>
</div>

<br><br>

<div>
  <div><b>Invoice Type: </b><%= 'Regular' %></div>
  <div><b>Billing Month: </b><%= @invoice.invoice_date %></div>
</div>