<%- model_class = Invoice -%>
<%= nested_form_for invoice, :html => {:class => 'invoice-form form-horizontal', :novalidate => ""} do |f| %>
    <div class="modal-header clearfix text-content">
      <h5 class="left text-blue">
        <% if f.object.persisted? %>
            <%= t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                          :default => "Edit #{model_class.model_name.human}") %>:
        <% else %>
            <%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                          :default => "New  #{model_class.model_name.human}") %>:
        <% end %>


        <% selected_client = @client.present? ? @client.id : f.object.client_id %>
        <%= f.select :client_id, options_for_select(load_clients(action_name, invoice.company_id), selected: selected_client),  {prompt: "Select Client", include_blank: false}, {:class => "inline-select content-select title-select" } %>
      </h5>
      <div class="modal-action-btn right">
        <a href="#" onclick="$('.simple_submit').click();"> <i class="material-icons" >done</i></a>
        <a href="#" onclick="$('.send_submit').click();"><i class="material-icons">send</i></a>
        <% button_text = action_name == "new" ? t('views.common.save_as_draft') : t('views.common.save') %>
        <%= f.submit raw("<i class='material-icons' >done</i>"), :class => 'simple_submit submit hidden' %>
        <%= f.submit "#{button_text}", :class => 'send_submit submit hidden', :name => 'save_as_draft' %>
      </div>
    </div>
    <div class="info-section clearfix">
      <div class="info-left-section left">
        <h6><%= invoice.invoice_number %></h6>
        <span>Invoice: <small id="invoice_date"> <%= f.object.invoice_date %></small> <i class="material-icons" id="invoice_date_picker">date_range</i></span>
        <span class="text-blue"> Due: <small id="invoice_due_date_text"> <%= f.object.due_date.present? ? f.object.due_date : 'TBD'   %> </small> <i class="material-icons" id="invoice_due_date_picker">date_range</i></span>
        <%= f.hidden_field :invoice_date,value: f.object.invoice_date, :required => "" %>
        <%= f.hidden_field :due_date, :placeholder => "TBD" %>
        <div class="terms">
          <span>Terms:</span>
          <small>
            <%= f.select :payment_terms_id, options_for_select(PaymentTerm.all.map { |p| [p.description, p.id, {'number_of_days' => p.number_of_days}] }, :selected => f.object.payment_terms_id), {:include_blank => false}, {class: 'inline-select content-select'} %>
          </small>
        </div>
        <div class="editPayementInfo">
          <strong><strong class="invoice_total_strong"></strong>
            <small>
              <% selected_currency = (@client.present? ? @client.currency_id : f.object.currency_id) %>
              <%= f.select :currency_id, options_for_select(Currency.all.collect{|c| ["#{c.unit} #{c.title}",c.id] }, selected: selected_currency),  {include_blank: false}, {class: 'inline-select large-select'} %>
            </small>
          </strong>
        </div>
      </div>
      <% unless f.object.company.blank? or f.object.company.logo_url.blank? %>
          <div class="info-right-section right circle">
            <%= image_tag(invoice.company.logo_url(:thumb), class: 'responsive-img') %>
          </div>
      <% end %>
    </div>
    <div class="modal-body">
      <table class="bordered responsive-table invoice_grid_fields" id="invoice_grid_fields">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t('item') %></th>
          <th><%= t('views.common.description') %></th>
          <th class="center-align"><%= t('views.common.unit_cost') %></th>
          <th class="center-align"><%= t('views.common.qty') %></th>
          <th class="center-align"><%= t('views.common.tax') %>1</th>
          <th class="center-align"><%= t('views.common.tax') %>2</th>
          <th class="right-align"><%= t('views.invoices.line_total') %></th>
        </tr>
        </thead>
        <tbody id="invoice_line_items_tbl">
            <%= f.fields_for :invoice_line_items, :wrapper => false %>
        </tbody>
        <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td class="add_line_item_row"><%= f.link_to_add t("views.invoices.add_line_item"), :invoice_line_items, class: 'add_line_item_row addItemRow', id: 'add_line_item', data: { target: '#invoice_line_items_tbl' } %></td>
        </tr>
        </tfoot>

      </table>
    </div>
    <div class="modal-footer clearfix">
      <div class="right-section left">
        <!--<a href="#" class="addItemRow">Add line item</a>-->
        <%#= f.link_to_add t("views.invoices.add_line_item"), :invoice_line_items, class: 'addItemRow add_line_item_row', id: 'add_line_item' %>
      </div>
      <div class="right-section right grid_summary_description">
        <div class="item-result">
          <div class="table-row">
            <%= f.hidden_field :sub_total %>
            <span><strong>Subtotal</strong></span>
            <span><strong><%= label_tag '', '', :id => 'invoice_sub_total_lbl' %></strong></span>
          </div>
          <div class="table-row">
            <span>
                Discount  &nbsp;&nbsp;
              <%= f.select :discount_type, @discount_types, { selected: f.object.discount_type } , {:class => "discount_select inline-select small-select", :id => "discount_type"} %>
            </span>
            <span class="input-field">
              <%= f.hidden_field :discount_amount %>
              <%= f.text_field :discount_percentage, :class => "invoice_discount line_item_qtip right-align", placeholder:  "00.00" %>
              <%= label_tag '', '', :id => 'invoice_discount_amount_lbl', :style => 'font-weight:normal; display:none;' %>
            </span>
          </div>
          <%= f.hidden_field :tax_amount %>
          <div class="taxes_total">
            <% @invoice.tax_detail_with_discount.map do |tax, amount| %>
                <div class="table-row">
                  <span><%= tax %></span>
                  <span class="grid_summary_description tax_amount"><%= amount%></span>
                </div>
            <% end %>
          </div>

        </div>
        <div class="item-total net_total">
          <div class="table-row">
            <span><strong><%= t('views.invoices.net_total') %></strong></span>
            <%= f.hidden_field :invoice_total %>
            <span><strong><%= label_tag '', '0', :id => 'invoice_total_lbl', :class => 'net_total_value' %></strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="commentSection clearfix">
      <div class="comments-content">
        <a href="#" class="chatIcon"><i class="material-icons">chat</i></a>
        <%= f.text_area :notes, maxlength: 400 %>
      </div>
    </div>
<% end %>
