<div class="flex-item box">
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= link_to '', invoice , remote: true, class: 'invoice_show_link', style: 'display: none' unless @status.eql?('deleted') %>
  <div class="card-white-panel invoice-card invoice" data-invoice_id= <%=invoice.id %>>
    <div class="checkbox-item">
      <%= check_box_tag "invoice_ids[]", invoice.id, false, :id => "invoice_#{invoice.id}", class: "filled-in" %>
      <label for="<%= "invoice_#{invoice.id}" %>"></label>
      <div class="invoice-name <%= random_card_color %>"><%= invoice.invoice_name%></div>
    </div>
    <div class="invoice-details">
      <h5><%= invoice.unscoped_client.organization_name %></h5>
      <strong><%= invoice.invoice_number %></strong>
      <em><%= "#{number_to_currency(invoice.invoice_total, unit: invoice.currency.present? ? invoice.currency.code : "$")} " %><span><%= invoice.currency.unit%></span></em>
      <div class="card-footer clearfix">
        <span class="invoice-recurring-status invoice-date <%= "mg-btm" unless invoice.recurring_status.present? %> "> <%= invoice.recurring_status %> </span>
        <span class="invoice-date"><small>Due:</small> <%= default_date invoice.due_date.to_date rescue "" %></span>
        <span class="invoice-action <%= pick_status_color[invoice.status.to_sym] %>"><%= invoice.status %></span>
      </div>
    </div>
    <div class="action-btn-group">

      <% if @status.eql?('deleted') %>
          <a href="javascript:;" class="single_recover_deleted" title="Recover"><i class="material-icons">unarchive</i></a>
      <% else %>
          <%= link_to raw("<i class='material-icons'>send</i>"), send_invoice_invoices_url(id: invoice.id), title: "Send" %>
          <%= link_to raw("<i class='material-icons'>create</i>"),edit_invoice_path(invoice), class: 'edit_invoice_icon', title: "Edit" unless invoice.invoice_type.eql?('ProjectInvoice') %>
          <%= link_to raw("<i class='material-icons'>delete</i>"),invoice, title: "Delete", method: :delete, data:{confirm: 'Are you sure?' } %>
          <%= link_to raw("<i class='material-icons'>visibility</i>"), invoice, title: "show", target: '_blank' %>
          <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown_<%= invoice.id %>' data-alignment="right" data-beloworigin="true">
            <i class="material-icons">more_vert</i>
          </a>
          <!-- Dropdown Structure -->
          <ul id="dropdown_<%= invoice.id %>" class='dropdown-content z-depth-4'>
            <% if @status.eql?('active') %>
                <li><a href="javascript:;" class="single_archive" title="Archive"><i class="material-icons">archive</i> Send to Archive</a></li>
            <% elsif @status.eql?('archived') %>
                <li><a href="javascript:;" class="single_recover" title="Unarchive"><i class="material-icons">unarchive</i> Recover </a></li>
            <% end %>
            <li><%= link_to raw("<i class='material-icons'>payment</i>Enter Payment"), enter_payment_payments_path(invoice_ids: invoice.id), remote: true  unless invoice.status.eql?("paid") %></li>
            <li><%= link_to raw("<i class='material-icons close'>close</i>Stop Recurring"), stop_recurring_invoice_path(invoice)  if invoice.is_recurring_invoice? %></li>
          </ul>
      <% end %>
    </div>
  </div>
</div>