<!--- Activity sidebar --->
<span class="btn-activity">Activities</span>
<aside id="activity-sidebar">
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <h5><a href="#">Active </a><span>(<%= get_count(params.merge(status: 'unarchived')) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@invoice_activity[:active_invoices_total], unit: default_currency_unit) %></div>
      <% @invoice_activity[:active_invoice_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @invoice_activity[:active_invoices_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>

    </div>
    <div class="status-info">
      <h5><a href="#">Recurring </a><span>(<%= @recurring_profile_activity[:count] %>)</span></h5>
      <div class="amount"><%= number_to_currency(@recurring_profile_activity[:total], unit: default_currency_unit )%></div>
      <% @recurring_profile_activity[:invoice_progress].each do |date, amount| %>
          <div class="aged-ar">
            <small><%= date %></small>
            <span><%= number_to_currency(amount, unit: '')%><small>USD</small></span>
          </div>
          <div class="progress">
            <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @recurring_profile_activity[:total]) %>%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          </div>
      <% end %>
    </div>
    <div class="status-info">
      <h5><a href="#">Deleted</a><span>(<%= get_count(params.merge(status: 'only_deleted', user: current_user, current_company: session['current_company'])) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@recurring_profile_activity[:deleted_invoices_total], unit: default_currency_unit )%></div>
      <% @invoice_activity[:deleted_invoice_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @invoice_activity[:deleted_invoices_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="status-info">
      <h5><a href="#">Archived</a><span>(<%= get_count(params.merge(status: 'archived', user: current_user, current_company: session['current_company'])) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@recurring_profile_activity[:archived_invoices_total], unit: default_currency_unit )%></div>
      <% @invoice_activity[:archived_invoices_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @invoice_activity[:archived_invoices_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="status-info actionState">
      <h5 class="text-blue"><a href="#">Sent</a><span> (<%= @invoice_activity[:sent] %>)</span></h5>
      <h5 class="text-green"><a href="#">Paid</a><span> (<%= @invoice_activity[:paid] %>)</span></h5>
      <h5 class="text-orange"><a href="#">Partial</a><span> (<%= @invoice_activity[:partial] %>)</span></h5>
      <h5 class="text-grey"><a href="#">Draft</a><span>(<%= @invoice_activity[:draft]%>)</span></h5>
    </div>
  </div>
</aside>