<tr class="fields">
  <td>
    <div class="elementsAction">
      <%= f.hidden_field :_destroy%>
      <a href="#" data-association="invoice_line_items" class="remove_item remove_nested_fields removeItem"><i class="material-icons">close</i></a>
      <a class="sort_icon sortable" href="javascript:" title="Drag this line item to your desired location in this invoice"><i class="material-icons">open_with</i></a>
    </div>
  </td>
  <td>
    <%= f.select :item_id, options_for_select(load_line_items(action_name, @invoice.company_id, f.object), selected: f.object.item_id),  {:prompt => t('views.invoice_line_item.select_an_item') ,:include_blank => false}, {"data-placeholder" => t('views.invoice_line_item.select_an_item'), class: "items_list inline-select title-select", :required => ""} %>
  </td>
  <%= f.hidden_field :item_name, class: 'item_name' %>
  <%= f.hidden_field :tax_1, class: 'tax1' %>
  <td>
    <%= f.text_field :item_description, class: 'description' %>
  </td>
  <td>
    <%= f.text_field :item_unit_cost, class: 'cost center-align'%>
  </td>
  <td>
    <%= f.number_field :item_quantity, class: 'qty center-align', min: 1 %>
  </td>
  <td class="center-align tax1">
    <%= f.object.tax1.name rescue '' %>
  </td>
  <td class="right-align"><%= label_tag 'line total', '0.00', :class => 'blank_input grid_medium line_total' %></td>
</tr>