<script type="text/javascript">
    jQuery(function () {
        jQuery(".sent, .partial,.draft, .draft-partial, .paid, .disputed, .viewed").qtip();
    });
</script>
<%= form_tag payments_enter_payment_path, id: "invoice_selection" do %>
    <div id="unpaid_invoices" class="modal editableModal editPayment newModel large_modal unpaid_invoice">
      <div class="modal-content">
        <div class="modal-header clearfix text-content">
          <div class="modal-action-btn right">
            <% unless @invoices.blank? %>
                <a href="javascript:void(0);" onclick="$('.payment_select_form').click();" title="Save" class="modal-action waves-effect">
                  <i class="material-icons" >done</i>
                </a>
            <% end %>
            <%= submit_tag'', class: 'btn_large payment_select_form hidden' %>
            <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
              <i class="material-icons" >close</i>
            </a>
          </div>
          <h2 class="text-blue"><%= t('views.payments.which_invoices_have_you_received_payment_for') %>?</h2>
            <%= t('views.payments.select_one_or_more_invoices_from_the_list_below_to_apply_payment') %>
        </div>
      </div>

      <div class="modal-body">
        <div class="panel-table">


      <div class="responsive-table">
        <table class="bordered">
          <colgroup>
            <col width="3%"/>
            <col width="10%"/>
            <col width="40%"/>
            <col width="20%"/>
            <col width="12%"/>
            <col width="10%"/>
            <col width="5%"/>
          </colgroup>
          <thead>
          <tr>
            <th class="align_center td-checkbox"><%= check_box_tag 'select_all', '', false, class: 'fix-left-and-opacity'%></th>
            <th class="align_center"><%= t('invoice') %>#</th>
            <th class="align_left"><%= t('views.common.notes') %></th>
            <th class="align_left"><%= t('client') %></th>
            <th class="align_center"><%= t('views.common.total') %></th>
            <th class="align_center"><%= t('views.common.date') %></th>
            <th class="align_center"><%= t('views.common.status') %></th>
          </tr>
          </thead>
          <tbody>
          <% unless @invoices.blank? %>
              <% @invoices.each do |inv| %>
                  <tr>
                    <td class="align_center td-checkbox"><%= check_box_tag "invoice_ids[]", inv.id, false, class: 'fix-left-and-opacity' %></td>
                    <td class="align_center"><%= inv.formatted_invoice_number %></td>
                    <td class="align_left"><%= inv.notes %></td>
                    <td class="align_left"><%= inv.client.organization_name rescue "" %></td>
                    <td class="align_center currency"><%= number_to_currency(inv.invoice_total, unit: inv.currency.present? ? inv.currency.unit : "$") %>
                    <td class="align_center"><%= inv.invoice_date rescue "" %></td>
                    <td class="align_center <%= inv.status %>" title="<%= inv.tooltip %>">
                <span class="invoice-status invoice-sent">
                  <%= inv.status.capitalize %>
                </span>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr class="no-invoices">
                <td colspan="7"><%= t('views.invoices.no_unpaid_invoices') %></td>
              </tr>
          <% end %>

          </tbody>
        </table>

      </div>
      <!--grid_table-->
    </div><!--unpaid_invoices-->
<% end %>
</div>
</div>
