<div class="payment-receipt">
  <div style="text-align: center; width: 92%">
    <%= image_tag @invoice.company.logo if @invoice.company.logo.present? %>
  </div>
</div>
<div class="info-section clearfix container company-info-section receipt-company-info-section">
  <div class="info-left-section">
    <%= render partial: 'invoices/company_contact_info', locals: {company: @invoice.company} %>
    <br>
    <%= render partial: 'invoices/client_contact_info', locals: {client: @invoice.client} %>
  </div>
  <div class="info-right-section">
    <%= render 'invoices/invoice_summary' %>
  </div>
  <div style="clear: both"></div>
  <div class="received">
    <div class="received-from">Received from</div>
    <div class="client-name border-bottom text-align-center"><%= @invoice.client.full_name %></div>
    <div class="text-align-center currency_code"><%= @invoice.currency.code %></div>
    <div class="border-bottom received_payment">&nbsp;&nbsp;<%= @invoice.payments.received.sum('payment_amount') %></div>
  </div>
  <div class="amount_in_words">
    <div class="border-bottom total_amt_in_words">&nbsp;&nbsp;<%= capitalize_amount(@invoice.payments.received.sum('payment_amount').to_i.abs.to_words)*' ' %></div>
    <div class="currency_title"><%= @invoice.currency.title %></div>
  </div>
  <div class="payment_for">
    <div style="">for invoice#</div>
    <div class="border-bottom">&nbsp;&nbsp;<%= @invoice.formatted_invoice_number %></div>
  </div>
  <div class="received_by">
    <div>Received by</div>
    <div class="border-bottom"><%= @invoice.creator.user_name rescue '' %></div>
  </div>
</div>
