<%- model_class = Invoice -%>
<div class="show_invoice">

  <div class="content_top">
    <div class="primary_heading">
      <h1><%= t '.title', :default => model_class.model_name.human %>:<%= @invoice.invoice_number %></h1>
    </div>

    <div class="primary_links">
      <div id="active_links" class="grid_control_right">
        <div class="grid_control_right">
          <ul>
            <% unless @invoice.invoice_type.eql?("ProjectInvoice") %>
            <li class="grid_control_sep sep_right">
              <%= link_to t('helpers.links.edit'), edit_invoice_path(@invoice) %>
            </li>
            <% end %>
            <!--<li><a href="#">Send</a></li>-->
            <li class="grid_control_sep sep_right">
              <%= link_to t('views.common.send'), "send_invoice?id=#{@invoice.id}" %>
            </li>
            <li class="grid_control_sep sep_right">
              <%= link_to t('views.common.pdf'), {:controller => 'invoices', :action => 'invoice_pdf', :id => @invoice.encrypted_id, :format => "pdf"}, :target => '_blank' %>
            </li>
            <li class="grid_control_sep sep_right">
              <!--<a href="#">Print</a>-->
              <%= link_to t('views.common.print'), {:controller => 'invoices', :action => 'invoice_pdf', :id => @invoice.encrypted_id, :format => "pdf"}, :target => '_blank' %>
            </li>
            <li>
              <%= link_to t('views.invoices.payment_history'), {:controller => 'payments', :action => 'invoice_payments_history', :id => @invoice.id}, :class => "no_padding" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--primary_links-->

  </div>
  <!--content_top-->


  <div class="content_bottom top">
    <!--<a href="#">enter payment on invoice</a>-->
    <% unless @invoice.status == "paid" %>
        <%= link_to t('views.invoices.enter_payment_on_invoice'), "enter_single_payment?ids=#{@invoice.id}", :class => "btn_large big" %>
    <% end %>
  </div>
  <!--content_bottom-->


  <div class="content_middle">
    <%= render :partial => "show_invoice" %>
  </div>
  <!--content_middle-->

</div><!--show_invoice-->