<%= render 'task_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel">
        <h3 class="with-grid-icons">
          <%= t('header.links.time_tracking.time_tracking') %>:
          <select onchange="location = this.value;">
            <option value="<%= "/#{I18n.locale}/projects" %>"> <%= t('header.links.time_tracking.project') %></option>
            <option value="<%= "/#{I18n.locale}/tasks" %>" selected><%= t('header.links.time_tracking.task') %></option>
            <option value="<%= "/#{I18n.locale}/staffs" %>"><%= t('header.links.time_tracking.staff') %></option>
            <option value="<%= "/#{I18n.locale}/logs" %>"><%= t('header.links.time_tracking.time_sheet') %></option>
          </select>
          <%= link_to "/ #{t('views.common.' + @status.humanize.underscore)}", 'javascript:;', class: 'active' %>
          <%= link_to raw('<i class="material-icons">add</i>'), new_task_path, remote: true, class: 'plus-add-icon', title: t('helpers.links.add')%>
          <%= index_layout_toggle_icons(tasks_path(layout_toggle_params(view: 'card')),
                                        tasks_path(layout_toggle_params(view: 'table'))) %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box task-box mCustomScrollbar clearfix">
    <%= form_tag bulk_actions_tasks_path, {method: :get, id: "bulk_action_form"} do -%>
        <div class="search_result_container"><%= render 'tasks_container' %></div>
        <%= render partial: 'bulk_actions'%>
    <% end %>
  </div>

</div>
