<div id="edit_form_popup" class="modal editableModal importModal">
  <div class="modal-content">
    <div class="modal-header clearfix text-content">
      <div class="modal-action-btn right">
        <a href="javascript:void(0);" onclick="$('.submit').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
          <i class="material-icons" >done</i>
        </a>
        <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
      <h5 class="left">
        <%= t '.title', :default => t('helpers.titles.edit', :model => t(User.model_name.singular),
                                      :default => "Edit #{User.model_name.human}") %>
      </h5>
    </div>
    <%= simple_form_for(@sub_user, url: '/sub_users/update', method: :put, remote: params[:remote].to_i == 1,
                        html: { id: 'sub_user_form', multipart: true }) do |f| %>
      <%= hidden_field_tag :setting_form, params[:setting_form] %>
      <div class="modal-body">
        <div class="row edit-user-row">
          <%= f.submit class: 'btn_large submit hidden' %>
          <%= f.input :user_name, label: t('views.users.full_name'), input_html: {id: 'user_name', name: 'user_name'},
                      label_html: {class: 'active'}, wrapper_html: { class: 'input-field col s12 m6' } %>
          <%= f.input :email, label: t('views.common.email'), input_html: {id: 'email', name: 'email'},
                      label_html: {class: 'active'}, wrapper_html: { class: 'input-field col s12 m6' } %>
          <%= f.input :password, label: t('views.staffs.password'), input_html: {id: 'password', name: 'password'},
                      wrapper_html: { class: 'input-field col s12 m6 editMode' } %>
          <%= f.input :password_confirmation, label: t('views.staffs.password_confirmation'),
                      input_html: {id: 'password_confirmation', name: 'password_confirmation'},
                      wrapper_html: { class: 'input-field col s12 m6 editMode' } %>
          <%= f.input :role_id, collection: load_user_roles, label: false, as: :select,
                      input_html: {id: 'side_form_role_ids', class: 'edit-user-select2', name: 'role_id'},
                      wrapper_html: { class: 'input-field col s12 editMode' } %>
          <span class="fa fa-caret-down"></span>
          <%= f.input :company_ids, collection: Company.all.map{|c| [c.company_name.humanize, c.id]}, label: false, as: :select, selected: @sub_user.company_ids,
                      input_html: {id: 'side_form_company_ids', class: 'companies-select2 col s12', multiple: true, name: 'company_ids[]'},
                      wrapper_html: { class: 'input-field col s12 editMode' } %>

          <%= hidden_field_tag 'user_id',@sub_user.id %>
          <% unless @sub_user.id == current_user.id %>
            <%= f.input :role_id, collection: load_user_roles, selected: @sub_user.role_id, label: false,
                        as: :select, input_html: {name: 'role_ids'},
                        wrapper_html: { class: 'input-field col s12' } %>
          <% end %>
        </div>
        <%= render 'avatar_upload' unless params[:remote].to_i == 1 %>
      </div>
    <% end %>
  </div>
</div>