<div id="edit_form_popup" class="modal editableModal importModal">
  <div class="modal-content">
    <%= form_tag('/sub_users/update', :method => :put, novalidate: "", id: "sub_user_form",
                 :multipart => true, remote: params[:remote].to_i == 1) %>
      <div class="modal-header clearfix text-content">
        <h5 class="left"> Edit User</h5>
        <div class="modal-action-btn right">
          <a href="javascript:void(0);" onclick="$('.submit').click();" title="Save" class="modal-action waves-effect">
            <i class="material-icons" >done</i>
          </a>
          <%= submit_tag 'Save', class:  "btn_large submit hidden" %>
          <a href="javascript:void(0);" title="Cancel" class="modal-action modal-close waves-effect">
            <i class="material-icons close">close</i>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="input-field col s6">
            <%= text_field_tag :user_name,"#{@sub_user.user_name}", :required => "" %>
            <label for="username" class="active"> Full Name </label>
          </div>

          <div class="input-field col s6">
            <%= text_field_tag :email,"#{@sub_user.email}", :required => "" %>
            <label for="email" class="active"> Email </label>
          </div>

          <div class="input-field col s6 editMode">
            <%= password_field_tag :password %>
            <label for="password"> Password </label>
          </div>

          <div class="input-field col s6 editMode">
            <%= password_field_tag :password_confirmation %>
            <label for="password_confirmation"> Confirmation </label>
          </div>
          <%= hidden_field_tag 'user_id',@sub_user.id %>

          <% unless @sub_user.id == current_user.id %>
            <div class="input-field col s12">
              <%= select_tag :role_ids, options_for_select(load_user_roles, @sub_user.role_ids.first) %>
              <label for="role_ids"> Assign Role </label>
            </div>
          <% end %>
          <% unless params[:remote].to_i == 1 %>
            <div class="row">
              <h5 class="text-blue title-heading"><%= t('views.users.avatar') %></h5>
              <div class="file-field input-field col s12 m12">
                <div class="btn">
                  <span>Logo</span>
                  <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <div class="input-field col s6 m6">
                <% if action_name == 'edit' %>
                    <%= image_tag @sub_user.avatar_url(:thumb) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>