<%#= form_for(@sub_user, :html => {:novalidate => ""}) do |f| %>
<%= form_tag('/sub_users', novalidate: "", id: "sub_user_form")  %>
    <div class="sub_users_form">
      <div class="content_middle">

        <div class="fields_content">
          <div class="fields_content_container">


            <div class="fields_content_data">

              <div class="field_row">
                <div class="label_field left single"><span><%= t('views.users.full_name') %></span></div>
                <div class="large_field">
                  <%= text_field_tag :user_name,'', required: '', autofocus: true %>
                </div>
              </div>
              <!--field_row-->

              <div class="field_row">
                <div class="label_field left single"><span><%= t('views.common.email') %></span></div>
                <div class="large_field">
                  <%= text_field_tag :email,'', :required => "" %>
                </div>
              </div>
              <!--field_row-->

              <div class="field_row">
                <div class="label_field left single"><span><%= t('views.users.password') %></span></div>
                <div class="large_field">
                  <%= password_field_tag :password,'', :required => "" %>
                </div>
              </div>

              <!--field_row-->

              <div class="field_row">
                <div class="label_field left single"><span><%= t('views.users.confirmation') %></span></div>
                <div class="large_field">
                  <%= password_field_tag :password_confirmation,'', :required => "" %>
                </div>
              </div>

              <div class="field_row">
                <div class="label_field left single"><span>Assign Role</span></div>
                <div class="large_field">
                  <%= select_tag :role_ids, options_for_select(load_user_roles) %>
                </div>
              </div>


              <div class="field_row">
                <div class="label_field left single"></div>
                <div class="field_check">
                  <%= check_box_tag :notify_user %> <p><label for="notify_user"><%= t('views.users.notify_user') %></label></p>
                </div>
              </div>

              <!--field_row-->

            </div>
            <!--fields_content_data-->
          </div>
          <!--fields_content_container-->
        </div>
        <!--fields_content-->

      </div>
      <!--content_middle-->

      <div class="content_bottom">
        <%= submit_tag t('views.common.save'), class:  "btn_large submit" %>
      </div>
      <!--content_bottom-->
    </div><!--new_item_form-->
<%# end %>