<div class="side-form user-side-form hidden">
  <% @sub_user = User.new() %>
  <%= simple_form_for(@sub_user, url: sub_users_path, html: { id: 'user_side_form'}) do |f| %>
    <%= hidden_field_tag :setting_form, 1 %>
    <div class="modal-body users fields-container">
      <%= f.input :user_name, label: t('views.users.full_name'), input_html: {id: 'side_form_user_name', name: 'user_name', placeholder: t('views.users.full_name')},
                  label: false, wrapper_html: { class: 'input-field' } %>
      <%= f.input :email, label: t('views.common.email'), input_html: {id: 'side_form_user_email', name: 'email', placeholder: t('views.staffs.email')},
                  label: false, wrapper_html: { class: 'input-field' } %>
      <%= f.input :role_id, collection: load_user_roles, label: false, as: :select,
                    input_html: {id: 'side_form_role_ids', name: 'role_id', class: 'role-select2'},
                  wrapper_html: { class: 'input-field' } %>
      <%= f.input :company_ids, collection: Company.all.map{|c| [c.company_name.humanize, c.id]}, label: false, as: :select, selected: @sub_user.company_ids,
                  input_html: {id: 'side_form_company_ids', class: 'company-select2', multiple: true, name: 'company_ids[]'},
                  wrapper_html: { class: 'input-field' } %>
      <%= f.input :password, label: false, input_html: {id: 'side_form_password', name: 'password', placeholder: t('views.staffs.password')},
                  wrapper_html: { class: 'input-field' } %>
      <%= f.input :password_confirmation, label: false, input_html: {id: 'side_form_password_confirmation', name: 'password_confirmation', placeholder: t('views.staffs.password_confirmation')},
                  wrapper_html: { class: 'input-field' } %>
    </div>
    <a href="javascript:;" id="user_save_btn"><%= t('views.common.save') %></a>
    <a href="javascript:;" id="user_cancel_btn"><%= t('views.common.cancel') %></a>
    <%= f.submit t('views.common.save'), class: 'submit-user-form hidden' %>
    <%= f.submit 'Clear', type: 'reset', class: 'hidden', id: 'user_reset_form' %>
  <% end %>
</div>
