<div class="side-form user-side-form">
  <%= form_tag('/sub_users', novalidate: '', id: 'user_side_form', method: :post, remote: true)  %>
  <%= hidden_field_tag :setting_form, 1 %>
  <div class="modal-body users">
    <div class="input-field">
      <%= text_field_tag :user_name, '', required: true, placeholder: 'Full Name', id: 'side_form_user_name' %>
    </div>
    <div class="input-field">
      <%= text_field_tag :email,'', required: true, placeholder: 'Email', id: 'side_form_user_email' %>
    </div>
    <div class="input-field">
      <%= select_tag :role_ids, options_for_select(load_user_roles), id: 'side_form_role_ids' %>
    </div>
    <div class="input-field">
      <%= password_field_tag :password, '', required: true, placeholder: 'Password', id: 'side_form_password' %>
    </div>
    <div class="input-field">
      <%= password_field_tag :password_confirmation, '', required: true, placeholder: 'Password Confirmation', id: 'side_form_password_confirmation' %>
    </div>
  </div>
  <a href="javascript:;" id="user_save_btn">Save</a>
  <a href="javascript:;" id="user_cancel_btn">Cancel</a>
  <%= submit_tag 'Save', class: 'submit-user-form hidden' %>
</div>
