<div class="list-item" id="user_<%= user.id %>">
  <div class="checkbox-item">
    <%= check_box_tag 'user_ids[]', user.id, false, :id => "user_ck_#{user.id}", class: 'filled-in' %>
    <label for="<%= "user_ck_#{user.id}" %>"></label>
    <div class="invoice-name">
      <%= image_tag(user.profile_picture, alt: 'user image', class: 'responsive-img circle') %>
    </div>
  </div>
  <div class="invoice-details editContent">
    <div class="input-field">
      <select disabled>
        <option value="1"><%= user.user_name %></option>
      </select>
    </div>
    <div class="input-field">
      <input type="text" value="<%= user.email %>" placeholder="" disabled>
    </div>
    <div class="input-field datepicker">
      <input type="text" value="<%= user.created_at.strftime('%d %b, %Y')%>" placeholder="" disabled>
    </div>
  </div>
</div>