<div class="flex-item box">
  <%= link_to '', OSB::CONFIG::DEMO_MODE ? 'javascript:void(0)' : edit_sub_user_path(user) , remote: true, class: "invoice_show_link #{'demo-mode' if OSB::CONFIG::DEMO_MODE}", style: 'display: none' %>
  <div class="card-white-panel invoice-card" data-user_id= <%=user.id %>>
    <div class="checkbox-item">
      <div class="invoice-name circle-img <%= random_card_color unless user.avatar_url(:thumb) %>"
           style="background-image: url('<%= user.avatar_url %>');">
        <%= user.card_name unless user.avatar_url(:thumb) %>
      </div>
    </div>
    <div class="invoice-details">
      <h5><%= user.name %></h5>
      <strong><%= user.role_name  %></strong>
      <span><%= user.email %></span>
      <div class="card-footer clearfix">
        <span class="invoice-date"><small><%= t('views.common.date') %>:</small> <%= user.created_at.strftime(get_date_format) %></span>
      </div>
    </div>

    <div class="action-btn-group">
      <%= link_to raw("<i class='material-icons'>create</i>"),OSB::CONFIG::DEMO_MODE ? 'javascript:void(0);' : edit_sub_user_path(user), remote: true,
                  class: "edit_invoice_icon #{'demo-mode' if OSB::CONFIG::DEMO_MODE}", title: t('helpers.links.edit') %>
      <% if current_user != user %>
        <%= link_to raw("<i class='material-icons'>delete</i>"), OSB::CONFIG::DEMO_MODE ? 'javascript:void(0);' : sub_user_path(user), method: :delete,
                    data: {confirm: t('helpers.messages.confirm'),
                           success: t('views.users.bulk_delete')},
                    class: "edit_invoice_icon #{'demo-mode' if OSB::CONFIG::DEMO_MODE}", title: t('helpers.links.edit') %>
      <% end %>
    </div>
  </div>

</div>