<%= render 'user_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel ">
        <h3 class="heading_with_action">
          <span><%= link_to t('views.users.users'), 'javascript:;', class: 'active' %></span>
          <%= link_to raw('<i class="material-icons">add</i>'), new_sub_user_path, remote: true,
                      class: 'pull-right', title: t('helpers.links.add') %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box mCustomScrollbar">
    <div class="search_result_container">
      <%= render 'sub_users_container'%>
    </div>
  </div>

</div>