<div id="freshModal" class="modal editableModal importModal">
    <div class="modal-content">
      <%= form_for :freshbooks, url: import_freshbooks_data_import_data_path,  :html => {remote: true, novalidate: "", class: "import_freshbook_form"} do |f| %>
        <div class="modal-header clearfix text-content">
          <h5 class="left text-blue">Import data from your freshbooks account</h5>
          <div class="modal-action-btn right">
            <%= f.submit "Submit", :class => "btn_large submit model-submit-btn hidden" %>
            <a href="#" onclick="$('.model-submit-btn').click();" title="Import"><i class="material-icons" >done</i></a>
          </div>
        </div>
        <div class="modal-body">
          <p class="fb_error"></p>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :account_url, required: true, placeholder: t('views.import_data.freshbooks.freshbooks_subdomain')  %>
              <ul class="field_description">
                <li><%= t 'views.import_data.freshbooks.freshbooks_subdomain_hint' %></li>
              </ul>
            </div>
            <div class="input-field col s12">
              <%= f.text_field :api_token, required: true, placeholder: 'Freshbooks API TOKEN' %>
            </div>
            <div class="input-field col s12">
              <h5 class="text-blue title-heading"><span>  Select module(s) to import</span></h5>
            </div>
            <div class="input-field">
              <% Services::Freshbook::DATA_MODULES.each do |a_value| %>
                  <div class="col s4 data-import-module checkbox">
                    <%= f.check_box(:data_filters, {multiple: true, class: "filled-in"}, a_value.downcase, nil) %>
                    <%= label_tag "freshbooks_data_filters_#{a_value.downcase}", a_value %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
