<div class="import_data">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t('views.import_data.import_data') %>
      </h1>
    </div>
  </div>
  <div class="content_middle">
    <div class="grid_control">
      <div class="grid_control_left">
        <ul value='import_data'>
          <li>
            <a href="javascript:;" data-toggle = "modal" data-target = "#freshModal">
              <img src="/assets/freshbooks.png" class="img-import" alt="freshbooks">
            </a>
          </li>
        </ul>

      </div>
      <% unless session[:token] %>
          <ipp:connectToIntuit></ipp:connectToIntuit>
      <% end %>

      <% if notice %>
          <div style="padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"><%= notice %></div>
      <% end %>

      <%= yield %>

      <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

      <script>
          intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_import_data_url %>'});
      </script>
    </div>
  </div>

</div>

<%= render partial: 'freshbooks_popup'%>
