<div id="select_popup" class="modal newModel">
  <div class="modal-content">
    <div class="modal-header">
      <h1>Import Data from your Quickbooks Account</h1>
    </div>
    <div class="modal-body">
      <%= form_for :quickbooks, url: import_quickbooks_data_import_data_path,  :html => {novalidate: "", class: "form-horizontal"} do |f| %>
          <div class="fields_content">
            <div class="fields_content_container">
              <div>

                <div class="field_row">
                  <div>
                    <span>Select modules to import</span>
                  </div>
                  <% Services::Quickbook::DATA_MODULES.each do |a_value| %>
                      <div class="data-import-module checkbox">
                        <label for="quickbooks_data_filters_<%= a_value.downcase %>">
                          <%= f.check_box(:data_filters, {multiple: true, checked: "checked", id: a_value.downcase}, a_value.downcase, nil) %>
                          <label for="<%= a_value.downcase %>"><%= a_value %></label>
                        </label>
                      </div>
                  <% end %>
                </div>

              </div>
            </div>

            <!--field_row-->
          </div>
      <% end %>
    </div>

    <div class="modal-footer">
      <div class="pull-right">
        <%= submit_tag 'Submit', class: 'model-submit-btn modal-action modal-close waves-effect waves-green btn' %>
        <a href="#" title="close" class="modal-close waves-effect waves-green btn" id="close_link"><%= t('views.common.cancel') %></a>
      </div>
    </div>
  </div>
</div>

<script>
    $(".model-submit-btn").click(function () {
        $(this).parents().find("form").submit();
    })
    elem = $("#select_popup");
    Popup.initialize(elem);
    Popup.open(elem);
    $('#close_link').click(function () {
       window.close();
    });
</script>