<div class="input-field col s12 m9 l9 xl6  datepicker">
  <label class="active"><%= t('views.invoices.recurring.start_date') %></label>
  <input type="text" class="project_task_start_date" value="<%= task.start_date.strftime('%Y-%m-%d') rescue nil %>" placeholder="" disabled="disabled">
  <%= f.input :start_date, as: :hidden, input_html: { value: f.object.start_date } %>
  <i class="material-icons" id='start_date_picker'>date_range</i>
</div>

<div class="input-field col s12 m9 l9 xl6 datepicker">
  <label class="active"><%= t('views.invoices.due_date') %></label>
  <input type="text" class="project_task_due_date" value="<%= task.due_date.strftime('%Y-%m-%d') rescue nil %>" placeholder="" disabled="disabled">
  <%= f.input :due_date, as: :hidden, input_html: { value: f.object.due_date } %>
  <i class="material-icons" id='due_date_picker'>date_range</i>
</div>
