<div id="project_task_popup" class="modal viewModal taskModal">
  <div class="modal-content">
    <div class="modal-header clearfix text-content">
      <h5 class="left text-blue">Task Detail</h5>
      <div class="modal-action-btn right">
        <%= link_to raw('<i class="material-icons">create</i>'), edit_project_project_task_path(@project, task), class: 'edit-modal', title: 'Edit', remote: true %>
        <%= link_to raw('<i class="material-icons">delete</i>'), project_project_task_path(@project, task), method: :delete, data:{confirm: 'Are you sure?' }, title: 'Delete' %>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col s12 m8 l9">
          <div class="content-detail">
            <div class="card-white-panel clearfix">
              <div class="left-content">
                <div class="text-wrapper">
                  <div class="checkbox-item">
                    <div class="invoice-name green-light"><%= @project.image_name%></div>
                  </div>
                  <div class="invoice-details">
                    <div class="editable-content">
                      <div class="text-field">
                        <span>Task <small> : </small> </span>
                        <strong class="text-blue"><%= task.name %></strong>
                      </div>
                    </div>
                    <div class="amount-box">
                      <span class="usertitle"><%= task.description %></span>
                    </div>
                  </div>
                </div>
                <div class="form-wrapper row">
                  <div class="input-field col s12 m9 l9 xl6  datepicker">
                    <label class="active">Start Date</label>
                    <input type="text" value="<%= task.start_date.strftime('%Y-%m-%d') rescue nil %>" placeholder="" disabled>
                    <i class="material-icons">date_range</i>
                  </div>

                  <div class="input-field col s12 m9 l9 xl6 datepicker">
                    <label class="active">Due Date</label>
                    <input type="text" value="<%= task.due_date.strftime('%Y-%m-%d') rescue nil %>" placeholder="" disabled>
                    <i class="material-icons">date_range</i>
                  </div>

                  <div class="input-field col s12 m9 xl4 titlebold">
                    <label class="active">Hours</label>
                    <input type="number" value="<%= task.hours %>" placeholder="" disabled>
                  </div>
                  <div class="range-input col s12 m6 l4 offset-l2">
                    <label>Spent Time</label>
                    <div class="rkmd-slider slider-discrete slider-lightBlue">
                      <input type="range" min="0" max="<%= task.hours %>" value="<%= task.spent_time %>" disabled>
                    </div>
                  </div>
                  <div class="input-field col s12 m9 xl4 clearfix titlebold">
                    <label class="active">Rate</label>
                    <input type="number" value="<%= task.rate %>" placeholder="" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render 'project_staff' %>
      </div>
    </div>
  </div>
</div>