<section id="login-section">
  <div class="container">
    <div class="login-container">
      <span class="side-nav"></span>
      <a class="logo" href="#">Open<span>Source</span>Billing</a>
      <h2>Change password</h2>

      <div stlye="color: red"><%= devise_error_messages! %></div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, novalidate: '', id: 'forgot_password', class: 'col s12'}) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class='input-field'>
            <%= f.password_field :password, id: "login_pswd", class: 'validate', required: '' %>
            <label for='email'>New Password</label>
          </div>
          <div class='input-field'>
            <%= f.password_field :password_confirmation, id: "login_confrm_pswd", class: "validate" %>
            <label for='password'>Password Confirmation</label>
          </div>
          <div class="btn-content">
            <%= f.button 'Submit', type: 'submit' , name: 'btn_login' ,class: 'col s4 btn waves-effect', id: 'user_login_btn'  %>
          </div>
      <%end%>
      <p class='col s12'>www.opensourcebilling.org.  powered by: www.presstigers.com</p>

    </div>
  </div>
</section>
