<!--<h2>Change your password</h2>-->
<!--<%#= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>-->
<!--<%#= devise_error_messages! %>-->
<!--<%#= f.hidden_field :reset_password_token %>-->
<!--<div>-->
<%#= f.label :password, "New password" %>
<!--<br/>-->
<%#= f.password_field :password, :autofocus => true %>
<!--</div>-->
<!--<div>-->
<%#= f.label :password_confirmation, "Confirm new password" %>
<!--<br/>-->
<%#= f.password_field :password_confirmation %>
<!--</div>-->
<!--<div><%#= f.submit "Change my password" %></div>-->
<!--<%# end %>-->
<!--<%#= render "devise/shared/links" %>-->

<!----------- New change password design --------------->

<div class="log_page">
  <div class="log_container">
    <div class="log_content change_password">
      <div class="log_top">
        <h1>Change your password</h1>
      </div>
      <!--log_top-->

      <div class="notice"><%= devise_error_messages! %></div>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :novalidate => '', :id => 'forgot_password'}) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="log_fields">

            <div class="field_row">
              <div class="label_field"><%= f.label :password, "New password" %></div>
              <div class="medium_field change_password_field">
                <%= f.password_field :password, :autofocus => true, :id => 'login_pswd', :required => '' %>
              </div>
            </div>

            <div class="field_row">
              <div class="label_field"><%= f.label :password_confirmation, "Confirmation" %></div>
              <div class="medium_field">
                <%= f.password_field :password_confirmation, class: "confirm_field", :id => 'login_confrm_pswd', :required => '' %>
              </div>
            </div>

          </div> <!--log_fields-->

          <div class="log_btm">
            <%= f.submit "Change password", :class => "btn_large submit" %>
          </div>
          <!--log_btm-->

      <% end %>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>
