<section id="login-section" class="sign-up">
  <div class="container">
    <div class="login-container z-depth-1">
      <span class="side-nav"></span>
      <a class="logo" href="#">Open<span>Source</span>Billing</a>
      <h2>Reset Password?</h2>
      <div class="notice"><%= devise_error_messages! %></div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post,class: 'col s12', id: 'send_password'}) do |f| %>
          <%#= devise_error_messages! %>
          <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class='input-field'>
            <%= f.email_field :email,:type=>'email', :id => "email", :class => 'sign_up user_email validate', :required => '' %>
            <label for='email'>Email</label>
          </div>
          <div class="btn-content">
            <%= f.button "Send Password Instructions",:type=>'submit', :class => "btn_large submit col s4 btn waves-effect",:name=>'btn_login' %>
          </div>
      <% end %>
      <p class='col s12'>www.opensourcebilling.org.  powered by: vteams.com</p>
      <a  href="<%=new_user_session_path() %>" class="btn-login-add btn-floating btn-large waves-effect forgot "><i class="material-icons">close</i></a>
    </div>
  </div>
</section>
