<div class="client_contact row">
  <div class="fields nested-fields">
    <%= f.input :first_name, label: t('views.clients.first_name'), wrapper_html: { class: 'input-field col s6 m4' } %>
    <%= f.input :last_name, label: t('views.clients.last_name'), wrapper_html: { class: 'input-field col s6 m4' } %>
    <%= f.input :email, label: t('views.common.email'), wrapper_html: { class: 'input-field col s6 m4' } %>
    <%= f.input :home_phone, label: t('views.common.phone'), wrapper_html: { class: 'input-field col s6 m4' }, as: :string %>
    <%= f.input :mobile_number, label: t('views.common.mobile'), wrapper_html: { class: 'input-field col s6 m4' } %>
    <div class="input-field col s6 m4">
      <%= link_to_remove_association t('views.clients.remove_this_contact'), f, class: 'btn moreBtn remove' %>
    </div>
  </div>
</div>