<div id="client_model" class="modal viewModal clientsModal">
  <div class="modal-content">

    <div class="modal-header clearfix text-content">
      <h5 class="left text-blue"><%= client.organization_name%></h5>
      <div class="modal-action-btn right">
        <a href="#" class="modal-close" title="Close"><i class="material-icons">done</i></a>
      </div>
    </div>
    <div class="info-section clearfix">
      <div class="info-left-section left">
        <h6 class="text-blue title-heading"><%= client.contact_name %></h6>
        <%= mail_to client.email, client.email , class: 'email-link' %>
        <div class="amount-wrapper">
          <div class="amountInfo">
            <span>Available credit</span>
            <strong class="text-color"><%= number_to_currency(client.available_credit, unit: '')%> <small><%= default_currency_code %></small></strong>
          </div>
          <div class="amountInfo">
            <span>Outstanding Amount</span>
            <strong class="text-orange"><%= number_to_currency(@detail[:amount_billed], unit: '') %> <small><%= default_currency_code %></small></strong>

          </div>
          <div class="amountInfo">
            <span>Total amount billed</span>
            <strong class="text-blue"><%= number_to_currency(@detail[:outstanding_amount], unit: '') %> <small><%= default_currency_code %></small></strong>
          </div>
          <div class="amountInfo">
            <span>Total payments received</span>
            <strong class="text-green"><%= number_to_currency(@detail[:payments], unit: '') %> <small><%= default_currency_code %></small></strong>
          </div>
        </div>
      </div>
      <% if get_user_current_company.logo.present? %>
          <div class="info-right-section right circle">
            <%= image_tag get_user_current_company.logo_url(:thumb), class: 'responsive-img'%>
          </div>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="panel-table">
        <h5>
          Invoice
        </h5>
        <table class="bordered responsive-table">
          <thead>
          <tr>
            <th>Invoice #</th>
            <th>Due Date</th>
            <th>Company</th>
            <th class="right-align">Amount</th>
          </tr>
          </thead>
          <tbody>
              <% @invoices.each do |invoice|%>
                  <tr>
                    <td><%= link_to invoice.invoice_number, invoice, remote: true %></td>
                    <td><%= invoice.due_date%></td>
                    <td><%= invoice.company.company_name%></td>
                    <td  class="right-align"><%= invoice.currency.unit %> <%= number_to_currency(invoice.invoice_total, unit: '')%></td>
                  </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-table">
        <h5>
          Payments
        </h5>
        <table class="bordered responsive-table">
          <thead>
          <tr>
            <th>Invoice #</th>
            <th>Due Date</th>
            <th>Company</th>
            <th class="right-align">Amount</th>
          </tr>
          </thead>
          <tbody>
            <% @payments.each do |payment|%>
              <tr>
                <td><%= link_to payment.unscoped_invoice.invoice_number, payment.unscoped_invoice, remote: true %></td>
                <td><%= payment.unscoped_invoice.due_date%></td>
                <td><%= payment.unscoped_invoice.company.company_name%></td>
                <td  class="right-align"><%= payment.unscoped_invoice.currency.unit %> <%= number_to_currency(payment.payment_amount, unit: '')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
