<div class="filter-container" id="filters">
  <div class="nav-wrapper subnav-filters">
    <%= form_tag clients_path, method: :get, remote: true, class: 'col s12', id: 'filters_form' do %>
      <div class="row">
                <div class="input-field col s12 m3">
                  <input type="hidden" name="create_at_start_date" id="create_at_start_date">
                  <input type="hidden" name="create_at_end_date" id="create_at_end_date">
                  <input type="text" class="date-range" name="create_at" id="create_at" placeholder="<%= t('views.common.start_date_to_end_date') %>" value="<%= params[:created_at] %>" readonly/>
                  <label class="input_field_label"><%= t('views.projects.created_date_range') %></label>
                </div>
        <div class="input-field col s12 m3 select-client">
          <%= select_tag(:status, options_for_select(filters_status_select_options, {selected: params[:status] || ''}),
                         include_blank: false, class: 'small_list invoice-filter-select select_2') %>
          <label><%= t('views.common.type') %></label>
        </div>
        <div class="input-field col s12 m3">
          <label class="input_field_label"><%= t('Email') %></label>
          <input type="text" class="" name="client_email" id="client_email" placeholder="<%= 'Email' %>" value="<%= params[:email] %>" />
        </div>
      </div>
      <div class="row">
        <div class="filter-footer">
          <input type="reset" value="<%= t('views.common.reset') %>" id="filter_reset_btn" class="filter-btn"/>
          <input type="submit" value="<%= t('views.sessions.submit') %>" id="filter_submit_btn" class="filter-btn"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
