<div class="filter-container">
  <a href="javascript:void(0);" class="show-filters" id="toggle_filters"><%= t('views.common.show_filters') %></a>
  <div class="nav-wrapper subnav-filters" id="filters">
    <%= form_tag clients_path, method: :get, remote: true, class: 'col s12' do %>
      <div class="row">
        <div class="input-field col s12 m3">
          <input type="hidden" name="create_at_start_date" id="create_at_start_date">
          <input type="hidden" name="create_at_end_date" id="create_at_end_date">
          <input type="text" class="date-range" name="create_at" id="create_at" placeholder="<%= t('views.common.start_date_to_end_date') %>"/>
          <label class="active"><%= t('views.projects.created_date_range') %></label>
        </div>
        <div class="input-field col s12 m3">
          <%= select_tag(:status, multi_select_options(filters_status_select_options, t('views.invoices.all_types'),
                                                       {selected: params[:status] || ''}),
                         include_blank: false, multiple: true, class: 'small_list') %>
          <label><%= t('views.common.type') %></label>
        </div>
      </div>
      <div class="row">
        <div class="filter-footer">
          <input type="reset" value="<%= t('views.common.reset') %>" id="filter_reset_btn"/>
          <input type="submit" value="<%= t('views.sessions.submit') %>" id="filter_submit_btn"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
