<section id="login-section" class="sign-up">
  <div class="container">
    <div class="login-container z-depth-1">
      <span class="side-nav"></span>
      <a class="logo" href="#">Open<span>Source</span>Billing</a>
      <h2>Enter Password</h2>
      <div class="notice"><%= devise_error_messages! %></div>
      <%= form_for(@client, url: create_password_client_path(@client), html: {method: :post}) do |f| %>
        <%#= devise_error_messages! %>
        <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class='input-field'>
          <%= f.password_field :password, :id => "password", :class => 'sign_up user_email validate' %>
          <label for='email'>Password</label>
        </div>
        <div class='input-field'>
          <%= f.password_field :password_confirmation, :id => "password", :class => 'sign_up user_email validate' %>
          <label for='email'>Password Confirmation</label>
        </div>
        <div class="btn-content">
          <%= f.button "Confirm",:type=>'submit', :class => "btn_large submit col s4 btn waves-effect",:name=>'btn_login' %>
        </div>
      <% end %>
      <p class='col s12'>
        <%= link_to 'www.opensourcebilling.org', 'http://opensourcebilling.org/', target: '_blank' %>.
        powered by: <%= link_to 'presstigers.com', 'https://www.presstigers.com/', target: '_blank' %>
      </p>
      <a  href="<%=new_portal_client_session_path() %>" class="btn-login-add btn-floating btn-large waves-effect forgot "><i class="material-icons close">close</i></a>
    </div>
  </div>
</section>
