<%= render 'client_activity' %>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel intro items-index-false-intro" data-intro='All of your active items will be listed here' data-step="1">
        <h3 class="with-grid-icons">
          <span><%= link_to t('header.links.clients.clients'), items_path %></span>
          <a class="active"><%= "/ #{t('views.common.' + status_text)}" %></a>
        </h3>
      </div>
    </div>
  </div>

  <div class="show_invoice">

  <%# render('control_links') if request.format.html? %>

  <div class="content_middle">

    <%= render :partial => "show_client" %>
  </div>
    <div style="margin-top: 10px" class="right">
      <%= link_to ' + New Invoice ', new_invoice_path(invoice_for_client: @client.id) %> |
      <%= link_to ' + New Client ', new_client_path, remote: true %> |
      <%= link_to ' Edit Client ', edit_client_path(@client), remote: true %>
    </div>

    <!--content_middle-->

</div><!--show_invoice-->
</div>