<div class="grid_control_right">
  <ul>
    <li class="grid_control_sep sep_right">
      <%= link_to t("views.common.active"), "recurring_profiles/filter_recurring_profiles?status=active#{query_string(params.except(:page).merge(per: @per_page))}", :remote => true, :class => "get_actives active" %>
      <span class="item_counts" id="actives">(<%= get_count(params.merge(status: 'unarchived', user: current_user, current_company: session['current_company'])) %>)</span>
    </li>
    <li class="grid_control_sep sep_right">
      <%= link_to t("views.common.archived"), "recurring_profiles/filter_recurring_profiles?status=archived#{query_string(params.except(:page).merge(per: @per_page))}", :remote => true, :class => "get_archived" %>
      <span class="item_counts" id="archives">(<%= get_count(params.merge(status: 'archived', user: current_user, current_company: session['current_company'])) %>)</span>
    </li>
    <li>
      <%= link_to t("views.common.deleted"), "recurring_profiles/filter_recurring_profiles?status=deleted#{query_string(params.except(:page).merge(per: @per_page))}", :remote => true, :class => "get_deleted" %>
      <span class="item_counts" id="deletes">(<%= get_count(params.merge(status: 'only_deleted', user: current_user, current_company: session['current_company'])) %>)</span>
    </li>
  </ul>
</div>

