<%= nested_form_for @recurring_profile, :html => {:class => 'form-recurring-profile', :novalidate => ""} do |f| %>
    <% @parent_f = f %>

    <div class="invoice_form recurring_profile_form">
    <div class="content_middle">

    <div class="fields_content">
      <div class="fields_content_container">
        <div class="fields_content_data new_invoice_fields">

          <div class="fields_content_left">

            <div class="field_row description recurring">
              <div class="label_field left single"><%= f.label :first_invoice_date, content_tag(:span, 'Schedule') %></div>
              <div class="small_field">
                <%= hidden_field_tag :recurring_profile_current_date, Date.today %>
                <%= f.text_field :first_invoice_date, :required => "" %>
                <ul class="field_description">
                  <li>Start date</li>
                </ul>
              </div>
              <div class="small_field fre_select">
                <%= f.select :frequency, RECURRING_FREQUENCY, {}, {:class => "frequency_select chzn-select", :id => "frequency"} %>
                <ul class="field_description select">
                  <li>How often</li>
                </ul>
              </div>
              <div class="small_field">
                <%= f.text_field :occurrences, :value =>(@recurring_profile.occurrences.blank? || @recurring_profile.occurrences == 0) ? 'infinite' :  @recurring_profile.occurrences %>
                <span id="how_many_symbol">#</span>
                <ul class="field_description">
                  <li>How many</li>
                </ul>
              </div>
            </div>

            <div class="field_row description">
              <div class="label_field left single"><%= f.label :company_id, content_tag(:span, 'Company') %></div>
              <div class="medium_field">
                <%= text_field_tag 'company', get_company_name, :readonly => '', :class => 'company_read_only' %>
                <ul class="field_description">
                  <li>company for this profile</li>
                </ul>
              </div>
            </div>

            <div class="field_row description">
              <div class="label_field left single"><%= f.label :client_id, content_tag(:span, 'Client') %></div>
              <div class="small_field">
                <%#= collection_select :invoice, :client_id, load_clients(action_name, @recurring_profile.company_id) , :id, :organization_name, {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a client...", :class => "invoice_client medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "300", :required => ""} %>
                <%= f.select :client_id, options_for_select(load_clients(action_name, @recurring_profile.company_id), selected: f.object.client_id),  {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a client...", :class => "invoice_client medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "300"} %>
                <ul class="field_description select">
                  <li>client you want to send invoice</li>
                  <span id="last_invoice" style="display: none;"></span>
                </ul>
              </div>
            </div>
            <!--field_row-->

            <div class="field_row description">
              <div class="label_field left single"><%= f.label :payment_terms_id, content_tag(:span, "Terms") %></div>
              <div class="small_field">
                <%#= collection_select :invoice, :payment_terms_id, PaymentTerm.all, :id, :description, {:prompt => ""}, {"data-placeholder" => "Select a payment term...", :class => "medium chzn-select"} %>
                <%= f.select :payment_terms_id, options_for_select(PaymentTerm.all.map { |p| [p.description, p.id, {'number_of_days' => p.number_of_days}] }, :selected => f.object.payment_terms_id), {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a payment term...", :class => "payment_terms medium chzn-select", "data-form-container" => "payment_terms_holder", "data-dropdown-width" => "300"} %>
                <ul class="field_description select">
                  <li>Payment terms for this invoice</li>
                </ul>
              </div>
            </div>
            <!--field_row-->
            <script>$(".field_row.description").last().css('min-height', '46px');</script>
          </div>

          <div class="fields_content_right">

            <div class="field_row description">
              <div class="label_field left single"><%= f.label :invoice_number, content_tag(:span, 'Profile ID') %></div>
              <div class="small_field">
                <%= f.text_field :invoice_number, :readonly => "", :required => "" %>
                <ul class="field_description">
                  <li>Auto generated</li>
                </ul>
              </div>
            </div>
            <!--field_row-->


            <!--<div class="field_row description">-->
              <!--<div class="label_field left single"><%#= f.label :invoice_date, content_tag(:span, 'Invoice Date') %></div>-->
              <!--<div class="small_field">-->
                <!--<%#= f.text_field :invoice_date, :required => "" %>-->
              <!--</div>-->
            <!--</div>-->
            <!--field_row-->

            <!--<div class="field_row description">-->
              <!--<div class="label_field left single"><%#= f.label :due_date, "Due Date" %></div>-->
              <!--<div class="small_field">-->
                <!--<%#= f.text_field :due_date, :placeholder => "TBD" %>-->
              <!--</div>-->
            <!--</div>-->
            <!--field_row-->
            <script>$(".field_row.description").last().css('min-height', '46px');</script>

          </div>
          <!--fields_content_right-->

        </div>
        <!--fields_content_data-->
      </div>
      <!--fields_content_container-->
    </div>
    <!--fields_content-->
    <script>$(".fields_content").last().css('border-bottom', 'none');</script>

    <div class="grid_table">
      <table cellpadding="0" cellspacing="0" class="invoice_grid_fields" id="invoice_grid_fields">
        <colgroup>
          <col class="one"/>
          <col class="two"/>
          <col class="three"/>
          <col class="four"/>
          <col class="five"/>
          <col class="six"/>
          <col class="seven"/>
          <col class="eight"/>
        </colgroup>
        <tr>
          <th class="align_center">&nbsp;</th>
          <th class="align_left">Item</th>
          <th class="align_left">Description</th>
          <th class="align_center">Unit Cost</th>
          <th class="align_right">Qty</th>
          <th class="align_center">Tax1</th>
          <th class="align_center">Tax2</th>
          <th class="align_center">Line Total</th>
        </tr>
        <%= f.fields_for :recurring_profile_line_items, :wrapper => false %>
        <tr style="border:none;" class="no_hover">
          <td>&nbsp</td>
          <td class="add_line_item_row" colspan="2"><%= f.link_to_add "Add Line Item", :recurring_profile_line_items, :class => "btn btn-mini" %></td>
        </tr>
      </table>

    </div>
    <!--grid_table-->

    <div class="grid_summary">
      <div class="grid_summary_content">
        <div class="grid_summary_row">
          <div class="grid_summary_title">
            Subtotal
          </div>
          <div class="grid_summary_description">
            <%= f.hidden_field :sub_total %>
            <%= label_tag '', '', :id => 'invoice_sub_total_lbl' %>
          </div>
        </div>

        <div class="grid_summary_row">
          <div class="grid_summary_title">
            <!--Discount <span class="discount_percentage_lbl"></span>%-->
            Discount <%= f.select :discount_type, DISCOUNT_TYPE, {}, {:class => "discount_select chzn-select", :id => "discount_type"} %>
          </div>

          <!--<div class="grid_summary_row net_total">-->
          <!--<div class="grid_summary_title">-->
          <!--Net Total-->
          <!--</div>-->
          <!--<div class="grid_summary_description">-->
          <!--<%#= f.hidden_field :invoice_total %>-->
          <!--<%#= label_tag '', '', :id => 'invoice_total_lbl', :class => 'net_total_value' %>-->
          <!--</div>-->
          <div class="grid_summary_description">
            <%= f.hidden_field :discount_amount %>
            <%= label_tag '', '', :id => 'invoice_discount_amount_lbl', :style => 'font-weight:normal; display:none;' %>
            <%= f.text_field :discount_percentage, :class => "invoice_discount" %>
          </div>
        </div>

        <%= f.hidden_field :tax_amount %>
        <div class="grid_summary_row taxes_total">
          <ul>
            <% @recurring_profile.tax_details.map do |tax, amount| %>
                <li><span class='grid_summary_title'><%= tax %></span>
                  <span class='grid_summary_description tax_amount'><%= number_to_currency(amount).gsub("$", "") %></span>
                </li>
            <% end %>
          </ul>
        </div>

        <div class="grid_summary_row net_total">
          <div class="grid_summary_title">
            Net Total
          </div>
          <div class="grid_summary_description">
            <%= f.hidden_field :invoice_total %>
            <%= label_tag '', '', :id => 'invoice_total_lbl', :class => 'net_total_value' %>
          </div>
        </div>
      </div>
    </div>
    <!--grid_summary-->

    <div class="fields_content_data new_invoice_fields">

      <div class="field_row textarea">
        <div class="label_field textarea"><%= f.label :notes %></div>
        <div class="large_field">
          <%= f.text_area :notes %>
        </div>
      </div>
      <!--field_row-->

    </div>
    <!--fields_content_data-->

    </div>
    <!--content_middle-->

    <div class="content_bottom">
      <%= f.submit action_name == 'new' ? 'Create Profile' : 'Update Profile', :class => 'btn_large submit' %>
      <%= link_to 'Cancel', recurring_profiles_path, :class => 'btn_large grey' %>
    </div>
    <!--content_bottom-->

    </div>
    <!--invoice_form-->
<% end %>
