<%- model_class = RecurringProfile -%>
<div id="sort_direction" style="display: none;"><%= params[:direction] %></div>

<div class="recurring_profile">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t '.title', :default => t("views.invoices.recurring.heading") %>
        <span>&nbsp;/&nbsp;<%= t('views.invoices.active') %></span>
      </h1>
    </div>
    <div class="primary_btn">
      <%= link_to (content_tag(:span, t('views.invoices.recurring.new'))),
                  new_recurring_profile_path,
                  :class => 'btn_large' %>
    </div>
  </div>
  <!--content_top-->
  <%= form_tag "recurring_profiles/bulk_actions", {method: :get, :remote => true} do -%>
      <div class="content_middle">
        <div class="grid_control">
          <div class="grid_control_left">
            <ul value='<%= "Recurring Profile" %>' id="bulk_actions">
              <%= render "bulk_actions" %>
            </ul>
          </div>
          <div class="grid_control_right" id="active_links">
            <%= render 'filter_links' %>
          </div>

        </div>
        <!--grid_control-->

        <div class="grid_table">
          <table cellpadding="0" cellspacing="0" class="table table_listing invoice_listing <%= I18n.locale %>">
            <colgroup>
              <col class="one"/>
              <col class="two"/>
              <col class="three"/>
              <!--<col class="four"/>-->
              <col class="four"/>
              <col class="five"/>
              <col class="six"/>
              <col class="seven"/>
              <col class="eight"/>
            </colgroup>
            <thead id="recurring_profile_head">
                    <%= render 'recurring_profile_header'%>
            </thead>
            <tbody id="recurring_profile_body">
            <%= render 'recurring_profile' %>
            <tfoot id="paging_links">
            <%= render "application_partials/paging" %>
            </tfoot>
            </tbody>
          </table>
        </div>
        <!--grid_table-->
      </div>
      <!--content_middle-->
      <div class="content_bottom">
        <%= link_to (content_tag(:span, t("views.invoices.recurring.new"))),
                    new_recurring_profile_path,
                    :class => 'btn_large' %>
      </div>
      <!--content_bottom-->
  <% end %>
</div><!--invoice-->


