<%- model_class = RecurringProfile -%>

<div class="content_top">
  <div class="primary_heading">
    <h1><%= t '.title', :default => t('helpers.titles.new', :model => t('views.invoices.recurring.recurring_profile'),
                                      :default => "New #{model_class.model_name.human}") %></h1>
  </div>
</div><!--content_top-->

<%= render 'form'  %>
<div id="clients_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'clients/new_client' %>
</div>
<div id="items_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'items/new_item' %>
</div>
<div id="payment_terms_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'payment_terms/new_term' %>
</div>
<div id="taxes_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'taxes/new_tax' %>
</div>
