<!--- Activity sidebar --->
<aside id="activity-sidebar" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <!--user listing-->

      <h5><%= link_to 'USERS', sub_users_path %></h5>
      <div class="user-list" id="users">
        <%= render partial: 'user', collection: @users %>
      </div>
    </div>
    <div class="status-info">
      <!--company listing-->
      <h5><%= link_to 'COMPANIES', companies_path %></h5>
       <div class="user-list" id="companies">
         <%= render partial: 'company', collection: @companies %>
      </div>
    </div>
  </div>
</aside>