<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= all_clients_or_individual_client_name(@report.client_name) %></h6>

    <span class="text-uppercase"><%= raw @report.period %></span>
  </div>
  <p><%= t('views.reports.aged_accounts_receivable_dtl') %></p>

  <%= render 'reports/report_partials/format_links'%>
</div>

<table class="bordered table_listing aged_accounts_listing">

<thead>
<tr>
  <th width="20%"><%= t('views.clients.client_name') %></th>
  <th width="16%" class="align-right"><%= t('views.reports.days_0_30') %></th>
  <th width="16%" class="align-right {sorter:'thousands'}"><%= t('views.reports.days_31_60') %></th>
  <th width="16%" class="align-right {sorter:'thousands'}"><%= t('views.reports.days_61_90') %></th>
  <th width="16%" class="align-right {sorter:'thousands'}"><%= t('views.reports.days_above_90') %></th>
  <th width="16%" class="align-right {sorter:'thousands'}"><%= t('views.reports.client_total_ar') %></th>
</tr>
</thead>
<body>
<% unless @report.report_data.blank? %>
    <% @report.report_data.group_by{|data| data["client_name"]}.values.each do |ages| %>
      <tr>
        <td class="align_left text-overflow-class" data-overflow-rows="2"  data-sort_val="<%= ages.first.attributes["client_name"] %>">
          <%= ages.first.attributes["client_name"] %>
        </td>
        <td class="align-right" data-sort_val="<%= ages.sum{|aged| aged.attributes['zero_to_thirty'] }  %>">
          <% ages.each do |aged| %>
            <%= aged.attributes['currency_code'] %>
            <%= number_to_currency(aged.attributes["zero_to_thirty"],unit: '') %>
            <br>
          <% end %>
        </td>
        <td class="align-right" data-sort_val="<%= ages.sum{|aged| aged.attributes['thirty_one_to_sixty'] } %>">
          <% ages.each do |aged| %>
            <%= aged.attributes['currency_code'] %>
            <%= number_to_currency(aged.attributes["thirty_one_to_sixty"],unit: '') %>
            <br>
          <% end %>
        </td>
        <td class="align-right" data-sort_val="<%= ages.sum{|aged| aged.attributes['sixty_one_to_ninety'] } %>" >
          <% ages.each do |aged| %>
            <%= aged.attributes['currency_code'] %>
            <%= number_to_currency(aged.attributes["sixty_one_to_ninety"],unit: '') %>
            <br>
          <% end %>
        </td>
        <td class="align-right" data-sort_val="<%= ages.sum{|aged| aged.attributes['ninety_one_and_above'] } %>" >
          <% ages.each do |aged| %>
            <%= aged.attributes['currency_code'] %>
            <%= number_to_currency(aged.attributes["ninety_one_and_above"],unit: '') %>
            <br>
          <% end %>
        </td>
        <td class="align-right" data-sort_val="<%= ages.sum{|aged| aged.attributes["zero_to_thirty"] + aged.attributes["thirty_one_to_sixty"] + aged.attributes["sixty_one_to_ninety"] + aged.attributes["ninety_one_and_above"]} %>" >
          <% ages.each do |aged| %>
            <%= aged.attributes['currency_code'] %>
            <%= number_to_currency(aged.attributes["zero_to_thirty"] + aged.attributes["thirty_one_to_sixty"] + aged.attributes["sixty_one_to_ninety"] + aged.attributes["ninety_one_and_above"],unit: '') %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
<% else %>
    <tr>
      <td colspan="6" class="report_no_data"><%= t('views.reports.report_no_data') %></td>
    </tr>
<% end %>
<% unless @report.report_data.blank? %>
  <tfoot>
    <tr>
      <td><strong><%= t("views.common.total") %></strong></td>
      <td class="align-right">
        <% @report.report_total.each do |total| %>
          <div>
            <b>
              <%= total["currency_code"] %>
              <%= number_to_currency(total["zero_to_thirty"], unit: '') %>
            </b>
          </div>

        <% end %>
      </td>
      <td class="align-right">
        <% @report.report_total.each do |total| %>
          <div>
            <b>
              <%= total["currency_code"] %>
                <%= number_to_currency(total["thirty_one_to_sixty"],unit:'') %>
            </b>
          </div>
        <% end %>
      </td>
      <td class="align-right">
        <% @report.report_total.each do |total| %>
          <div>
            <b>
              <%= total["currency_code"] %>
              <%= number_to_currency(total["sixty_one_to_ninety"],unit:'') %>
            </b>
          </div>
        <% end %>
      </td>
      <td class="align-right">
        <% @report.report_total.each do |total| %>
            <div>
              <b>
                <%= total["currency_code"] %>
                <%= number_to_currency(total["ninety_one_and_above"],unit:'') %>
              </b>
            </div>
        <% end %>
      </td>
      <td class="align-right">
        <% @report.report_total.each do |total| %>
           <div>
             <b>
               <%= total["currency_code"] %>
               <%= number_to_currency(total["total_amount"],unit:'') %>
             </b>
           </div>
        <% end %>
      </td>
    </tr>
  </tfoot>
<% end %>
</body>
</table>
