<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= @report.client_name %></h6>
    <span class="text-uppercase"><%= raw @report.period %></span>
  </div>
  <p><%= t('views.reports.invoice_detail_dtl') %></p>

  <%= render 'reports/report_partials/format_links'%>
</div>
<br/>

<table class="table_listing item_sales_listing tablesorter">

<thead>
<tr>
  <th width="20%" class="not-sortable"><%= t('views.invoices.invoice_number') %></th>
  <th width="20%" class="not-sortable"><%= t('client') %></th>
  <th width="20%" class="not-sortable center-align"><%= t('views.invoices.invoice_date') %></th>
  <th width="20%" class="center-align"><%= t('views.invoices.invoice_status') %></th>
  <th width="20%" class="right-align not-sortable"><%= t('views.invoices.invoice_amount') %></th>
</tr>
</thead>
<tbody>
  <% unless @report.report_data.blank? %>
    <% @report.report_data.each do |invoice| %>
        <tr>
          <td data-sort_val="<%= invoice.invoice_number %>"><%= request.format.pdf? ? invoice.invoice_number : link_to(invoice.invoice_number, invoice_path(invoice), remote: true, class: "invoices_link") %></td>
          <td class="align_left" data-sort_val="<%= invoice.client.organization_name %>"><%= invoice.client.organization_name %></td>
          <td class="center-align" data-sort_val="<%= invoice.invoice_date %>" ><%= invoice.invoice_date %></td>
          <td class="center-align <%= invoice.status %>" title="<%= invoice.tooltip %>" data-sort_val="<%= invoice.status %>" ><%= invoice.status %></td>
          <td class="right-align" data-sort_val="<%= invoice.invoice_total %>" ><%= invoice.currency.present? ? invoice.currency.unit : "USD" %>  <%= number_to_currency(invoice.invoice_total, unit: '' ) %></td>
        </tr>
    <% end %>
    <tfoot>
    <tr>
      <td class="align_left"><strong><%= t('views.common.total') %></strong></td>
      <td colspan="4" class="right-align currency">
        <% @report.report_total.each do |total| %>
            <span><b><%= total[:currency_code] %> <%= number_to_currency(total[:total],unit: '') %></b></span>
        <% end %>
      </td>
    </tr>
    </tfoot>
  <% else %>
    <tr>
      <td colspan="5"><%= t('views.reports.report_no_data') %></td>
    </tr>
  <% end %>
</tbody>
</table>
