<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= @report.client_name %></h6>
    <span><%= raw @report.period %></span>
  </div>

  <%= render 'reports/report_partials/format_links'%>
</div>
<br/>

<table cellpadding="0" cellspacing="0" class="table_listing item_sales_listing <%= I18n.locale %>">
  <thead>
  <tr>
    <th width="20%"><%= t('views.items.item_name') %></th>
    <th width="20%" class="center-align">Invoice Number </th>
    <th width="15%" class="right-align"><%= t('views.reports.total_qty_sold') %></th>
    <th width="15%" class="right-align {sorter:'total_amount'} "><%= t('views.reports.total_amount') %></th>
    <th width="15%" class="right-align {sorter:'thousands'}"><%= t('views.reports.total_discount') %></th>
    <th width="15%" class="right-align {sorter:'thousands'}"><%= t('views.reports.net_total') %></th>
  </tr>
  </thead>
  <tbody>
  <% unless @report.report_data.blank? %>
      <% @report.report_data.group_by{|data| data.item_name}.values.each do |items| %>
        <tr>
          <td data-sort_val="<%= items.first.item_name %>"><%= items.first.item_name %></td>
          <td class="center-align">

            <%  items.each do |item| %>
                <%= request.format.pdf? ? item.attributes["invoice_number"] : (link_to item.attributes["invoice_number"], invoice_path(item.invoice_id),remote: true) %>
                <br>
            <% end %>
          </td>

          <td class="right-align" data-sort_val="<%= items.sum{|item| item.attributes["item_quantity"].to_i}  %>">
            <%  items.each do |item| %>
              <%= item.attributes["item_quantity"].to_i %>
              <br>
            <% end %>
          </td>
          <td class="right-align currency" data-sort_val="<%= items.sum{|item| item.attributes["total_amount"]}  %>">
            <%  items.each do |item| %>
              <%= item.attributes["currency_code"] %>
              <%= number_to_currency(item.attributes["total_amount"],unit: '') %>
              <br>
            <% end %>
          </td>
          <td class="right-align currency"  data-sort_val="<%= items.sum{|item| item.attributes["discount_amount"]}  %>" >
            <%  items.each do |item| %>
                <%= item.attributes["currency_code"] %>
              <%= number_to_currency(item.attributes["discount_amount"],unit: '') %>
              <br>
            <% end %>
          </td>
          <td class="right-align currency"  data-sort_val="<%= items.sum{|item| item.attributes["net_total"]}  %>">
            <%  items.each do |item| %>
              <%= item.attributes["currency_code"] %>
              <%= number_to_currency(item.attributes["net_total"],unit: '') %>
              <br>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tfoot>
        <% border_class='test'%>
          <%# border_class= @report.report_total.last==total ? 'dark-border' : 'no-border' %>
        <tr>
          <td><strong><%= t("views.common.total") %></strong></td>
          <td class="center-align ">
            <% @report.report_total.each do |total| %>
              <span>
                <%= total["invoice_number"] %>
              </span>
            <% end %>
          </td>

          <td class="right-align ">
            <% @report.report_total.each do |total| %>
              <span>
                <%= total["item_quantity"].to_i %>
              </span>
            <% end %>
          </td>
          <td class="right-align currency ">
            <% @report.report_total.each do |total| %>
              <span>
                <%=total["currency_code"] %>
                <%= number_to_currency(total["total_amount"],unit:'') %>
              </span>
            <% end %>
          </td>
          <td class="right-align currency ">
            <% @report.report_total.each do |total| %>
              <span>
                <%=total["currency_code"] %>
                <%= number_to_currency(total["discount_amount"],unit:'') %>
              </span>
            <% end %>
          </td>
          <td class="right-align currency ">
            <% @report.report_total.each do |total| %>
              <span>
                <%=total["currency_code"] %>
                <%= number_to_currency(total["net_total"],unit:'') %>
              </span>
            <% end %>
          </td>
        </tr>
      </tfoot>
  <% else %>
      <tr>
        <td colspan="6"><%= t('views.reports.report_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
