<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= all_clients_or_individual_client_name(@report.client_name) %></h6>
    <span class="text-uppercase"><%= raw @report.period %></span>
  </div>
  <p><%= t('views.reports.payments_collected_dtl') %></p>

  <%= render 'reports/report_partials/format_links'%>
</div>
<table class="bordered">
    <thead>
    <tr>
      <th width="15%"><%= t('views.clients.client_name') %></th>
      <th width="10%"><%= t('views.invoices.invoice') %></th>
      <th width="15%"><%= t('views.common.type') %></th>
      <th  width="26%"><%= t('views.common.note') %></th>
      <th class="center-align" width="17%"><%= t('views.common.date') %></th>
      <th class="align-right {sorter:'thousands'}" width="17%"><%= t('views.dashboard.amount') %></th>
    </tr>
    </thead>
    <% unless @report.report_data.blank? %>
      <tbody>
        <% @report.report_data.group_by{|data| data[:client_name]}.values.each do |payments| %>
          <% payments.each_with_index do |payment, index| %>
            <tr class="no-border">
              <% if index == 0 %>
                  <td class="align_left text-overflow-class bottom-bordered" data-overflow-rows="2"
                      rowspan="<%= payments.count %>">
                    <%= payment[:client_name] %>
                  </td>
              <% end %>
            <td class="align_left<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= request.format.pdf? ? payment.invoice.invoice_number : (link_to payment.invoice.invoice_number, invoice_path(payment.invoice),remote: true) %>
            </td>
            <td class="align_left<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= (payment.payment_type || payment.payment_method || "").capitalize %>
            </td>
            <td class="left-align text-overflow-class<%= ' bottom-bordered' if index == payments.count - 1 %>" data-overflow-rows="2">
              <%= payment.notes %>
            </td>
            <td class="center-align<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= payment.created_at.to_date.strftime(get_date_format) %>
            </td>
            <td class="align-right currency<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= content_tag(:span, '* ') if payment.payment_method == "Credit" %>
              <%= payment.currency_code %>
              <%= number_to_currency(payment.payment_amount,unit: '') %>
            </td>
          </tr>
          <% end %>
       <% end %>
      </tbody>
    <tfoot>
      <tr>
        <td colspan="5"><strong><%= t('views.common.total') %></strong></td>
        <td class="align-right currency">
          <% @report.report_total.each do |total| %>
            <span>
              <b>
                <%= total[:currency_code] %>
                <%= number_to_currency(total[:total],unit: '') %>
              </b>
            </span>
          <% end %>
        </td>
      </tr>
    </tfoot>
<% else %>
      <tbody>
      <tr>
        <td colspan="6"><%= t('views.reports.report_no_data') %></td>
      </tr>
      </tbody>
<% end %>
</table>
