<div class="new-invoice-table-holder main-invoice page-box">
<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= all_clients_or_individual_client_name(@report.client_name) %></h6>
    <span class="text-uppercase"><%= raw @report.period %></span>
  </div>
  <p><%= t('views.reports.payments_collected_dtl') %></p>

  <%= render 'reports/report_partials/format_links'%>
</div>
<table class="bordered table_listing grid-view">
    <thead>
    <tr>
      <th width="30%"><%= t('views.clients.client_name') %></th>
      <th width="15%"><%= t('views.invoices.invoice') %></th>
      <th width="15%"><%= t('views.common.type') %></th>
      <th class="center-align" width=20%"><%= t('views.common.date') %></th>
      <th class="align_right" width="20%"><%= t('views.dashboard.amount') %></th>
    </tr>
    </thead>
    <% unless @report.report_data.blank? %>
      <% total_in_base_currency = 0 %>
      <tbody class="table-view-body">
        <% @report.report_data.group_by{|data| data[:client_name]}.values.each do |payments| %>
        <div class="page_break"></div>
        <% payments.each_with_index do |payment, index| %>
            <tr class="no-border invoice-card invoice-table-row invoice-item-row avoid_page_break">
              <% if index == 0 %>
                  <td class="align_left text-overflow-class bottom-bordered item-name" data-overflow-rows="2"
                      rowspan="<%= payments.count %>">
                    <%= payment[:client_name] %>
                  </td>
              <% end %>
            <td class="align_left<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= request.format.pdf? ? payment.invoice.invoice_number : (link_to payment.invoice.invoice_number, invoice_path(payment.invoice),remote: true,  class: "invoices_link invoice_show_link") %>
            </td>
            <td class="align_left<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= (payment.payment_type || payment.payment_method || "").capitalize %>
            </td>

            <td class="center-align<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= payment.created_at.to_date.strftime(get_date_format) %>
            </td>
            <td class="align_right currency<%= ' bottom-bordered' if index == payments.count - 1 %>">
              <%= content_tag(:span, '* ') if payment.payment_method == "Credit" %>
              <%= number_to_currency(payment.payment_amount, unit: payment.currency_code) %><br>
              <i class="base-currency-equivalent"><%= number_to_currency((payment.payment_amount / payment.invoice.conversion_rate), unit: current_company_obj.base_currency.code) rescue '' %></i>
              <% total_in_base_currency += ((payment.payment_amount/payment.invoice.conversion_rate) rescue invoice.payment_amount) %>
            </td>
          </tr>
          <% end %>
       <% end %>
      </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><strong><%= t('views.common.total') %></strong></td>
        <td class="align_right currency">
          <% @report.report_total.each do |total| %>
            <div>
              <b>
                <%= number_to_currency(total[:total],unit: total[:currency_code]) %>
              </b>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="4"><strong><%= t('views.common.total') %> (<%= current_company_obj.base_currency.unit %>)</strong></td>
        <td class="align_right currency">
          <div>
            <b>
              <%= number_to_currency(total_in_base_currency, unit: current_company_obj.base_currency.code) %>
            </b>
          </div>
        </td>
      </tr>

    </tfoot>
<% else %>
      <tbody>
      <tr>
        <td colspan="5"><%= t('views.reports.report_no_data') %></td>
      </tr>
      </tbody>
<% end %>
</table>
</div>