<div class="reports">
  <div class="content_middle">

    <div class="report_content_header">
      <div class="report_content_heading">
        <h1>Revenue By Client</h1>
      </div>

      <div class="content_header_data">
        <div class="header_data_left">
          <div class="header_data_detail">
            <ul>
              <li class="header_name"><%= @report.client_name %></li>
              <li class="header_duration"><%= @report.period %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- content_header_data -->
    </div>
    <!-- report_content_header -->

    <%= render 'reports/report_partials/format_links'%>

    <div class="revenue_by_client">
      <div class="grid_table">
        <table cellpadding="0" cellspacing="0" class="table_listing client_report_listing">
          <colgroup>
            <col class="one"/>
            <col class="two"/>
            <col class="three"/>
            <col class="four"/>
            <col class="five"/>
          </colgroup>

          <thead>
            <th class="align_left">Client</th>
            <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each  do |month| %>
                <th class="align_right"><%= Date::MONTHNAMES[month].to_s[0..2] %></th>
            <% end %>
            <th class="align_right">Total</th>
          </thead>
          <tbody>
          <% unless @report.report_data.blank? %>
              <% @report.report_data.each do |revenue| %>
                  <!--tr><td colspan="6"><%#= payment.inspect %></td> </tr-->
                  <tr>
                    <td class="align_left text-overflow-class"><%= revenue.organization_name %></td>
                    <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
                        <td class="align_right"><%= number_to_currency(revenue["#{Date::MONTHNAMES[month]}"]).to_s.gsub("$", "") %></td>
                    <% end %>
                    <td class="align_right"><%= number_to_currency(revenue.client_total) %></td>
                  </tr>
              <% end %>
              <tfoot>
              <td class="align_left">Total</td>
              <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
                  <td class="align_right"><%= @report.report_total["#{Date::MONTHNAMES[month]}"] == 0 ? "" : number_to_currency(@report.report_total["#{Date::MONTHNAMES[month]}"])  %></td>
              <% end %>
              <td class="align_right"><%= number_to_currency(@report.report_total["net_total"] || "") %></td>
              </tfoot>
          <% else %>
              <tr>
                <td colspan="<%= 2+(@report.report_criteria.from_month..@report.report_criteria.to_month).size %>">No data found against the selected criteria. Please change criteria and try again.
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!--grid_table-->
    </div>
    <!--revnue_by_client-->


    <div class="content_bottom">
      <div class="report_footer">

      </div>
      <!-- report_footer -->
    </div>
    <!--content_bottom-->

  </div>
  <!--content_middle-->
</div><!--reports-->