<div class="reports">
  <div class="content_middle">

    <div class="report_content_header">
      <div class="report_content_heading">
        <h1><%= t('views.reports.revenue_by_client') %></h1>
      </div>

      <div class="content_header_data">
        <div class="header_data_left">
          <div class="header_data_detail">
            <ul>
              <li class="header_name"><%= @report.client_name %></li>
              <li class="header_duration"><%= @report.period %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- content_header_data -->
    </div>
    <!-- report_content_header -->

    <div class="header_data_right">
      <ul class="download_report">
        <li class="download_report_title"><%= t('views.reports.export_to') %>:</li>
        <li class="download_sep"><%= t('views.common.csv') %></li>
        <li><%= t('views.common.excel') %></li>
      </ul>
      <ul class="print_report">
        <li><a href="#"><%= t('views.reports.print_report') %></a></li>
      </ul>
      <div class="report_duration">
        <!--<ul>-->
          <!--<li>01/01/2013</li>-->
          <!--<li><span>to</span></li>-->
          <!--<li>01/01/2013</li>-->
        <!--</ul>-->
      </div>
      <!-- report_duration -->
    </div>

    <div class="revenue_by_client">
      <div class="grid_table">
        <table cellpadding="0" cellspacing="0" class="table_listing client_report_listing">
          <colgroup>
            <col class="one"/>
            <col class="two"/>
            <col class="three"/>
            <col class="four"/>
            <col class="five"/>
          </colgroup>

          <thead>
            <th class="align_left"><%= t('views.clients.client') %></th>
            <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each  do |month| %>
                <th class="align_right"><%= Date::MONTHNAMES[month].to_s[0..2] %></th>
            <% end %>
            <th class="align_right"><%= t('views.common.total') %></th>
          </thead>
          <tbody>
          <% unless @report.report_data.blank? %>
              <% @report.report_data.each do |revenue| %>
                  <!--tr><td colspan="6"><%#= payment.inspect %></td> </tr-->
                  <tr>
                    <td class="align_left text-overflow-class"><%= revenue.organization_name %></td>
                    <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
                        <td class="align_right"><%= number_to_currency(revenue["#{Date::MONTHNAMES[month]}"]).to_s.gsub("$", "") %></td>
                    <% end %>
                    <td class="align_right"><%= number_to_currency(revenue.client_total) %></td>
                  </tr>
              <% end %>
              <tfoot>
              <td class="align_left">Total</td>
              <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
                  <td class="align_right"><%= @report.report_total["#{Date::MONTHNAMES[month]}"] == 0 ? "" : number_to_currency(@report.report_total["#{Date::MONTHNAMES[month]}"])  %></td>
              <% end %>
              <td class="align_right"><%= number_to_currency(@report.report_total["net_total"] || "") %></td>
              </tfoot>
          <% else %>
              <tr>
                <td colspan="14"><%= t('views.reports.report_no_data') %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!--grid_table-->
    </div>
    <!--revnue_by_client-->


    <div class="content_bottom">
      <div class="report_footer">

      </div>
      <!-- report_footer -->
    </div>
    <!--content_bottom-->

  </div>
  <!--content_middle-->
</div><!--reports-->