<div class="col s12 page-box-header">
  <div class="title-desc">
    <h6><%= @report.client_name %></h6>
    <span><%= @report.period %></span>
    <!--<span>Between <strong> 02 jan, 17 </strong> And  <strong>03 Jan, 17</strong></span>-->
  </div>


  <%= render 'reports/report_partials/format_links'%>
</div>
<br/>

<table class="bordered">
  <thead>
    <th width="40%"><%= t('views.clients.client') %></th>
    <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each  do |month| %>
        <th width="15%"  class="right-align"><%= Date::MONTHNAMES[month].to_s[0..2] %></th>
    <% end %>
    <th width="15%"  class="right-align"><%= t('views.common.total') %></th>
  </thead>
  <tbody>
  <% unless @report.report_data.blank? %>
    <% @report.report_data.group_by{|data| data.organization_name}.values.each do |revenues| %>
      <tr>
        <td class="align_left text-overflow-class" data-sort_val="<%= revenues.first.organization_name %>"><%= revenues.first.organization_name %></td>
        <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
          <td class="right-align" data-sort_val="<%= revenues.sum{|revenue| revenue["#{Date::MONTHNAMES[month]}"] } %>" >
            <% revenues.each do |revenue| %>
              <%= number_to_currency(revenue["#{Date::MONTHNAMES[month]}"],unit: revenue['currency_code']) %>
              <br>
            <% end %>
          </td>
        <% end %>
        <td class="right-align" data-sort_val="<%= revenues.sum{|revenue| revenue.client_total } %>" >
          <% revenues.each do |revenue| %>
            <%= number_to_currency(revenue.client_total,unit: revenue['currency_code']) %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <td><strong><%= t("views.common.total")%></strong></td>
        <% (@report.report_criteria.from_month..@report.report_criteria.to_month).each do |month| %>
            <td class="right-align">
              <% @report.report_total.each do |total| %>
                <%= total["#{Date::MONTHNAMES[month]}"] == 0 ? "" : number_to_currency(total["#{Date::MONTHNAMES[month]}"],unit: total[:currency_code])  %>
                <br>
              <% end %>
            </td>
        <% end %>
        <td class="right-align">
          <% @report.report_total.each do |total| %>
            <%= number_to_currency(total[:net_total] || 0 , unit: total[:currency_code]) %>
            <br>
          <% end %>
        </td>
      </tr>
    </tfoot>
  <% else %>
    <tr>
      <td colspan="<%= 2+(@report.report_criteria.from_month..@report.report_criteria.to_month).size %>">
        <%= t('views.reports.report_no_data') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
