<%= form_for(@client_contact) do |f| %>
    <% if @client_contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client_contact.errors.count, "error") %> prohibited this client_contact from being
            saved:</h2>

          <ul>
            <% @client_contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :client_id, t('views.clients.client_id') %>
      <br/>
      <%= f.number_field :client_id %>
    </div>
    <div class="field">
      <%= f.label :first_name, t('views.clients.first_name') %>
      <br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, t('views.clients.last_name') %>
      <br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email, t('views.common.email') %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone1, t('views.common.phone') %>
      <br/>
      <%= f.text_field :phone1 %>
    </div>
    <div class="field">
      <%= f.label :phone2, t('views.common.phone') %>
      <br/>
      <%= f.text_field :phone2 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
