<p id="notice"><%= notice %></p>

<p>
  <b><%= t('client') %>:</b>
  <%= @client_contact.client_id %>
</p>

<p>
  <b><%= t('views.clients.first_name') %>:</b>
  <%= @client_contact.first_name %>
</p>

<p>
  <b><%= t('views.clients.last_name') %>:</b>
  <%= @client_contact.last_name %>
</p>

<p>
  <b><%= t('views.common.email') %>:</b>
  <%= @client_contact.email %>
</p>

<p>
  <b><%= t('views.common.phone') %>1:</b>
  <%= @client_contact.phone1 %>
</p>

<p>
  <b><%= t('views.common.phone') %>2:</b>
  <%= @client_contact.phone2 %>
</p>


<%= link_to t('helpers.links.edit'), edit_client_contact_path(@client_contact) %> |
<%= link_to t('views.common.back'), client_contacts_path %>
