<div class="right-content col s12 m12 l12 xl3">
  <div class="user-list staff-list project_grid_fields" id="staff">
    <div class="status-info active">
      <h5><%= t('staff') %></h5>
      <div id="staff_container">
        <% count = 0 %>
        <%= f.simple_fields_for :team_members do |team_member| %>
            <%= render 'staff_fields', f: team_member, count: count %>
            <% count += 1 %>
        <% end %>
        <div class="small-font"><%= t('views.staffs.empty_listing') if count < 1 %></div>
      </div>
    </div>
    <div class="list-buttons">
      <%= link_to_add_association t('views.projects.add_staff'), f, :team_members, partial: 'staff_fields', id: 'add_member',
                                  data: { association_insertion_node: '#staff_container', association_insertion_method: :append },
                                  class: "addbtn #{'hidden' if params[:action].eql?('show')}" %>
      <a href="#" id="remove-staff-member" class="staff_remove_btn removebtn <%= 'hidden' if params[:action].eql?('show')%>"><%= t('helpers.links.remove') %></a>
    </div>
  </div>
</div>
