<%= simple_form_for @project, html: { class: 'project-form-inline nested-forms', id: 'horizontal-project-form' } do |f| %>
    <div class="content-detail">
      <div class="card-white-panel clearfix">
        <div class="left-content col s12 m12 l12 xl9">

          <div class="checkbox-item">
            <div class="invoice-name green-light"><%= @project.image_name rescue nil %></div>
          </div>
          <div class="invoice-details">
            <div class="row">
              <%= f.input :project_name, label: t('views.common.name'), label_html: { class: 'placeholder-position' },
                          input_html: { disabled: !can_edit }, wrapper_html: { class: 'input-field col s12 label-position' } %>
              <%= f.input :description, label: t('views.common.description'), label_html: { class: 'placeholder-position' },
                          input_html: { disabled: !can_edit }, wrapper_html: { class: 'input-field col s12 label-position' }, as: :string %>
              <%= f.input :client_id, collection: load_clients_for_project, selected: f.object.client_id, label: false, prompt: t('views.projects.select_a_client'),
                          input_html: { class: 'clientselect', disabled: !can_edit }, wrapper_html: { class: 'input-field col s6' } %>
              <%= f.input :manager_id, collection: load_managers_for_project(action_name, f.object.company_id, f.object.manager),
                          selected: f.object.manager_id, label: false, prompt: t('views.projects.select_a_manager'),
                          input_html: { class: 'managerselect', disabled: !can_edit }, wrapper_html: { class: 'input-field col s6' } %>
              <%= f.input :created_at, label: t('views.invoices.recurring.start_date'), label_html: { style: 'display: contents;' },
                          input_html: {value: @project.created_at.strftime(get_date_format), disabled: 'disabled', class: 'not-editable' },
                          wrapper_html: { class: 'input-field col s12 m4 l4 xl4' }, as: :string unless @project.new_record? %>
              <%= f.input :total_hours, label: "#{t('views.projects.estimated_time')} (hrs)", label_html: { class: 'active', style: 'display: contents;' },
                          disabled: true, wrapper_html: { class: 'input-field col s12 m4 l4 xl4' } %>
              <%= f.input :created_at, label: "#{t('views.projects.time_logged')} (hrs)",
                          label_html: { style: 'display: contents;', class: 'active not-editable' },
                          input_html: {value: @project.log_hours, class: 'not-editable', disabled: 'disabled' },
                          wrapper_html: { class: 'input-field col s12 m4 l4 xl4' }, as: :string unless @project.new_record? %>
            </div>
          </div>
        </div>
        <%= render 'form_staff_section', f: f %>
      </div>
    </div>
    <%= f.submit '', class: 'send_submit submit hidden', name: 'save_as_draft' %>
<% end %>
