<%= nested_form_for(@project, html:{class: 'project-form-inline'}) do |f| %>
    <div class="content-detail">
      <div class="card-white-panel clearfix">
        <div class="left-content col s12 m12 l8 xl9">
          <div class="text-wrapper">
            <div class="checkbox-item">
              <div class="invoice-name green-light"><%= @project.image_name rescue nil %></div>
            </div>
            <div class="invoice-details">
              <div class="editable-content">
                <div class="input-field">
                  <span><%= t('client') %> <small>:</small></span>
                  <%= f.select :client_id, options_for_select(load_clients_for_project, selected: f.object.client_id),  {include_blank: false}, {disabled: true, class: 'clientselect'} %>
                </div>
                <div class="text-field">
                  <span><%= t('project') %> <small>:</small> </span>
                  <strong class="text-blue project_name" contenteditable="false"> <%= f.text_field :project_name, placeholder: t('project_name')%></strong>
                  <%= f.hidden_field :project_name %>
                </div>
                <div class="input-field"><%= t('views.users.manager') %> <small>:</small>
                  <%= f.select :manager_id, options_for_select(load_managers_for_project(action_name, f.object.company_id, f.object.manager), selected: f.object.manager_id), {include_blank: false}, {disabled: true, class: 'managerselect'} %>
                </div>
              </div>
              <div class="amount-box">
                <span class="usertitle project_description" contenteditable="false"><%= f.text_field :description, placeholder: t('views.projects.project_description')%></span>
                <%= f.hidden_field :description %>
              </div>
            </div>
          </div>
          <div class="form-wrapper row">
            <% unless @project.new_record? %>
                <div class="input-field col s12 m4 l4 xl4">
                  <label><%= t('views.invoices.recurring.start_date') %></label>
                  <input type="text" value="<%= @project.created_at.strftime(get_date_format)%>" placeholder="" disabled class="not-editable">
                </div>
            <% end %>
            <div class="input-field col s12 m4 l4 xl4">
              <label class="active"><%= t('views.projects.estimated_time') %> (hrs)</label>
              <%= f.number_field :total_hours, disabled: true %>
            </div>
            <% unless @project.new_record? %>
            <div class="input-field col s12 m4 l4 xl4">
              <label class="active not-editable"><%= t('views.projects.time_logged') %> (hrs)</label>
              <input type="text" value="<%= @project.log_hours %>" disabled/>
            </div>
            <% end %>
          </div>
        </div>
        <div class="right-content col s12 m12 l4 xl3">
          <div class="user-list staff-list project_grid_fields" id="staff">
            <div class="status-info active">
              <h5><%= t('staff') %></h5>
              <div id="staff_container">
                <% count = 0 %>
                <%= f.fields_for :team_members do |f| %>
                  <%= render partial: 'staff_fields', locals: {f: f, count: count} %>
                  <% count += 1 %>
                <% end %>
              </div>
            </div>
            <div class="list-buttons">
              <%= f.link_to_add t('views.projects.add_staff'), :team_members, class: 'addbtn', id: 'add_member', data: { target: '#staff_container' } %>
              <a href="#" class="staff_remove_btn removebtn hidden"><%= t('helpers.links.remove') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit "submit", :class => 'send_submit submit hidden', :name => 'save_as_draft' %>
<% end %>
