<%= form_for @project do |f| %>
    <div class="content-detail">
      <div class="card-white-panel clearfix">
        <div class="left-content col s12 m12 l8 xl9">
          <div class="text-wrapper">
            <div class="checkbox-item">
              <div class="invoice-name green-light"><%= @project.image_name %></div>
            </div>
            <div class="invoice-details">
              <div class="editable-content">
                <div class="input-field">
                  <span>Client <small>:</small></span>
                  <%= f.select :client_id, options_for_select(load_clients_for_project, selected: f.object.client_id),  {include_blank: false}, {disabled: true, class: 'clientselect'} %>
                </div>
                <div class="text-field">
                  <span>Project <small>:</small> </span>
                  <strong class="text-blue"> <%= @project.project_name %></strong>
                </div>
                <div class="input-field"> Manager <small>:</small>
                  <%= f.select :manager_id, options_for_select(load_managers_for_project(action_name, f.object.company_id, f.object.manager), selected: f.object.manager_id), {include_blank: false}, {disabled: true, class: 'managerselect'} %>
                </div>
              </div>
              <div class="amount-box">
                <span class="usertitle"><%= @project.description %></span>
              </div>
            </div>
          </div>
          <div class="form-wrapper row">
            <div class="input-field col s12 m4 l4 xl4">
              <label>Start Date</label>
              <input type="text" value="<%= @project.updated_at.strftime(get_date_format)%>" placeholder="" disabled>
            </div>
            <div class="input-field col s12 m4 l4 xl4">
              <label>Estimated Time (hrs)</label>
              <%= f.number_field :total_hours, disabled: true %>
            </div>

            <div class="input-field col s12 m4 l4 xl4">
              <select disabled>
                <option value="1"><%= @project.log_hours %></option>
              </select>
              <label>Time Logged (hrs)</label>
            </div>
          </div>

        </div>
        <div class="right-content col s12 m12 l4 xl3">
          <div class="user-list staff-list" id="staff">
            <%= render partial: 'staffs', collection: @staffs, as: :staff %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit "submit", :class => 'send_submit submit hidden', :name => 'save_as_draft' %>
<% end %>