<tr class="fields">
  <td>
    <div class="elementsAction">
      <%= f.hidden_field :_destroy%>
      <a href="#" data-association="project_tasks" class="remove_task remove_nested_fields removeTask"><i class="material-icons close">close</i></a>
      <a class="sort_icon sortable" href="javascript:" title="Drag this line item to your desired location in this project"><i class="material-icons">open_with</i></a>
    </div>
  </td>
  <td class="align_center">
    <%= f.select :task_id, options_for_select(load_tasks_for_project(action_name, @project.company_id, f.object), selected: f.object.task_id),  {:prompt => t('views.projects.select_a_task'),:include_blank => ""}, {class: 'tasks_list inline-select title-select'} %>
  </td>
  <%= f.hidden_field :name, :class => 'name' %>
  <%= f.hidden_field :description, class: 'description' %>
  <%= f.hidden_field :rate, class: 'rate' %>
  <td class="description"><%= f.object.description %></td>
  <td class="center-align rate"><%= f.object.rate %></td>
</tr>