<div class="flex-item">
  <%= link_to '', project_project_task_path(@project,task) , remote: true, class: 'invoice_show_link', style: 'display: none' %>
  <div class="card-white-panel invoice-card">
    <div class="checkbox-item">
      <div class="invoice-name green-light"><%= @project.image_name rescue nil %></div>
    </div>
    <div class="invoice-details">
      <strong><a href="#"><%= task.name %></a></strong>
      <div class="amount-box">
        <span>Description</span>
        <span class="usertitle"><%= truncate task.description %></span>
      </div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <strong class="text-blue left">50% <small>Done</small></strong>
          <strong class="text-content right">200 <small>HRS</small></strong>
        </div>

      </div>
    </div>
    <div class="action-btn-group">
      <%= link_to raw('<i class="material-icons">create</i>'), edit_project_project_task_path(@project, task), class: 'edit-modal', title: 'Edit', remote: true %>
      <%= link_to raw('<i class="material-icons">delete</i>'), project_project_task_path(@project, task), method: :delete, data:{confirm: 'Are you sure?' }, title: 'Delete' %>
    </div>
  </div>
</div>