<tr class="fields">
  <td>
    <div class="elementsAction">
      <%= f.hidden_field :_destroy%>
      <a href="#" data-association="team_members" class="remove_member remove_nested_fields"><i class="material-icons close">close</i></a>
      <a class="sort_icon sortable" href="javascript:" title="Drag this line item to your desired location in this project"><i class="material-icons">open_with</i></a>
    </div>
  </td>
  <td class="align_center">
    <%= f.select :staff_id, options_for_select(load_staffs_for_project(action_name, @project.company_id, f.object), selected: f.object.staff_id),  {prompt: t('views.projects.select_a_member'), include_blank: ""}, {class: 'members_list inline-select title-select'} %>
  </td>

  <%= f.hidden_field :name, :class => 'name' %>
  <%= f.hidden_field :rate, :class => 'rate' %>
  <%= f.hidden_field :email, :class => 'email' %>

  <td class="email">
    <%= f.object.email %>
  </td>
  <td class="center-align rate">
    <%= f.object.rate %>
  </td>

</tr>