<%= render 'project_activity'%>
<div id="main-content" class='mCustomScrollbar <%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="row new-project-page">
    <div class="col s12 task-detail">
      <!--- breadcrum Bar --->
      <div class="breadcrum-bar activebar">
        <div class="card-white-panel noCollapse">
          <h3>
            <i class="zmdi zmdi-arrow-left project-back-icon" onclick="window.location.href = '/<%= I18n.locale %>/projects'"></i>
            <%= t '.title', :default => t('helpers.titles.edit', :model => t(Project.model_name.singular),
                                          :default => "Edit #{Project.model_name.human}") %>
          </h3>
          <div class="page-action-btn-group">
            <a href="#" class="edit-detail"><i class="material-icons">create</i></a>
            <a href="#" onclick="$('.send_submit').click();" title="<%= t('views.common.save') %>" class="submitProject hidden"> <i class="material-icons" >done</i></a>

            <%= link_to raw("<i class='material-icons'>delete</i>"),@project, method: :delete,
                        data:{confirm: t('helpers.messages.confirm'), success: t('views.projects.destroyed_msg'), redirect: projects_path}, title: t('helpers.links.delete') %>
          </div>
        </div>
      </div>
      <%= render 'project_detail' %>
    </div>
  </div>

  <% if @project.project_tasks.present?  %>
      <div class="row">
        <div class="col s12 task-detail">
          <!--- breadcrum Bar --->
          <div class="task-box clearfix">
            <!--- Invoices Card Title--->
            <div class="view-btn-group clearfix">
              <div class="btn-inline right">
                <!--ToDo-->
                <!-- Followings action actions will be implements later. -->
                <div class="btn-icons hidden">
                  <a href="#"><i class="material-icons">date_range</i></a>
                  <a href="#" class="active"><i class="material-icons">view_module</i></a>
                  <a href="#"><i class="material-icons">view_list</i></a>
                </div>
                <% if @project.project_tasks.count > 0 %>
                  <div class="btn-calender">
                    <a href='<%= project_path(@project, group: :day) %>' class="<%= 'active' if params[:group] == 'day' %>"><%= t('views.tasks.day') %></a>
                    <a href="<%= project_path(@project, group: :week) %>" class="<%= 'active' if params[:group] == 'week' %>"><%= t('views.tasks.week') %></a>
                    <a href="<%= project_path(@project) %>" class="<%= 'active' unless params[:group].present? %>"><%= t('views.tasks.month') %></a>
                  </div>
                <% end %>
              </div>
            </div>
            <!--- task Card --->
            <% if @project.project_tasks.count > 0 %>
                <% @project.project_tasks.group_by { |d| d.group_date(project_task_date_format) }.each do |date, tasks| %>
                    <p>
                      <span class="activity-date"><%= params[:group] == 'week' ? month_date_range(date) : date %></span>
                    </p>
                    <div class="flex-wrapper">
                      <%= render partial: 'tasks', collection: tasks, as: :task %>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
    $(document).ready(function(){
        $(".edit-detail").click();
    })

</script>