<%= render 'project_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel">
        <%= link_to raw('<i class="material-icons">add</i>'), new_project_path, remote: true, class: 'right', title: 'Add' %>
        <h3>Time Tracking : <%= link_to raw('<span class="text-color">Projects</span>'), projects_url %></h3>
      </div>
    </div>
  </div>

  <div class="invoice-box project-box mCustomScrollbar">
    <%= form_tag "projects/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>
      <div class="search_result_container"><%= render partial: 'projects_container' %></div>
      <%= render partial: 'bulk_actions'%>
    <% end %>
  </div>

</div>