<%= render 'project_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel">
        <h3 class="heading_with_action">Time Tracking:
          <select onchange="location = this.value;">
            <option value="<%= "/#{I18n.locale}/projects" %>" selected> Projects</option>
            <option value="<%= "/#{I18n.locale}/tasks" %>">Tasks</option>
            <option value="<%= "/#{I18n.locale}/staffs" %>">Staffs</option>
            <option value="<%= "/#{I18n.locale}/logs" %>">TimeSheet</option>
          </select>
          <%= link_to raw('<i class="material-icons">add</i>'), new_project_path, class: 'right', title: 'Add' %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box project-box mCustomScrollbar">
    <%= form_tag "projects/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>
      <div class="search_result_container"><%= render partial: 'projects_container' %></div>
      <%= render partial: 'bulk_actions'%>
    <% end %>
  </div>

</div>