<%= render 'project_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="row new-project-page">
    <div class="col s12 task-detail">
      <!--- breadcrum Bar --->
      <div class="breadcrum-bar activebar">
        <div class="card-white-panel noCollapse">
          <h3>
            <i class="zmdi zmdi-arrow-left project-back-icon" onclick="window.location.href = '/<%= I18n.locale %>/projects'"></i>
            <%= t '.title', :default => t('helpers.titles.new', :model => t(Project.model_name.singular),
                                          :default => "New  #{Project.model_name.human}") %>
          </h3>
          <div class="page-action-btn-group">
            <a href="#" class="edit-detail"><i class="material-icons">create</i></a>
            <a href="#" onclick="$('.send_submit').click();" title="<%= t('views.common.save') %>" class="submitProject hidden"> <i class="material-icons" >done</i></a>

            <%= link_to raw("<i class='material-icons close'>close</i>"), projects_path, data:{confirm: t('helpers.messages.confirm')},
                        title: t('views.common.back') %>
          </div>
        </div>
      </div>
      <%= render 'project_detail' %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      Project.load_functions();
      $(".edit-detail").click();
  })

</script>