<%= render 'project_activity'%>
<div id="main-content" class='mCustomScrollbar <%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="row">
    <div class="col s12 task-detail">
      <!--- breadcrum Bar --->
      <div class="breadcrum-bar activebar">
        <div class="card-white-panel">
          <h3><%= t('views.projects.project_detail') %></h3>
          <div class="page-action-btn-group">
            <a href="#" class="edit-detail"><i class="material-icons" title="<%= t('helpers.links.edit') %>">create</i></a>
            <a href="#" onclick="$('.send_submit').click();" title="<%= t('views.common.save') %>" class="submitProject hidden"> <i class="material-icons" >done</i></a>

            <%= link_to raw("<i class='material-icons'>delete</i>"),@project, method: :delete, data:{confirm: t('helpers.messages.confirm') }, title: t('helpers.links.delete') %>
          </div>
        </div>
      </div>
      <!--- breadcrum Bar --->
      <div class="breadcrum-bar mainbar">
        <div class="card-white-panel ">

          <%= link_to raw('<i class="material-icons">arrow_back</i>'), projects_path %>
          <h3><%= t('header.links.time_tracking.time_tracking') %> :
            <select onchange="location = this.value;">
              <% @projects.each do |project|%>
                  <option value="<%= project_path(project) %>" <%= "#{ 'selected' if project.id.eql?(@project.id)}"%> ><%= project.project_name %></option>
              <% end %>
            </select>
          </h3>
          <a href="#" class="btn-slide right">
            <i class="material-icons">keyboard_arrow_up</i>
          </a>
        </div>
      </div>
      <%= render 'project_detail' %>
    </div>
  </div>

  <% if @project_tasks.present?  %>
      <div class="row">
        <div class="col s12 task-detail">
          <!--- breadcrum Bar --->
          <div class="task-box clearfix">
            <!--- Invoices Card Title--->
            <div class="view-btn-group clearfix">
              <div class="btn-inline right">
                <!--ToDo-->
                <!-- Followings action actions will be implements later. -->
                <div class="btn-icons hidden">
                  <a href="#"><i class="material-icons">date_range</i></a>
                  <a href="#" class="active"><i class="material-icons">view_module</i></a>
                  <a href="#"><i class="material-icons">view_list</i></a>
                </div>
                <div class="btn-calender">
                  <a href='<%= project_path(@project, group: :day) %>' class="<%= 'active' if params[:group] == 'day' %>"><%= t('views.tasks.day') %></a>
                  <a href="<%= project_path(@project, group: :week) %>" class="<%= 'active' if params[:group] == 'week' %>"><%= t('views.tasks.week') %></a>
                  <a href="<%= project_path(@project) %>" class="<%= 'active' unless params[:group].present? %>"><%= t('views.tasks.month') %></a>
                </div>
              </div>
            </div>
            <!--- task Card --->
            <% @project_tasks.group_by { |d| d.group_date(project_task_date_format) }.each do |date, tasks| %>
                <p>
                  <span class="activity-date"><%= params[:group] == 'week' ? month_date_range(date) : date %></span>
                </p>
                <div class="flex-wrapper">
                  <%= render partial: 'tasks', collection: tasks, as: :task %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
