<div class="list-item" id="company_<%= company.id %>"
     title="<%= 'Current company cannot be deleted.' if company.id == get_company_id.to_i %>">
  <div class="checkbox-item">
    <%= check_box_tag 'company_ids[]', company.id, false, :id => "company_ck_#{company.id}",
                      class: "filled-in#{ ' disabled' if company.id == get_company_id.to_i }" %>
    <label for="<%= "company_ck_#{company.id}" %>"></label>
    <div class="invoice-name <%= random_card_color %>">
      <%= company.logo_url.present? ? image_tag(company.logo_url(:thumb), class: 'responsive-img circle') : company.image_name %>
    </div>
  </div>
  <div class="invoice-details editContent">
    <h5><%= company.company_name %></h5>
    <div class="input-field">
      <%= link_to company.contact_name, edit_company_path(company, setting_form: 1), data: {remote: true} %>
    </div>
    <div class="input-field">
      <input type="email" value="<%= company.email %>" placeholder="" disabled>
    </div>
    <div class="input-field countries">
      <select disabled>
        <option value="1"><%= company.country %></option>
      </select>
    </div>
  </div>
</div>