<div id="company_form_popup" class="modal editableModal editProject editClient newModel large_modal">
  <div class="modal-content">
    <%- model_class = Company -%>
    <div class="modal-header clearfix text-content">
      <div class="modal-action-btn right">
        <a href="javascript:void(0);" onclick="$('.submit').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
          <i class="material-icons" >done</i>
        </a>
        <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
      <h5 class="left">
        <% if @company.persisted? %>
            <%= t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                          :default => "Edit #{model_class.model_name.human}") %>
        <% else %>
            <%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                          :default => "New  #{model_class.model_name.human}") %>
        <% end %>
      </h5>
    </div>
    <%= simple_form_for @company, html: { id: 'companyForm', class: 'item_form', multipart: true } do |f| %>
        <%= hidden_field_tag :select_new, params[:select_new] %>
        <%= hidden_field_tag :setting_form, params[:setting_form] %>
        <div class="modal-body">
          <div class="row">
            <%= f.submit class: 'btn_large submit hidden' %>
            <h5 class="text-blue title-heading"><%= t('views.clients.organization') %></h5>
            <%= f.input :company_name, label: t('views.companies.name'), wrapper_html: { class: 'input-field col s6 md-input' } %>
            <%= f.input :abbreviation, label: t('Abbreviation'), wrapper_html: { class: 'input-field col s6 md-input' } %>
            <%= f.input :contact_name, label: t('views.clients.contact_name'), wrapper_html: { class: 'input-field col s6 m4 md-input' } %>
            <%= f.input :contact_title, label: t('views.clients.contact_title'), wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :email, label: t('views.common.email'), wrapper_html: { class: 'input-field col s6 m4 md-input' } %>
            <%= f.input :phone_number, label: t('views.common.phone'), wrapper_html: { class: 'input-field col s6 m4' }, as: :string %>
            <%= f.input :fax_number, label: t('views.common.fax'), wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :base_currency_id, label: t('views.common.base_currency'), collection: Currency.all.collect{|c| [c.unit, c.id] }, prompt: t('views.common.currency'), selected: @company.base_currency_id, input_html: {class: 'edit-company-select2'}, wrapper_html: { class: 'input-field col s6 m4' } %>
          </div>

          <div class="row">
            <h5 class="text-blue title-heading"><%= t('views.common.address') %></h5>
            <%= f.input :country, label: t('Country'), collection: COUNTRY_LIST, selected: @company.country, input_html: {class: 'edit-company-select2 select_2'}, wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :street_address_1, label: "#{t('views.common.street')}#1", wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :street_address_2, label: "#{t('views.common.street')}#2", wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :city, label: t('views.common.city'), wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :province_or_state, label: t('views.common.province'), wrapper_html: { class: 'input-field col s6 m4' } %>
            <%= f.input :postal_or_zipcode, label: t('views.common.zip_code'), wrapper_html: { class: 'input-field col s6 m4' } %>
          </div>
          <div class="row">
            <%= render 'logo_upload' %>
          </div>
          <div  class="row">
            <%= f.input :company_tag_line, label: t('views.companies.tag_line'), wrapper_html: { class: 'input-field col s12 m4' } %>
            <%= f.input :memo, label: t('views.companies.memo'), wrapper_html: { class: 'input-field col s12 m8' } %>
          </div>
          <%= f.simple_fields_for :mail_config do |mail| %>
            <div class="row company-mail-config">
              <h5 class="text-blue title-heading"><%= t('Mail Configuration') %></h5>
              <%= mail.input :address, wrapper_html: { class: 'input-field col s6 m4' } %>
              <%= mail.input :port, wrapper_html: { class: 'input-field col s6 m4' } %>
              <%= mail.input :authentication, collection: MailConfig::AUTHENTICATION_TYPES, input_html: {class: 'edit-company-select2 select_2'}, wrapper_html: { class: 'input-field  col s6 m4' } %>
              <%= mail.input :from, wrapper_html: { class: 'input-field col s6 m4' } %>
              <%= mail.input :user_name, wrapper_html: { class: 'input-field col s6 m4' } %>
              <%= mail.input :password, wrapper_html: { class: 'input-field col s6 m4' } %>
              <%= mail.input :enable_starttls_auto, input_html: { class: 'filled-in'}, as: :boolean,
                             wrapper_html: { class: 'checkbox-field inline-checkbox col s6 m4' }, boolean_style: :inline %>
              <%= mail.input :tls, input_html: { class: 'filled-in'}, as: :boolean,
                             wrapper_html: { class: 'checkbox-field inline-checkbox col s6 m4' }, boolean_style: :inline %>
              <%= mail.input :openssl_verify_mode, collection: MailConfig::OPEN_SSL_VERIFICATIONS_MODES, input_html: {class: 'edit-company-select2 select_2'}, wrapper_html: { class: 'input-field  col s6 m4' } %>

            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>