<%
   no_record_message = t('views.companies.no_record_msg')
   if params[:status] == "archived" || @action == "recovered from archived" ||  @action == "deleted from archived"
     no_record_message = t('views.companies.no_archived_msg')
   elsif params[:status] == "deleted" || @action == "recovered from deleted"
     no_record_message = t('views.companies.no_deleted_msg')
   end
%>
<% if  @companies.blank? %>
    <tr>
      <td colspan="6">
        <div class="no_record_container"><%= no_record_message %></div>
      </td>
    </tr>
<% else %>
    <% @companies.each do |company| %>
        <tr>
          <td class="align_center"> <%= check_box_tag "company_ids[]", company.id, false, :id => "company_#{company.id}" %></td>
          <td class="align_left"><%= company.company_name %></td>
          <td class="align_left"><%= company.contact_name %></td>
          <td class="align_left"><%= company.email %></td>
          <td class="align_left"><%= company.country %></td>
          <td class="align_left">
          <% if company.deleted_at.nil? %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_company_path(company), class: "demo-links" %>
            <% else %>
                <%= link_to t('views.common.recover', :default => t("helpers.links.recover")),
                            "javascript:;", class: "single-recover-link" %>
            <% end %>
          </td>
        </tr>
    <% end %>
<% end %>