<div class="list-item" id="company_<%= company.id %>"
     title="<%= 'Current company cannot be deleted.' if company.id == get_company_id %>">
  <div class="checkbox-item">
    <%= check_box_tag 'company_ids[]', company.id, false, :id => "company_ck_#{company.id}",
                      class: "filled-in#{' disabled' if company.id == get_company_id}" %>
    <label for="<%= "company_ck_#{company.id}" %>"></label>
    <div class="invoice-name <%= random_card_color %>"><%= company.image_name %></div>
  </div>
  <div class="invoice-details editContent">
    <h5><%= company.company_name %></h5>
    <div class="input-field">
      <select disabled>
        <option value="1"><%= company.contact_name %></option>
      </select>
    </div>
    <div class="input-field">
      <input type="email" value="<%= company.email %>" placeholder="" disabled>
    </div>
    <div class="input-field countries">
      <select disabled>
        <option value="1"><%= company.country %></option>
      </select>
    </div>
  </div>
</div>