<div class="flex-item box">
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= link_to '', edit_company_path(company) , remote: true, class: 'invoice_show_link', style: 'display: none' unless @status.eql?('deleted') %>
  <div class="card-white-panel invoice-card" data-company_id= <%=company.id %>>
    <div class="checkbox-item">
      <%= check_box_tag "company_ids[]", company.id, false, :id => "company_#{company.id}", class: "filled-in" %>
      <label for="<%= "company_#{company.id}" %>"></label>
      <div class="invoice-name <%= random_card_color unless company.logo_url.present? %>">
        <%= company.logo_url.present? ? image_tag(company.logo_url(:thumb), class: 'responsive-img circle') : company.image_name %>
      </div>
    </div>
    <div class="invoice-details">
      <h5><%= company.company_name %></h5>
      <strong><%= company.contact_name %></strong>
      <span><%= company.email %></span>
      <div class="card-footer clearfix">
        <span class="invoice-date"><small><%= t('views.common.date') %>:</small> <%= company.created_at.strftime(get_date_format) rescue "" %></span>
      </div>
    </div>

    <div class="action-btn-group">
      <% if @status.eql?('deleted') %>
          <a href="javascript:;" class="single_recover_deleted" title="<%= t('helpers.links.recover') %>">
            <i class="material-icons">unarchive</i>
          </a>
      <% else %>

          <%= link_to raw("<i class='material-icons'>create</i>"),edit_company_path(company), remote: true, class: 'edit_invoice_icon', title: t('helpers.links.edit') %>
          <%= link_to raw("<i class='material-icons'>delete</i>"),company, method: :delete,
                      data:{confirm: t('helpers.messages.confirm'),
                            success: t('views.companies.deleted_msg') },
                      title: t('helpers.links.delete') %>
          <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown_<%= company.id %>' data-alignment="right" data-beloworigin="true">
            <i class="material-icons">more_vert</i>
          </a>
          <!-- Dropdown Structure -->
          <ul id="dropdown_<%= company.id %>" class='dropdown-content z-depth-4'>
            <% if @status.eql?('active') %>
              <li><a href="javascript:;" class="single_archive"><i class="material-icons">archive</i><%= t('views.common.send_to_archive') %></a></li>
            <% elsif @status.eql?('archived') %>
              <li><a href="javascript:;" class="single_recover"><i class="material-icons">unarchive</i><%= t('helpers.links.recover') %></a></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>