<div class="side-form company-side-form hidden">
  <% @company = Company.new() %>
  <%= simple_form_for(@company, url: '/companies', html: { id: 'company_side_form'}) do |f| %>
    <%= hidden_field_tag :setting_form, 1, id: 'company_setting_form' %>
    <div class="modal-body users">
      <%= f.input :company_name, label: false, placeholder: '*' + t('views.companies.name'), wrapper_html: { class: 'input-field' }, input_html: { id: 'company_name' } %>
      <%= f.input :contact_name, label: false, placeholder: '*' + t('views.clients.contact_name'), wrapper_html: { class: 'input-field' }, input_html: { id: 'contact_name' } %>
      <%= f.input :contact_title, label: false, placeholder: t('views.clients.contact_title'), wrapper_html: { class: 'input-field' } %>
      <%= f.input :email, label: false, placeholder: '*' + t('views.common.email'), wrapper_html: { class: 'input-field' }, input_html: { id: 'companies_email' } %>
      <%= f.input :phone_number, label: false, placeholder: t('views.common.phone'), wrapper_html: { class: 'input-field' }, as: :string %>
    </div>
    <a href="javascript:;" id="company_save_btn"><%= t('views.common.save') %></a>
    <a href="javascript:;" id="company_cancel_btn"><%= t('views.common.cancel') %></a>
    <%= f.submit t('views.common.save'), class: 'submit-company-form hidden' %>
    <%= f.submit 'Clear', type: 'reset', class: 'hidden', id: 'company_reset_form' %>
  <% end %>
</div>
