<div class="new-invoice-holder">
  <div class="new-invoice-table-holder main-invoice page-box">
    <table class="bordered grid-view">
      <thead>
      <tr>
        <th class="align_center td-checkbox checkbox-item">
          <%= check_box_tag 'select_all', 1, false, class: 'fix-left-and-opacity', title: 'Select All', id: 'select_all_items' %>
        </th>
        <th><%= t('company') %></th>
        <th><%= t('views.clients.contact_name') %></th>
        <th><%= t('views.common.email') %></th>
        <th><%= t('views.common.date') %></th>
        <th class="center-align"><%= t('helpers.actions') %></th>
      </tr>
      </thead>
      <tbody class="table-view-body">
      <% @companies.each do |company| %>
          <tr>
            <td class="align_center td-checkbox checkbox-item">
              <%= check_box_tag 'company_ids[]', company.id, false, id: "company_#{company.id}", class: 'fix-left-and-opacity' %>
            </td>
            <td><strong><%= link_to_if !@status.eql?('deleted'), company.company_name, edit_company_path(company), remote: true, class: 'invoice_show_link' %></strong></td>
            <td><%= company.contact_name %></td>
            <td><%= company.email %></td>
            <td><%= company.created_at.strftime(get_date_format) rescue '' %></td>
            <td class="action-btn-group">
              <% if @status.eql?('deleted') %>
                  <a href="javascript:;" class="single_recover_deleted" title="<%= t('helpers.links.recover') %>">
                    <i class="material-icons">unarchive</i>
                  </a>
              <% else %>

                  <%= link_to raw("<i class='material-icons'>create</i>"),edit_company_path(company), remote: true, class: 'edit_invoice_icon', title: t('helpers.links.edit') %>
                  <%= link_to raw("<i class='material-icons'>delete</i>"),company, method: :delete,
                              data:{confirm: t('helpers.messages.confirm'),
                                    success: t('views.companies.deleted_msg') },
                              title: t('helpers.links.delete') %>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown_<%= company.id %>' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id="dropdown_<%= company.id %>" class='dropdown-content z-depth-4'>
                    <% if @status.eql?('active') %>
                        <li><a href="javascript:;" class="single_archive"><i class="material-icons">archive</i><%= t('views.common.send_to_archive') %></a></li>
                    <% elsif @status.eql?('archived') %>
                        <li><a href="javascript:;" class="single_recover"><i class="material-icons">unarchive</i><%= t('helpers.links.recover') %></a></li>
                    <% end %>
                  </ul>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
