<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @company.org_name %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Street address 1:</b>
  <%= @company.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @company.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Province or state:</b>
  <%= @company.province_or_state %>
</p>

<p>
  <b>Postal or zip code:</b>
  <%= @company.postal_or_zip_code %>
</p>

<p>
  <b>Profession:</b>
  <%= @company.profession %>
</p>

<p>
  <b>Phone business:</b>
  <%= @company.phone_business %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @company.phone_mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Time zone:</b>
  <%= @company.time_zone %>
</p>

<p>
  <b>Auto dst adjustment:</b>
  <%= @company.auto_dst_adjustment %>
</p>

<p>
  <b>Currency code:</b>
  <%= @company.currency_code %>
</p>

<p>
  <b>Currecy symbol:</b>
  <%= @company.currency_symbol %>
</p>

<p>
  <b>Admin first name:</b>
  <%= @company.admin_first_name %>
</p>

<p>
  <b>Admin last name:</b>
  <%= @company.admin_last_name %>
</p>

<p>
  <b>Admin email:</b>
  <%= @company.admin_email %>
</p>

<p>
  <b>Admin billing rate per hour:</b>
  <%= @company.admin_billing_rate_per_hour %>
</p>

<p>
  <b>Admin user name:</b>
  <%= @company.admin_user_name %>
</p>

<p>
  <b>Admin password:</b>
  <%= @company.admin_password %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

