<h1>Listing invoice_line_items</h1>

<table>
  <tr>
    <th><%= t('invoice') %></th>
    <th><%= t('views.common.item') %></th>
    <th><%= t('views.invoice_line_item.name') %></th>
    <th><%= t('views.invoice_line_item.description') %></th>
    <th><%= t('views.invoice_line_item.unit_cost') %></th>
    <th><%= t('views.invoice_line_item.quantity') %></th>
    <th><%= t('views.invoice_line_item.tax_1') %></th>
    <th><%= t('views.invoice_line_item.tax_2') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @invoice_line_items.each do |invoice_line_item| %>
      <tr>
        <td><%= invoice_line_item.invoice_id %></td>
        <td><%= invoice_line_item.item_id %></td>
        <td><%= invoice_line_item.item_name %></td>
        <td><%= invoice_line_item.item_description %></td>
        <td><%= invoice_line_item.item_unit_cost %></td>
        <td><%= invoice_line_item.item_quantity %></td>
        <td><%= invoice_line_item.tax_1 %></td>
        <td><%= invoice_line_item.tax_2 %></td>
        <td><%= link_to t('views.common.show'), invoice_line_item %></td>
        <td><%= link_to t('helpers.links.edit'), edit_invoice_line_item_path(invoice_line_item) %></td>
        <td><%= link_to t('views.common.destroy'), invoice_line_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to t('views.invoice_line_item.new'), new_invoice_line_item_path %>
