<p id="notice"><%= notice %></p>

<p>
  <b><%= t('invoice') %>:</b>
  <%= @invoice_line_item.invoice_id %>
</p>

<p>
  <b><%= t('views.invoice_line_item.item') %>:</b>
  <%= @invoice_line_item.item_id %>
</p>

<p>
  <b><%= t('views.invoice_line_item.name') %>:</b>
  <%= @invoice_line_item.item_name %>
</p>

<p>
  <b><%= t('views.invoice_line_item.description') %>:</b>
  <%= @invoice_line_item.item_description %>
</p>

<p>
  <b><%= t('views.invoice_line_item.unit_cost') %>:</b>
  <%= @invoice_line_item.item_unit_cost %>
</p>

<p>
  <b><%= t('views.invoice_line_item.quantity') %>:</b>
  <%= @invoice_line_item.item_quantity %>
</p>

<p>
  <b><%= t('views.invoice_line_item.tax_1') %>:</b>
  <%= @invoice_line_item.tax_1 %>
</p>

<p>
  <b><%= t('views.invoice_line_item.tax_2') %>:</b>
  <%= @invoice_line_item.tax_2 %>
</p>


<%= link_to t('helpers.links.edit'), edit_invoice_line_item_path(@invoice_line_item) %> |
<%= link_to t('views.common.back'), invoice_line_items_path %>
