<p id="notice"><%= notice %></p>

<p>
  <b>Invoice:</b>
  <%= @invoice_line_item.invoice_id %>
</p>

<p>
  <b>Item:</b>
  <%= @invoice_line_item.item_id %>
</p>

<p>
  <b>Item name:</b>
  <%= @invoice_line_item.item_name %>
</p>

<p>
  <b>Item description:</b>
  <%= @invoice_line_item.item_description %>
</p>

<p>
  <b>Item unit cost:</b>
  <%= @invoice_line_item.item_unit_cost %>
</p>

<p>
  <b>Item quantity:</b>
  <%= @invoice_line_item.item_quantity %>
</p>

<p>
  <b>Tax 1:</b>
  <%= @invoice_line_item.tax_1 %>
</p>

<p>
  <b>Tax 2:</b>
  <%= @invoice_line_item.tax_2 %>
</p>


<%= link_to 'Edit', edit_invoice_line_item_path(@invoice_line_item) %> |
<%= link_to 'Back', invoice_line_items_path %>
