<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="flex-wrapper">
    <div class="flex-item col-sm-12 breadcrum-bar">
      <div class="card-white-panel">
        <h3>
          <span><%= link_to t('view.payments.payments'),payments_url %> </span>
          <%= link_to "/ #{t('views.common.active')}",payments_url %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box-holder">
    <div class="new-invoice-holder editInvoice">
      <h5 class="heading-style intro payments-enter_payment-false-intro" data-intro="Here you can create a payment" data-step="1"><%= t('views.invoices.enter_payment') %></h5>

      <% grand_total, due_amount, payments_entered = 0, 0, 0 %>

      <% @payments.each_with_index do |payment, index| %>
          <% #grand_total = grand_total + payment.invoice.invoice_total    %>
          <% due_amount += Payment.invoice_remaining_amount(payment.invoice.id)
             payments_entered += Payment.invoice_paid_amount(payment.invoice.id)
          %>
          <%= fields_for "payments[]", payment do |f| %>
              <%= render "fields", :f => f, :payment => payment, :index => index %>
          <% end
             end %>

      <% if @payments.size > 1  %>
          <div class="grand_total" style="display: none">
            <div class="grand_total_box">
              <p><%= t("views.payments.total_amount_due_against_selected_invoices") %>: <span><%= number_to_currency(due_amount,unit: "") %> </span></p>
              <p><%= t('views.payments.payments_entered_against_selected_invoices') %>: <span><%= number_to_currency(payments_entered, unit: "") %> <%#= current_user.currency_symbol %><%#=  grand_total %></span></p>
            </div>
          </div>
      <% end %>

    </div>
    <div class="container-fluid container-block">
      <input type="submit" value="<%= t('views.common.save') %>" name="commit" id="submit_payment_form" class="submit payment-btn-style submit_payment_form"/>
    </div>
  </div>
</div>
