<div class="container-fluid">
    <div class="row">

        <div class="pay_invoice">
          <% client_credit =payment.invoice.client.present? ? payment.invoice.client.client_credit : payment.invoice.unscoped_client.client_credit %>
          <% client_credit = client_credit.present? ? client_credit : 0 %>
          <div class="fields_content">
            <div class="fields_content_container">
              <div class="fields_content_data">
                <div class="row">
                  <div class="col s12 m6 l12 xl6">
                    <div class="payment_left">

                      <div class="payment_serial <%= payment.invoice.status %>"></div>
                      <!--payment_serial-->

                      <div class="payment_summary">

                        <div class="payment_person">
                          <p class="organization"><%= payment.client_name %></p>

                          <p class="person_name"><%= payment.client_full_name %></p>
                        </div>
                        <!--payment_person-->

                        <div class="invoice_data">

                          <div class="invoice_data_row">
                            <div class="invoice_label"><%= t('invoice') %>#<span>:</span></div>
                            <div class="inovice_description"><%= h payment.invoice.invoice_number %></div>
                          </div>

                          <div class="invoice_data_row">
                            <div class="invoice_label"><%= t('views.invoices.due_date') %><span>:</span></div>
                            <div class="inovice_description"><%= (payment.invoice.due_date || payment.invoice.invoice_date) rescue "" %></div>
                          </div>

                          <div class="invoice_data_row">
                            <div class="invoice_label"><%= t('views.invoices.invoice_amount') %><span>:</span></div>
                            <div class="inovice_description amount"><%= number_to_currency(payment.invoice.invoice_total, unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$') %></div>
                          </div>

                          <% if %w(partial draft-partial).include?(payment.invoice.status) && payment.invoice.invoice_total > Payment.invoice_remaining_amount(payment.invoice.id) %>
                              <div class="invoice_data_row">
                                <div class="invoice_label"><%= t('views.common.received') %><span>:</span></div>
                                <div class="inovice_description"><%= number_to_currency(payment.invoice.invoice_total - Payment.invoice_remaining_amount(payment.invoice.id), unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$') %></div>
                              </div>

                              <div class="invoice_data_row">
                                <div class="invoice_label"><%= t('views.payments.net_due') %><span>:</span></div>
                                <div class="inovice_description"><%= number_to_currency(Payment.invoice_remaining_amount(payment.invoice.id), unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$') %></div>
                              </div>
                          <% end %>

                        </div>
                        <!--invoice_data-->

                        <!--<div class="payment_person">-->
                        <!--
                    <% if payment.invoice.status == 'partial' or payment.invoice.status == 'draft-partial' %>-->
                            <!--<p><b><%= payment.invoice.status.gsub(/-/, ' ').capitalize %> payments</b></p>-->
                            <!--
                        <% payment.invoice.payments.each do |partial_payment| %>-->
                                <!--<p><%= "#{partial_payment.payment_date} - #{number_to_currency(partial_payment.payment_amount, unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$')}" %></p>-->
                                <!--
                        <% end %>-->
                            <!--
                    <% end %>-->
                        <!--</div>-->

                      </div>
                      <!--payment_summary-->

                    </div>
                  </div>
                  <div class="col s12 m6 l12 xl6">
                    <div class="right-payment-container">
                      <div class=payment_right client_<%=payment.invoice.client.present??  payment.invoice.client.id : payment.invoice.unscoped_client.id  %>">

                      <div class="field_row">
                        <%= f.hidden_field :invoice_id %>
                        <div class="label_field left single payment_amount_label"><%= t('payment') %> (<%= payment.invoice.currency.present? ? payment.invoice.currency.code : "USD" %>)</div>
                        <div class="small_field floating-left intro payments-enter_payment-false-intro" data-intro="You can enter the payment amount here" data-step="2">
                          <%= f.text_field :payment_amount, :id => "payments_#{index}_payment_amount", :value => '', :required => "", :class => "payment_amount text-field-height" %>
                          <%= f.hidden_field :invoice_number, :value => payment.invoice_number %>
                        </div>
                        <div class="field_check intro payments-enter_payment-false-intro" data-intro="You can check this to enter full remaining payment" data-step="3">
                          <input id="payments_<%= index %>_paid_full" type="checkbox" class="paid_full fix-left-and-opacity checkbox-position" name="payments[][paid_full]"/>

                          <div id="<%= index %>" style="display:none" class="rem_payment_amount " value="<%= Payment.invoice_remaining_amount(payment.invoice.id) %>"></div>
                          <p><%= f.label(:paid_full, :class => 'text-left paid_full_label', :for => "payments_#{index}_paid_full") { t('views.payments.payfull') } %></p>
                        </div>
                      </div>

                      <!--field_row-->
                      <% if client_credit > 0 %>
                          <div class="field_row">
                            <div class="label_field left single">&nbsp;</div>
                            <div class="field_check btm">
                              <%= check_box " ", index, :id => "#{index}", :class => "apply_credit fix-left-and-opacity checkbox-position checkbox-lable" %>
                              <p><label for="payments_<%= index %>" id="rem_credit_<%= index %>" value="<%= client_credit %>"><%= t('views.payments.apply_from_credit') %> <%= payment.invoice.currency.present? ? payment.invoice.currency.code : 'USD' %>
                                <span class="credit_amount" style="display: none;"><%= client_credit %></span><%= number_to_currency(client_credit, unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$') %>
                                <%= t('views.common.available') %></label></p>
                            </div>
                          </div>
                      <% end %>
                      <!--field_row-->

                      <div class="field_row payment-method">
                        <div class="label_field left single"><%= f.label t('views.common.method'), :for => "payments_#{index}_payment_method", :class=> 'label-font'%></div>
                        <div class="small_field intro payments-enter_payment-false-intro" data-intro="Here you can select the payment method" data-step="4">
                          <%= f.select :payment_method, PAYMENT_METHODS.map{|val| [t('views.payments.' + val.parameterize.underscore), val]}, {}, {:id => "payments_#{index}_payment_method", :class => "chzn-select payment-select2 select_2"} %>
                        </div>
                        <span>
                        <div class="date-wrapper intro payments-enter_payment-false-intro" data-intro="Here you can select the date on which you received payment" data-step="5">
                          <span class="payment-date"><%=t('views.common.date')%>:</span>
                            <span>
                              <small>
                                <span><%= f.text_field :payment_date, value: f.object.payment_date, class: "date-field-style" %></span>
                                <span><i class="material-icons calendar-icon">date_range</i></span>
                              </small>
                            </span>
                        </div>
                    </span>


                      </div>
                      <!--field_row-->

                      <div class="field_row">
                        <div class="label_field left single"><%= f.label :notes, t('views.common.notes'), :for => "payments_#{index}_notes", :class=> 'label-font'  %></div>
                        <div class="large_field intro payments-enter_payment-false-intro" data-intro="Here you can enter notes related to your payment" data-step="6">
                          <%= f.text_area :notes, :id => "payments_#{index}_notes" %>
                        </div>
                      </div>
                      <!--field_row-->

                      <div class="field_row">
                        <div class="field_check btm">
                          <input type="checkbox" name="payments[][send_payment_notification]" id="payments_<%= index %>_send_payment_notification", class="fix-left-and-opacity checkbox-position"/>

                          <p><%= f.label :send_payment_notification, t('views.payments.send_payment_notification'), :for => "payments_#{index}_send_payment_notification" %></p>
                        </div>
                      </div>
                      <!--field_row-->

                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!--fields_content_data-->
            </div>

            <!--fields_content_container-->
          </div>

          <!--fields_content-->
        </div><!--pay_invoice-->
    </div>
</div>
