<div class="filter-container" id="filters">
  <div class="nav-wrapper subnav-filters">
    <%= form_tag payments_path(), method: :get, class: 'col s12', id: 'filters_form' do %>
      <div class="row">
        <div class="input-field col s12 m3">
          <input type="hidden" name="create_at_start_date" id="create_at_start_date" value="<%= params[:create_at_start_date] %>">
          <input type="hidden" name="create_at_end_date" id="create_at_end_date" value="<%= params[:create_at_end_date] %>">
          <input type="text" class="date-range" name="create_at" id="create_at" placeholder="<%= t('views.common.start_date_to_end_date') %>" value="<%= params[:created_at] %>" readonly/>
          <label class="input_field_label"><%= t('views.invoices.invoice_date_range') %></label>
        </div>
        <div class="input-field col s12 m3">
          <input type="hidden" name="payment_start_date" id="payment_start_date">
          <input type="hidden" name="payment_end_date" id="payment_end_date">
          <input type="text" class="date-range" name="payment" id="payment" placeholder="<%= t('views.common.start_date_to_end_date') %>" value="<%= params[:payment] %>" readonly/>
          <label class="input_field_label"><%= t('views.payments.payment_date_range') %></label>
        </div>
        <div class="input-field col s12 m3 select-client">
          <%= select_tag(:client_id, multi_select_options(load_clients('new', get_company_id), t('all_clients'),
                                                          {selected: params[:client_id] || ''}),
                         include_blank: false, class: 'small_list invoice-filter-select select_2') %>
          <label><%= t('clients') %></label>
        </div>
        <div class="input-field col s12 m3 select-client">
          <%= select_tag(:type, multi_select_options(PAYMENT_METHODS.map{|pm| [t('views.payments.' + pm.parameterize.underscore).capitalize, pm]},
                                                     t('views.invoices.all_statuses'), {selected: params[:type] || ''}),
                         include_blank: false, class: 'small_list invoice-filter-select select_2') %>
          <label><%= t('views.common.type') %></label>
        </div>
      </div>
      <div class="row">
        <div class="filter-footer">
          <input type="reset" value="<%= t('views.common.reset') %>" id="filter_reset_btn" class="filter-btn"/>
          <input type="submit" value="<%= t('views.sessions.submit') %>" id="filter_submit_btn" class="filter-btn"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
