<div class="flex-item l4 box">
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= link_to '', payment , remote: true, class: 'invoice_show_link', style: 'display: none' %>
  <div class="card-white-panel invoice-card" data-payment_id= <%=payment.id %>>
    <div class="checkbox-item">
      <%= check_box_tag "payment_ids[]", payment.id, false, :id => "payment_#{payment.id}", class: "filled-in" %>
      <label for="<%= "payment_#{payment.id}" %>"></label>
      <div class="invoice-name <%= random_card_color %>"><%= payment.payment_name%></div>
    </div>
    <div class="invoice-details">
      <h5><%= payment.unscoped_client.organization_name rescue '' %></h5>
      <% if payment.unscoped_invoice.present? %>
      <strong><%= link_to payment.unscoped_invoice.invoice_number, payment.unscoped_invoice, remote: true %></strong>
      <em><%= "#{number_to_currency(payment.payment_amount, unit: payment.unscoped_invoice.currency.present? ? payment.unscoped_invoice.currency.code : "$")} " %><span><%= payment.unscoped_invoice.currency.unit%></span></em>
    <% end %>
      <div class="card-footer clearfix">
        <span class="invoice-date"><small>Payment Date:</small> <%= default_date payment.payment_date.to_date rescue "" %></span>
        <span class="invoice-action text-blue"><%= (payment.payment_method || payment.payment_type || "").capitalize %></span>
      </div>
    </div>

    <div class="action-btn-group">
      <% unless payment.payment_type == "credit" %>
        <%#= link_to raw("<i class='material-icons'>create</i>"),edit_payment_path(payment), remote: true, class: 'edit_invoice_icon', title: 'Edit' %>
        <%= link_to raw("<i class='material-icons'>delete</i>"),payment, method: :delete, data:{confirm: 'Are you sure?' }, title: 'Delete' %>
      <% end %>
    </div>
  </div>
</div>