<!--- Activity sidebar --->
<aside id="activity-sidebar" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <span class="btn-activity"><i class="material-icons">
    keyboard_arrow_left
  </i></span>
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <h5>
        <h5>
          <a href="javascript:;"><%= t('header.links.payments.payments') %></a>
          <span>(<%= @payments.count %>)</span>
        </h5>
      </h5>
      <div class="amount"><%= number_to_currency(@payment_activity[:active_payments_total], unit: default_currency_unit) %></div>
      <% @payment_activity[:active_payment_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '')%><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                   style="width: <%= aged_progress_width(amount, @payment_activity[:active_payment_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="status-info actionState">
      <% PAYMENT_METHODS.each do |method| %>
          <h5 class="text-blue">
            <%= t('views.payments.' + method.parameterize.underscore).capitalize %>
            <span> (<%= @payment_activity[method.to_s]%>)</span>
          </h5>
      <% end %>
    </div>
  </div>
</aside>