<div id="payment_form_popup" class="modal editableModal enterPayment">
  <div class="modal-content">
    <%- model_class = Payment -%>
    <% invoice = payment.invoice %>
    <div class="modal-header clearfix text-content">
      <div class="modal-action-btn right">
        <a href="#" onclick="$('.send_submit').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect"><i class="material-icons">done</i></a>
        <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
      <h5 class="left text-blue"><%= action_name.eql?("enter_payment") ? t('views.dashboard.enter_payment') : 'Refund payment' %>: <span><%= invoice.client.organization_name %></span> </h5>
    </div>
    <%= simple_form_for payment, html: { class: 'payment_form form-horizontal' }, remote: true do |f| %>
        <% refund = invoice.payments.refunds.sum('payment_amount') %>
        <% due_refund = invoice.payments.received.sum('payment_amount') + invoice.payments.refunds.sum('payment_amount') %>
        <% received_amount = Payment.invoice_paid_amount(invoice.id) %>
        <% due_amount = Payment.invoice_remaining_amount(invoice.id) %>
        <% client_credit =payment.invoice.client.present? ? payment.invoice.client.client_credit : payment.invoice.unscoped_client.client_credit %>
        <% client_credit = client_credit.present? ? client_credit : 0 %>

        <%= f.input :invoice_id, as: :hidden, input_html: { value: invoice.id } %>
        <%= f.input :invoice_number, as: :hidden, input_html: { value: payment.invoice_number } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: invoice.client_id } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: invoice.client_id } %>

        <%= f.submit '', class: 'send_submit submit hidden', name: 'save_as_draft' %>
        <div style="display:none" class="rem_payment_amount" value="<%= due_amount %>"></div>
        <div style="display:none" class="received_payment_amount" value="<%= received_amount %>"></div>
        <div style="display:none" class="due_refunds" value="<%= due_refund %>"></div>
        <div style="display:none" class="refunds" value="<%= refund %>"></div>

        <div class="info-section enter-payment clearfix">
          <div class="row">
            <%= render 'invoice_info', invoice: invoice, due_amount: due_amount %>
            <div class="info-right-section right col m7">
              <div class="row payment_row">
                <%= f.input :payment_method, collection: PAYMENT_METHODS.map{|val| [t('views.payments.' + val.parameterize.underscore), val]},
                      label: t('views.common.method'), input_html: {class: 'select-payment-method'}, selected: payment.payment_method, label_html: { class: 'active' },
                            wrapper_html: { class: 'input-field col s6' } %>
                <div class="input-field col s6 datepicker">
                  <%= f.input :payment_date, input_html: { value: f.object.payment_date }, as: :string, label: false %>
                  <i class="material-icons" style="top: 10px;">date_range</i>
                  <label class="active"><%= t('views.common.date') %></label>
                </div>
              </div>
              <div class="row">
                <%= f.input :payment_amount, label: "#{action_name.eql?("enter_payment") ? t('payment') : 'Refund'} (#{invoice.currency.unit})",
                            label_html: { class: 'active' }, wrapper_html: { class: 'input-field col s6' },
                            input_html: { class: 'payment_amount', placeholder: 0, min: 0 } %>
                <%= f.input :paid_full, label: t('views.payments.payfull'), input_html: { class: 'filled-in pay_full'}, as: :boolean,
                            wrapper_html: { class: 'checkbox-field inline-checkbox col s6' }, boolean_style: :inline %>
              </div>
              <div class="checkbox-field row">
                <% if client_credit > 0 %>
                    <div class="col s12">
                      <input type="checkbox" class="filled-in apply_credit" id="filled-in-box" />
                      <label for="filled-in-box"> <%= t('views.payments.apply_from_credit') %> <%= payment.invoice.currency.present? ? payment.invoice.currency.code : 'USD' %>
                        <span class="credit_amount" style="display: none;"><%= client_credit %></span><%= number_to_currency(client_credit, unit: payment.invoice.currency.present? ? payment.invoice.currency.unit : '$') %>
                        <%= t('views.common.available') %>
                      </label>
                    </div>
                <% end %>
                <%= f.input :send_payment_notification, label: t('views.payments.send_payment_notification'),
                            input_html: { class: 'filled-in'}, as: :boolean, boolean_style: :inline, wrapper_html: { class: 'col s12' } %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer commentSection">
          <%= f.input :notes, label: link_to(raw('<i class="material-icons">chat</i>'), 'javascript:void(0);', class: 'chatIcon'),
                wrapper_html: { class: 'comments-content' }, input_html: { maxlength: 400, placeholder: t('views.payments.add_description') } %>
        </div>
    <% end %>
  </div>
</div>
