<%- model_class = Payment -%>
<%= form_for payment, :html => {:class => 'payment_form form-horizontal', :novalidate => ""} do |f| %>
    <div class="modal-header clearfix text-content">
      <h5 class="left text-blue">
        <% if f.object.persisted? %>
            <%= t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                          :default => "Edit #{model_class.model_name.human}") %>:
        <% else %>
            <%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                          :default => "New  #{model_class.model_name.human}") %>:
        <% end %>
      </h5>
      <div class="modal-action-btn right">
        <a href="#" onclick="$('.send_submit').click();"><i class="material-icons">send</i></a>
        <% button_text = action_name == "new" ? t('views.common.save_as_draft') : t('views.common.save') %>
        <%= f.submit "#{button_text}", :class => 'send_submit submit hidden', :name => 'save_as_draft' %>
      </div>
    </div>
    <% invoice = payment.invoice %>
    <% due_amount = Payment.invoice_remaining_amount(invoice.id) %>
    <% client_credit =payment.invoice.client.present? ? payment.invoice.client.client_credit : payment.invoice.unscoped_client.client_credit %>
    <% client_credit = client_credit.present? ? client_credit : 0 %>

    <div style="display:none" class="rem_payment_amount" value="<%= due_amount %>"></div>


    <div class="info-section clearfix">
      <div class="info-left-section left">
        <h6 class="text-grey"><%= invoice.invoice_number %></h6>
        <span>Invoice : <small> <%= invoice.invoice_date %> </small> </span>
        <span class="text-blue"> Due: <small> <%= invoice.due_date %></small></span>
        <span class="text-grey"> Payment Date: <small class="payment_date"> <%= f.object.payment_date %> </small><i class="material-icons payment_date_picker">date_range</i></span>
        <%= f.hidden_field :payment_date %>
        <div class="editPayementInfo">
          <strong><%= number_to_currency(due_amount, unit: '')%>
            <small>
              <%= invoice.currency.unit %>
            </small>
          </strong>
        </div>
        <% if client_credit > 0 %>
            <div class="field_row">
              <div class="label_field left single">&nbsp;</div>
              <div class="field_check btm">
                <%= check_box " ", "apply_credit", :id => "0", :class => "apply_credit" %>
                <p><label for="payment" id="rem_credit" value="<%= client_credit %>"><%= t('views.payments.apply_from_credit') %> <%= invoice.currency.present? ? invoice.currency.code : 'USD' %>
                  <span class="credit_amount" style="display: none;"><%= client_credit %></span><%= number_to_currency(client_credit, unit: invoice.currency.present? ? invoice.currency.unit : '$') %>
                  <%= t('views.common.available') %></label></p>
              </div>
            </div>
        <% end %>
      </div>
      <% unless f.object.company.blank? or f.object.company.logo_url.blank? %>
          <div class="info-right-section right circle">
            <%= image_tag(invoice.company.logo_url(:thumb), class: 'responsive-img') %>
          </div>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="info-right-section">
        <div class="row">
          <div class="input-field col s6">
            <%= f.number_field :payment_amount, class: "payment_amount" %>
            <%= f.hidden_field :invoice_id, value: invoice.id %>
            <%= f.hidden_field :invoice_number, value: payment.invoice_number %>
            <%= f.label :payment_amount, 'Amount', class: 'active' %>
          </div>
          <div class="input-field col s6">
            <%= f.select :payment_method, PAYMENT_METHODS, {} %>
            <label>Payment Method </label>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="text-info col l6">
          <strong>Note</strong>
          <%= f.text_area :notes,  maxlength: 400, class: 'materialize-textarea'%>
        </div>
      </div>

    </div>
<% end %>