<%= form_tag "/payments/enter_payment", :id => "invoice_selection" do %>
    <div id="myModal" class="modal hide fad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="model_grey_container">
        <div class="modal-header">

          <h1><%= t('views.payments.which_invoices_have_you_received_payment_for') %>?</h1>

          <p><%= t('views.payments.select_one_or_more_invoices_from_the_list_below_to_apply_payment') %></p>

          <div class="cross_btn">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <%= image_tag "cross.png", :size => "7x7", :alt => "" %>
            </button>
          </div>
        </div>
        <div id="invoice_popup_error" class="alert alert-error popup invoice_popup_error" style="display:none;">
          <button class="close" type="button" style="margin:0px;">×</button>
          <table>
            <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-body">

        </div>
        <div class="footer ">
          <%= submit_tag "Enter Payment", :class => "btn_large submit" %>
          <a class="btn_large grey" href="#" data-dismiss="modal">cancel</a>
        </div>
      </div>
    </div>
<% end %>