<%= render 'payment_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel ">
        <h3 class="with-grid-icons">
          <span><%= link_to t('header.links.payments.payments'), 'javascript:;' %></span>
          <%= index_layout_toggle_icons(payments_path(layout_toggle_params(view: 'card')),
                                        payments_path(layout_toggle_params(view: 'table'))) %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box mCustomScrollbar clearfix">
    <%= form_tag "ipayments/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>
        <div class="search_result_container"><%= render 'payments_container' %></div>
        <%= render partial: 'bulk_actions'%>
    <% end %>
  </div>

</div>