<%- model_class = Payment -%>
<div class="content_top">
  <div class="primary_heading">
    <h1>Payments History</h1>
  </div>
  <div class="primary_btn">
    <%= link_to t('views.payments.back_to_invoice'), {:controller => 'invoices', :action => 'preview', :inv_id => params[:encrypted_id]}, :class => "btn_large" %>
    <!--<a class="btn_large big" href="#">Back to invoice</a>-->
  </div>
</div><!--content_top-->

<div class="payment_history">
  <div class="content_middle">
    <div class="grid_table">
      <table cellpadding="0" cellspacing="0" class="table table_listing payment_listing">
        <colgroup>
          <col class="one"/>
          <col class="two"/>
          <col class="three"/>
          <col class="four"/>
          <col class="five"/>
          <col class="six"/>
        </colgroup>
        <thead id="payments_history_header">
        <%= render 'payments_history_header' %>
        </thead>
        <tbody id="payment_body">
          <%= render 'payments_history' %>
        </tbody>
        <tfoot id="paging_links">
        <%= render "application_partials/paging" %>
        </tfoot>
      </table>
    </div>
  </div>
  <!--content_middle-->
  <div class="content_bottom">
    <%= link_to t('views.payments.back_to_invoice'), {:controller => 'invoices', :action => 'preview', :inv_id => params[:encrypted_id]}, :class => "btn_large" %>
  </div>
</div><!--payment_history-->