<div class="payment-receipt">
  <div class="receipt-logo" style="text-align: center; width: 92%">
    <%= image_tag @payment.invoice.company.logo %>
  </div>
</div>
<div class="info-section clearfix container company-info-section receipt-company-info-section">
  <div class="info-left-section">
    <%= render partial: 'invoices/company_contact_info', locals: {company: @payment.invoice.company} %>
    <br>
    <%= render partial: 'invoices/client_contact_info', locals: {client: @payment.invoice.client} %>
  </div>
  <div class="info-right-section">
    <h2 class="">Payment Receipt</h2>
    <%= render 'payment_summary' %>
  </div>
  <div style="clear: both"></div>
  <div class="received">
    <div class="received-from">Received from</div>
    <div class="client-name border-bottom text-align-center"><%= @payment.invoice.client.full_name %></div>
    <div class="text-align-center currency_code"><%= @payment.currency.code %></div>
    <div class="border-bottom received_payment">&nbsp;&nbsp;<%= @payment.payment_amount %></div>
  </div>
  <div class="amount_in_words">
    <div class="border-bottom total_amt_in_words">&nbsp;&nbsp;<%= capitalize_amount(@payment.payment_amount.to_i.abs.to_words)*' ' %></div>
    <div class="currency_title"><%= @payment.currency.title %></div>
  </div>
  <div class="payment_for">
    <div style="">for invoice#</div>
    <div class="border-bottom">&nbsp;&nbsp;<%= @payment.invoice.formatted_invoice_number %></div>
  </div>
  <div class="received_by">
    <div>Received by</div>
    <div class="border-bottom"><%= @payment.creator.user_name rescue '' %></div>
  </div>
</div>
