<p id="notice"><%= notice %></p>

<p>
  <b><%= t('invoice') %>:</b>
  <%= @payment.invoice_id %>
</p>

<p>
  <b><%= t('views.dashboard.amount') %>:</b>
  <%= @payment.payment_amount %>
</p>

<p>
  <b><%= t('views.common.method') %>:</b>
  <%= @payment.payment_method %>
</p>

<p>
  <b><%= t('views.common.date') %>:</b>
  <%= @payment.payment_date %>
</p>

<p>
  <b><%= t('views.common.notes') %>:</b>
  <%= @payment.notes %>
</p>

<p>
  <b><%= t('views.payments.send_payment_notification') %>:</b>
  <%= @payment.send_payment_notification %>
</p>

<p>
  <b><%= t('views.payments.paid_full') %>:</b>
  <%= @payment.paid_full %>
</p>


<%= link_to t('helpers.links.edit'), edit_payment_path(@payment) %> |
<%= link_to t('views.common.back'), payments_path %>
