<div id="edit_form_popup" class="modal editableModal importModal">
  <%= simple_form_for @role, remote: true, html: { class: 'role-form form-invoice form-horizontal nested-forms' } do |f| %>
    <div class="modal-content">
      <div class="modal-header clearfix text-content">
        <div class="modal-action-btn right">
          <%= render partial: 'form_action_links' %>
        </div>
        <%= render partial: 'form_heading', locals:{form: f, role: @role} %>
      </div>
      <div class="modal-body role-modal-body">
        <div class="scroll-area">
          <div class="clearfix">
            <div class="row">
              <%= f.input :name, label: "Name", wrapper_html: { class: 'input-field col s12' }  %>
              <h3>Permissions</h3>
              <div id="edit_permission_table">
                <%= f.simple_fields_for :permissions do |permission| %>
                  <%= render partial: 'permission_fields', locals: {permission: permission} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
