<div class="side-form role-side-form hidden">
  <% @role = Role.new() %>
  <%= simple_form_for(@role, html: { id: 'role_side_form'}) do |f| %>
    <%= hidden_field_tag :setting_form, 1, id: 'role_setting_form' %>
    <div class="modal-body users">
      <%= f.input :name, label: false, placeholder: '*' + t('views.Roles.name'), wrapper_html: { class: 'input-field' }, input_html: { id: 'role_name' } %>
    </div>
    <!--    <div id="permission_table">-->
    <%#= f.simple_fields_for :permissions do |permission| %>
    <%#= render 'settings/permission_fields', f: permission %>
    <%# end %>
    <!--    </div>-->
    <div class="role-action-btns">
      <a href="javascript:;" id="role_save_btn" class="sidebar-btn"><%= t('views.common.save') %></a>
      <a href="javascript:;" id="role_cancel_btn" class="sidebar-btn"><%= t('views.common.cancel') %></a>
    </div>
    <%= f.submit t('views.common.save'), class: 'submit-role-form hidden' %>
    <%= f.submit 'Clear', type: 'reset', class: 'hidden', id: 'role_reset_form' %>
  <% end %>
</div>
