<div id="item_form_popup" class="modal editableModal editTaxModal edititemModal">
  <%- model_class = Item -%>
      <div class="modal-content modal-balance">
          <div class="modal-header clearfix text-content">
            <div class="modal-action-btn right">
              <a href="javascript:void(0);" onclick="$('.submit-item-form').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
                <i class="material-icons" >done</i>
              </a>
              <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
                <i class="material-icons close">close</i>
              </a>
            </div>
            <h5 class="left">
              <% if item.persisted? %>
                <%= t '.title', :default => t('helpers.titles.edit', :model => t(model_class.model_name.singular),
                                              :default => "Edit #{model_class.model_name.human}") %>
              <% else %>
                <%= t '.title', :default => t('helpers.titles.new', :model => t(model_class.model_name.singular),
                                              :default => "New  #{model_class.model_name.human}") %>
              <% end %>
            </h5>
          </div>
          <%= simple_form_for item, remote: (true if params[:type].present?), html: { class: 'item_form' } do |f| %>
            <div class="modal-body modal-body-balance">
              <div class="row">
                <%= f.submit class: 'btn_large submit-item-form hidden' %>
                <%= f.input :item_name, label: t('views.items.item_name'), wrapper_html: { class: 'input-field col s12' }, label_html: { id: 'step1', class: 'intro items-new-false-intro' } %>
                <%= f.input :item_description, label: t('views.items.description'), wrapper_html: { class: 'input-field col s12' }, label_html: { id: 'step2', class: 'intro items-new-false-intro' } %>
                <%= f.input :unit_cost, label: t('views.items.default_unit_cost'), wrapper_html: { class: 'input-field col s12 m6' }, as: :string, label_html: { id: 'step3', class: 'intro items-new-false-intro' } %>
                <%= f.input :quantity, label: t('views.items.default_quantity'), wrapper_html: { class: 'input-field col s12 m6' }, as: :string, label_html: { id: 'step4', class: 'intro items-new-false-intro' } %>
                <%= f.association :tax1, collection: Tax.all, prompt: t('views.taxes.select_a_tax'), class: 'tax2 small',
                                  wrapper_html: { class: 'input-field col s12 m6' }, label: false %>
                <%= f.association :tax2, collection: Tax.all, prompt: t('views.taxes.select_a_tax'), class: 'tax2 small',
                                  wrapper_html: { class: 'input-field col s12 m6' }, label: false %>
                <%= hidden_field_tag :position, params[:position] %>
              </div>
              <div class="row">
                <div class="col s12 items">
                  <h5 id="step5" class="text-blue title-heading intro items-new-false-intro"><%= t('views.items.make_this_item_available_to') %></h5>
                  <div class="input-field col s12">
                    <%= associate_account(controller_name, action_name, @item) %>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    <% end %>
</div>
