

  <%= form_for(Item.new, :html => {:novalidate => ""}) do |f| %>

<div class="modal-content">
    <div class="modal-header clearfix text-content">
      <h5 class="left"> Items</h5>
      <div class="modal-action-btn right">
        <a href="#" onclick="$('.submit').click();" title="Save"><i class="material-icons" >done</i></a>
        <%= f.submit class: 'btn_large submit hidden' %>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :item_name, id:'clientname',:required => "" %>
          <label for="clientname"> <%= t('views.items.item_name') %></label>

        </div>
        <div class="input-field col s12">
          <%= f.text_field :item_description, id:'desc', :required => "" %>
          <label for="desc"><%= t('views.items.Description') %></label>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :unit_cost, id:'defaultcost' %>
          <label for="defaultcost">Default unit cost</label>
        </div>
        <div class="input-field col s6">
          <%= f.number_field :quantity,id: 'defaultqty' %>
          <label for="defaultqty">Default Quantity</label>
        </div>
        <div class="input-field col s6">
          <%= f.collection_select(:tax_1, Tax.all, :id, :name, {:prompt => ""}, {"data-placeholder" => t('views.taxes.select_a_tax'), :class => "extra_small tax1 small chzn-select"}) %>

          <label>Tax 1</label>
        </div>
        <div class="input-field col s6">
          <%= f.collection_select(:tax_2, Tax.all, :id, :name, {:prompt => ""}, {"data-placeholder" => t('views.taxes.select_a_tax'), :class => "extra_small tax2 small chzn-select"}) %>

          <label>Tax 2</label>
        </div>
        <br>
        <div class="input-field col s12  ">
          <label><%= t('views.items.make_this_item_available_to') %>:</label>


        </div>
        <br>
        <%= associate_account(controller_name, action_name, Item.new) %>

      </div>
    </div>
  </div>
<% end %>

