
        <div class="col s12 m6 l4">
          <div class="card-white-panel" data-target="modal1">
            <div class="checkbox-item">
              <%= check_box_tag "item_ids[]", item.id, false, :id => "chk1",:class=>'filled-in' %>
              <label for="chk1"></label>
              <div class="invoice-name green-light"><%= item.item_name[0] %></div>
            </div>
            <div class="invoice-details">
              <strong><%= item.item_name %></strong>
              <em><%= number_to_currency(item.unit_cost, unit: default_currency_unit) %></em>
              <div class="item-description">
                <%= item.item_description %>
              </div>
              <div class="amount-box">
                <span>Quantity</span>
                <strong><%= item.quantity %></strong>
              </div>
              <div class="amount-box">
                <span>Tax 1</span>
                <strong><%= item.tax1.name rescue "" %>%</strong>
              </div>
              <div class="amount-box">
                <span>Tax 2</span>
                <strong><%= item.tax2.name rescue "" %>%</strong>
              </div>
            </div>
            <div class="action-btn-group">
              <% if item.deleted_at.nil? %>
                  <%= link_to raw("<i class='material-icons'>create</i>"), edit_item_path(item), class: "modal-close edit-modal" %>

              <% else %>
                  <%= link_to t('views.common.recover', :default => t("helpers.links.recover")),
                              "javascript:;", class: "single-recover-link" %>
              <% end %>
              <a href="#"><i class="material-icons">send</i></a>
              <a href="#"><i class="material-icons">delete</i></a>
              <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown12' data-alignment="right" data-beloworigin="true">
                <i class="material-icons">more_vert</i>
              </a>
              <!-- Dropdown Structure -->
              <ul id='dropdown12' class='dropdown-content z-depth-4'>
                <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
              </ul>
            </div>
          </div>
        </div>


