<aside id="activity-sidebar" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
    <span class="btn-activity"><i class="material-icons">
      keyboard_arrow_left
    </i></span>
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <h5 class="intro items-index-false-intro" data-intro="These are the sum of active items created per month"> <%= link_to t('views.common.active'), "items?status=active#{query_string(params.except(:page).merge(per: @per_page))}", :class => "get_actives #{'active' if params[:status] == 'active'}" %>
        <span>(<%= get_count(params.merge(status: 'unarchived', user: current_user, current_company: session['current_company'])) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@items_activity[:active_items_total], unit: default_currency_unit) %></div>
      <% @items_activity[:active_items_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '') %><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @items_activity[:active_items_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>

    </div>


    <div class="status-info">
      <h5 class="intro items-index-false-intro" data-intro="These are the sum of archived items per month"><%= link_to t('views.common.archived'), "items?status=archived#{query_string(params.except(:page).merge(per: @per_page))}", :class => "get_deleted #{'active' if params[:status] == 'archived'}" %>
        <span>(<%= get_count(params.merge(status: 'archived', user: current_user, current_company: session['current_company'])) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@items_activity[:archived_items_total], unit: default_currency_unit) %></div>
      <% @items_activity[:archived_items_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '') %><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @items_activity[:archived_items_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>

    </div>
    <div class="status-info">

      <h5 class="intro items-index-false-intro" data-intro="These are the sum of deleted items per month"> <%= link_to t('views.common.deleted'), "items?status=deleted#{query_string(params.except(:page).merge(per: @per_page))}", :class => "get_archived #{'active' if params[:status] == 'deleted'}" %>
        <span>(<%= get_count(params.merge(status: 'only_deleted', user: current_user, current_company: session['current_company'])) %>)</span></h5>
      <div class="amount"><%= number_to_currency(@items_activity[:deleted_items_total], unit: default_currency_unit) %></div>
      <% @items_activity[:deleted_items_progress].each do |date, amount| %>
          <div class="agedWrapper">
            <div class="aged-ar">
              <small><%= date %></small>
              <span><%= number_to_currency(amount, unit: '') %><small> <%= default_currency_code %> </small></span>
            </div>
            <div class="progress">
              <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= aged_progress_width(amount, @items_activity[:deleted_items_total]) %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</aside>