<div class="container printable">
  <div class="invoice_template">
    <div class="new-invoice-holder invoice-position">

      <div class="item-container">
        <div class="row item-row">
          <div class="field-block col s12">
            <label for="clientname"><%= t('views.items.item_name') %>:</label>
            <span><%= @item.item_name %></span>
          </div>
          <div class="field-block col s12">
            <label for="desc"><%= t('views.items.description') %>:</label>
            <span><%= @item.item_description %></span>
          </div>
          <div class="field-block col s6">
            <label for="defaultcost"><%= t('views.invoice_line_item.unit_cost') %>:</label>
            <span><%= @item.unit_cost %></span>
          </div>
          <div class="field-block col s6">
            <label for="defaultqty"><%= t('views.items.quantity') %>:</label>
            <span><%= @item.quantity %></span>
          </div>
          <% if @item.tax_1.present? %>
            <div class="field-block col s6">
              <label for="tax1"><%= t('views.items.tax') %> 1:</label>
              <span><%= @item.tax1_name %></span>
            </div>
          <% end %>
          <% if @item.tax_2.present? %>
            <div class="field-block col s6">
              <label for="tax2"><%= t('views.items.tax') %> 2:</label>
              <span><%= @item.tax2_name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
