<% if @item_exists %>
    $('table.invoice-grid-table > tbody.invoice-line-items-table > tr.line-items-fields, table.estimate-grid-table > tbody.estimate-line-items-table > tr.line-items-fields').each(function(){
        $items_list_select = $(this).find('td:nth-child(2)').find('select.items_list');
    });
    showWarningSweetAlert('error', "<%= t('views.items.duplicate_name') %>", function(){});
    $('#' + '<%= params[:position] %>').val('').material_select();
    $('.select_2').material_select('destroy');
    $('.select_2').select2();

<% else %>
    $('table.invoice-grid-table > tbody.invoice-line-items-table > tr.line-items-fields, table.estimate-grid-table > tbody.estimate-line-items-table > tr.line-items-fields').each(function(){
        $items_list_select = $(this).find('td:nth-child(2)').find('select.items_list');
        last_option = $items_list_select.find('option:last').clone();
        $items_list_select.find('option:last').remove();
        var selected = '';
        if( $items_list_select.attr('id') == "<%= params[:position].to_s %>"){
            selected = 'selected';
            $items_list_select.append('<option value="<%= @item.id %>" ' +selected+'> <%= @item.item_name %> </option>').append(last_option);
            $items_list_select.material_select();
            $items_list_select.trigger('contentChanged');
            $items_list_select.change();
        }else{
            $items_list_select.append('<option value="<%= @item.id %>"> <%= @item.item_name %> </option>').append(last_option);
            $items_list_select.material_select();
            $items_list_select.trigger('contentChanged');
        }
    });
    $('.modal').modal('close');
    swal({icon: "success", title: "<%= t('views.sessions.done') %>"});
    $('.select_2').material_select('destroy');
    $('.select_2').select2('destroy');
    $('.select_2').select2();

<% end %>
