<%= render partial: 'item_activity' %>
    <!--- content --->
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel ">
        <h3>Items
          <%= link_to "/ #{@status.humanize}",items_url(status: @status) %>

        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box items-box mCustomScrollbar clearfix">
    <%= form_tag bulk_actions_expenses_path, {method: :get, id: "bulk_action_form"} do -%>
        <div class="search_result_container"><%= render 'items_container'%></div>
        <%= render partial: 'bulk_actions'%>
    <% end %>
  </div>

</div>
