<!
<span class="btn-activity">Activities</span>
<aside id="activity-sidebar">
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <h5><a href="items.html">Items</a><span>(20)</span></h5>
      <div class="amount">$<%= total_items_cost(@items)%></div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <small>Dec, 16</small>
          <span>1,646.38 <small>USD</small></span>
        </div>
        <div class="progress">
          <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <small>Dec, 16</small>
          <span>1,646.38 <small>USD</small></span>
        </div>
        <div class="progress">
          <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </div>
    </div>
    <div class="status-info">
      <h5><a href="taxes.html">Taxes</a><span>(5)</span></h5>
      <div class="amount">$51,230.00</div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <small>Dec, 16</small>
          <span>1,646.38 <small>USD</small></span>
        </div>
        <div class="progress">
          <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <small>Dec, 16</small>
          <span>1,646.38 <small>USD</small></span>
        </div>
        <div class="progress">
          <div class="determinate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </div>
    </div>
    <div class="status-info">
      <h5><a href="#">Deleted</a><span>(12)</span></h5>
    </div>
    <div class="status-info">
      <h5><a href="#">Archived</a><span>(20)</span></h5>
    </div>
  </div>
</aside>
    <!--- content --->
    <div id="main-content">
      <!--- main content --->
      <div class="row">
        <!--- breadcrum Bar --->
        <div class="col s12 breadcrum-bar">
          <div class="card-white-panel ">

            <h3>Items
              <%= link_to "/ #{@status.humanize}",items_url(status: @status) %>

            </h3>
          </div>
        </div>
        <div class="invoice-box items-box mCustomScrollbar clearfix">
          <!--- Invoices Card Title--->
              <% @items.group_by { |d| d.group_date }.each do |date, items| %>
                  <p><span class="activity-date"><%= date %></span></p>
                  <div class="clearfix">
                    <%
                      no_record_message = t('views.items.no_item_msg')
                      if params[:status] == "archived" || @action == "recovered from archived" ||  @action == "deleted from archived"
                        no_record_message = t('views.items.no_archived_msg')
                      elsif params[:status] == "deleted" || @action == "recovered from deleted"
                        no_record_message = t('views.items.no_deleted_msg')
                      end
                    %>
                    <% if items.length > 0 %>
                    <%= render partial: 'items',:collection => items,as: :item %>
                        <% else %>
                        <tr>
                          <td colspan="9">
                            <div class="no_record_container">
                              <%= no_record_message %>
                            </div>
                          </td>
                        </tr>
                        <% end %>
                  </div>
              <% end %>


        </div>
      </div>
    </div>
  </div>
  </div>
  </div>




<!-- Edit Payment Structure -->

