<%= render partial: 'item_activity' %>

    <!--- content --->
    <div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
      <!--- main content --->
      <div class="row">
        <!--- breadcrum Bar --->
        <div class="col s12 breadcrum-bar">
          <div class="card-white-panel ">

            <h3>Items
              <%= link_to "/ #{@status.humanize}",items_url(status: @status) %>

            </h3>
          </div>
        </div>
        <div class="invoice-box items-box mCustomScrollbar clearfix">
          <!--- Invoices Card Title--->
          <%= form_tag "items/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>

        <% @items.group_by { |d| d.group_date }.each do |date, items| %>
                  <p><span class="activity-date"><%= date %></span></p>
                  <div class="clearfix">
                    <%
                      no_record_message = t('views.items.no_item_msg')
                      if params[:status] == "archived" || @action == "recovered from archived" ||  @action == "deleted from archived"
                        no_record_message = t('views.items.no_archived_msg')
                      elsif params[:status] == "deleted" || @action == "recovered from deleted"
                        no_record_message = t('views.items.no_deleted_msg')
                      end
                    %>
                    <% if items.length > 0 %>
                    <%= render partial: 'items',:collection => items,as: :item %>
                        <% else %>
                        <tr>
                          <td colspan="9">
                            <div class="no_record_container">
                              <%= no_record_message %>
                            </div>
                          </td>
                        </tr>
                        <% end %>
                  </div>
              <% end %>
              <%= render partial: 'bulk_actions'%>

        <% end %>


        </div>
      </div>
    </div>
  </div>
  </div>
  </div>


<%= render partial: 'items/bulk_actions'%>


<!-- Edit Payment Structure -->

