<%= hidden_field_tag :page, params[:page] %>
<% status = params[:status].present? ? params[:status] : 'active' %>
<% if status == 'deleted' %>
    <li><%= submit_tag t('views.common.recover'), :name => "recover_deleted", :class => "top_links recover_deleted"%></li>
<% elsif status == 'archived' %>
    <li><%= submit_tag t('views.common.recover'), :name => "recover_archived", :class => "top_links recover_archived"%></li>
    <li><%= submit_tag t('views.common.delete'), :name => "destroy_archived", :class => "top_links destroy_archived"%></li>
<% else %>
<li><%= submit_tag t('views.common.recover'), :name => "recover_archived", :class => "top_links recover_archived", :style => "display:none;" %></li>
<li><%= submit_tag t('views.common.recover'), :name => "recover_deleted", :class => "top_links recover_deleted", :style => "display:none;" %></li>
<li><%= submit_tag t('views.common.archive'), :name => "archive", :class => "top_links archive" %></li>
<li><%= submit_tag t('views.common.delete'), :name => "destroy", :class => "top_links destroy" %></li>
<li><%= submit_tag t('views.common.delete'), :name => "destroy_archived", :class => "top_links destroy_archived", :style => "display:none;" %></li>
<% end %>