<div id="tax_form_popup" class="modal editableModal editTaxModal edititemModal">
  <div class="modal-content">
  <%= form_for(taxis, :html => {:novalidate => ""}) do |f| %>
      <div class="modal-header clearfix text-content">
        <h5 class="left"><%= t('views.taxes.taxes') %></h5>
        <div class="modal-action-btn right">
          <a href="javascript:void(0);" onclick="$('.submit').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
            <i class="material-icons" >done</i>
          </a>
          <%= f.submit class: 'btn_large submit hidden' %>
          <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
            <i class="material-icons close">close</i>
          </a>
        </div>
      </div>
     <div class="modal-body">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name, :required => "",id:'tax_name' %>
          <label for="tax_name"><%= t('views.common.name') %></label>
        </div>
        <div class="input-field col s12">
          <%= f.text_field :percentage, :required => "",id:'tax_percentage' %>
          <label for="tax_percentage"><%= t('views.common.percentage') %></label>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
