
  <%= form_for(taxis, :html => {:novalidate => ""}) do |f| %>
      <div class="modal-header clearfix text-content">
  <h5 class="left">Taxes</h5>
  <div class="modal-action-btn right">
    <a href="#" onclick="$('.submit').click();" title="Save"><i class="material-icons" >done</i></a>
    <%= f.submit class: 'btn_large submit hidden' %>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, :required => "",id:'tax_name' %>
      <label for="tax_name"><%= t('views.common.tax') %></label>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :percentage, :required => "",id:'tax_percentage' %>
      <label for="tax_percentage"><%= t('views.common.percentage') %></label>
    </div>
  </div>
</div>
<% end %>
