<div id="tax_form_popup" class="modal editableModal editTaxModal edititemModal editClient">
  <div class="modal-content">
    <%- model_class = Tax -%>
    <div class="modal-header clearfix text-content">
      <div class="modal-action-btn right">
        <a href="javascript:void(0);" onclick="$('.submit').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
          <i class="material-icons" >done</i>
        </a>
        <a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
      <h5 class="left">
        <% if @taxis.persisted? %>
            <%= t '.title', :default => t('helpers.titles.edit', :model => t(model_class.model_name.singular),
                                          :default => "Edit #{model_class.model_name.human}") %>
        <% else %>
            <%= t '.title', :default => t('helpers.titles.new', :model => t(model_class.model_name.singular),
                                          :default => "New  #{model_class.model_name.human}") %>
        <% end %>
      </h5>
    </div>
    <%= simple_form_for @taxis, defaults: { wrapper_html: { class: 'input-field col s12' } } do |f| %>
        <div class="modal-body">
          <div class="row">
            <%= f.input :name, label: t('views.common.name'), label_html: { id: 'step1', class: 'intro taxes-new-false-intro' } %>
            <%= f.input :percentage, label: t('views.common.percentage'), label_html: { id: 'step2', class: 'intro taxes-new-false-intro' } %>
            <%= f.submit class: 'btn_large submit hidden' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
