<div class="new-invoice-holder">
  <div class="new-invoice-table-holder main-invoice page-box">
    <table class="bordered grid-view">
      <thead>
      <tr>
        <th class="align_center td-checkbox checkbox-item">
          <%= check_box_tag 'select_all', 1, false, class: 'fix-left-and-opacity', title: 'Select All', id: 'select_all_items' %>
        </th>
        <th><%= t('views.common.name') %></th>
        <th width="35%"><%= t('views.common.percentage') %></th>
        <th class="center-align"><%= t('helpers.actions') %></th>
      </tr>
      </thead>
      <tbody class="table-view-body">
      <% @taxes.each do |tax| %>
          <tr>
            <td class="align_center td-checkbox checkbox-item">
              <%= check_box_tag 'tax_ids[]', tax.id, false, id: "tax_#{tax.id}", class: 'fix-left-and-opacity' %>
            </td>
            <td><strong><%= link_to_if !@status.eql?('deleted'), tax.name, tax, remote: true, class: 'invoice_show_link' %></strong></td>
            <td><strong><%= tax.percentage %>%</strong></td>
            <td>
              <% if @status.eql?('deleted') %>
                  <a href="javascript:;" class="single_recover_deleted" title="<%= t('helpers.links.recover') %>">
                    <i class="material-icons">unarchive</i>
                  </a>
              <% else %>
                  <%= link_to raw("<i class='material-icons'>create</i>"), edit_tax_path(tax),
                              remote: true, class: 'edit_invoice_icon', title: t('helpers.links.edit') %>
                  <%= link_to raw("<i class='material-icons'>delete</i>"), tax, method: :delete,
                              data: {confirm: t('helpers.messages.confirm'),
                                     success: t('views.taxes.bulk_action_msg', action: 'deleted')},
                              title: t('helpers.links.delete') %>
                  <a id="dLabel" class='dropdown-button' href='javascript:void(0);' data-activates='dropdown_<%= tax.id %>' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id="dropdown_<%= tax.id %>" class='dropdown-content z-depth-4'>
                    <% if @status.eql?('active') %>
                        <li>
                          <a href="javascript:;" class="single_archive">
                            <i class="material-icons">archive</i> <%= t('views.common.send_to_archive') %>
                          </a>
                        </li>
                    <% elsif @status.eql?('archived') %>
                        <li>
                          <a href="javascript:;" class="single_recover">
                            <i class="material-icons">unarchive</i> <%= t('helpers.links.recover') %>
                          </a>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="paginate-info">
    <%= page_entries_info @taxes %>
    <%= paginate @taxes %>
  </div>
</div>
