<% if @taxes.count > 0 %>
  <div class="new-invoice-holder">
    <div class="new-invoice-table-holder main-invoice page-box">
      <table class="bordered grid-view">
        <thead>
        <tr>
          <th class="align_center header align_center center-align not-sortable td-checkbox checkbox-item check_all_behaviour">
            <div class="">
              <div class="checkbox-item invoice_checkbox">
                <%= check_box_tag 'select_all', 1, false, class: 'fix-left-and-opacity check_all filled-in checked-invoice hidden', title: 'Select All', id: 'select_all_items' %>
                <label for="<%= "select_all_items" %>"></label>
              </div>
            </div>
          </th>
          <th class="align_center header <%= sortable_class('name') %>"><%= sortable('name', "#{t('views.taxes.tax_name')}") %></th>
          <th width="35%" class="align_center header <%= sortable_class('percentage') %>"><%= sortable('percentage', t('views.common.percentage')) %></th>
        </tr>
        </thead>
        <tbody class="table-view-body">
        <% @taxes.each do |tax| %>
          <tr class="invoice-card client-card invoice-table-row taxes-table-row">
            <td class="align_center header align_center center-align not-sortable td-checkbox checkbox-item invoice-row">
              <div class="card-white-panel invoice-card invoice tabel-panel align_center center-align" data-tax_id= <%=tax.id %>>
                <div class="checkbox-item invoice_checkbox">
                  <%= check_box_tag 'tax_ids[]', tax.id, false, id: "tax_#{tax.id}", class: 'filled-in checked-invoice' %>
                  <label for="<%= "tax_#{tax.id}" %>"></label>
                  <div class="invoice-name-initials invoice-name green-light <%= random_card_color %>"><%= tax.name[0] %></div>
                </div>
              </div>
            </td>
            <td><strong><%= link_to_if !tax.deleted?, tax.name, tax, remote: true, class: 'invoice_show_link' %></strong></td>
            <td><strong style="float: left"><%= tax.percentage %>%</strong>
              <div class="action-btn-group" style="float: right">
                <% if tax.deleted? %>
                  <a href="javascript:;" class="single_recover_deleted" title="<%= t('helpers.links.recover') %>">
                    <i class="material-icons">unarchive</i>
                  </a>
                <% else %>
                  <%= link_to raw("<i class='material-icons'>create</i>"), edit_tax_path(tax),
                              remote: true, class: 'edit_invoice_icon', title: t('helpers.links.edit') %>
                  <a id="dLabel" class='dropdown-button' href='javascript:void(0);' data-activates='dropdown_<%= tax.id %>' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id="dropdown_<%= tax.id %>" class='dropdown-content z-depth-4'>
                    <li>
                      <%= link_to raw("<i class='material-icons'>delete</i>Delete"), tax, method: :delete,
                                  data: {confirm: t('helpers.messages.confirm'),
                                         success: t('views.taxes.bulk_action_msg', action: 'deleted')},
                                  title: t('helpers.links.delete') %>
                    </li>
                    <% if !tax.archived? %>
                      <li>
                        <a href="javascript:;" class="single_archive">
                          <i class="material-icons">archive</i> <%= t('views.common.send_to_archive') %>
                        </a>
                      </li>
                    <% else %>
                      <li>
                        <a href="javascript:;" class="single_recover">
                          <i class="material-icons">unarchive</i> <%= t('helpers.links.recover') %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin-top: 10px" class="right">
    <%= link_to ' + New Tax ', new_tax_path, remote: true %>
  </div>

<% end %>
