<div class="flex-item">
  <%= link_to '', taxis , remote: true, class: 'invoice_show_link', style: 'display: none' unless taxis.deleted? %>
  <div class="card-white-panel invoice-card card-white-panel-bg-color" data-taxis_id= <%=taxis.id %>>
    <div class="checkbox-item">
      <%= check_box_tag "tax_ids[]", taxis.id, false, :id => "tax_#{taxis.id}", class: "filled-in" %>
      <label for="<%= "tax_#{taxis.id}" %>"></label>
      <div class="invoice-name green-light"><%= taxis.name[0] %></div>
    </div>
    <div class="invoice-details">
      <h5><%= taxis.name%></h5>
      <strong><%= taxis.percentage %>%</strong>
    </div>
    <div class="action-btn-group">
      <% if taxis.deleted? %>
        <a href="javascript:;" class="single_recover_deleted" title="<%= t('helpers.links.recover') %>">
          <i class="material-icons">unarchive</i>
        </a>
      <% else %>
        <%= link_to raw("<i class='material-icons'>create</i>"), edit_tax_path(taxis),
                    remote: true, class: 'edit_invoice_icon', title: t('helpers.links.edit') %>
        <%= link_to raw("<i class='material-icons'>delete</i>"), taxis, method: :delete,
                    data: {confirm: t('helpers.messages.confirm'),
                           success: t('views.taxes.bulk_action_msg', action: 'deleted')},
                    title: t('helpers.links.delete') %>
        <a id="dLabel" class='dropdown-button' href='javascript:void(0);' data-activates='dropdown_<%= taxis.id %>' data-alignment="right" data-beloworigin="true">
          <i class="material-icons">more_vert</i>
        </a>
        <!-- Dropdown Structure -->
        <ul id="dropdown_<%= taxis.id %>" class='dropdown-content z-depth-4'>
          <% if !taxis.archived? %>
            <li>
              <a href="javascript:;" class="single_archive">
                <i class="material-icons">archive</i> <%= t('views.common.send_to_archive') %>
              </a>
            </li>
          <% else %>
            <li>
              <a href="javascript:;" class="single_recover">
                <i class="material-icons">unarchive</i> <%= t('helpers.links.recover') %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
