
    <!--- content --->
    <div id="main-content">
      <!--- main content --->
      <div class="row">
        <!--- breadcrum Bar --->
        <div class="col s12 breadcrum-bar">
          <div class="card-white-panel ">
            <div id="sort_direction" style="display: none;"><%= params[:direction] %></div>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <h3><%= t('views.taxes.taxes') %> <a href="#"> / <%= t('views.common.active') %></a></h3>
          </div>
        </div>

        <div class="invoice-box tax-box mCustomScrollbar clearfix">
          <% @taxes.group_by { |d| d.group_date }.each do |date, taxes| %>

        <p><span class="activity-date"><%=date%></span></p>

          <div class="clearfix">
            <%
              no_record_message = "You haven't created any tax yet. Please click on New Tax button to create new tax."
              if params[:status] == "archived" || @action == "recovered from archived" ||  @action == "deleted from archived"
                no_record_message = "You haven't any archived tax."
              elsif params[:status] == "deleted" || @action == "recovered from deleted"
                no_record_message = "You haven't any deleted tax."
              end
            %>
            <% if taxes.length > 0 %>
                <%= render partial: 'taxes',:collection => taxes,as: :taxis %>
            <% else %>
                <tr>
                  <td colspan="4">
                    <div class="no_record_container"><%= no_record_message %></div>
                  </td>
                </tr>
          <% end %>

                </div>
        <% end %>
            </div>
      </div>
    </div>


<