<%= render partial: 'tax_activity' %>
    <!--- content --->
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="flex-wrapper">
    <!--- breadcrum Bar --->
    <div class="flex-item breadcrum-bar">
      <div class="card-white-panel ">
        <div id="sort_direction" style="display: none;"><%= params[:direction] %></div>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <h3 class="with-grid-icons">
          <span><%= link_to t('views.taxes.taxes'), taxes_path %></span>
          <%= link_to "/ #{t('views.common.' + @status.downcase)}", 'javascript:;', class: 'active' %>
          <%= index_layout_toggle_icons(taxes_path(layout_toggle_params(view: 'card')),
                                        taxes_path(layout_toggle_params(view: 'table'))) %>
        </h3>
      </div>
    </div>
  </div>

  <div class="invoice-box tax-box mCustomScrollbar">
      <%= form_tag "taxes/bulk_actions", {method: :get, id: "bulk_action_form"} do -%>
          <div class="search_result_container"><%= render 'taxes_container' %></div>
          <%= render partial: 'bulk_actions'%>
      <% end %>
  </div>

</div>
