<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.common.name') %>:</b>
  <%= @tax.name %>
</p>

<p>
  <b><%= t('views.common.percentage') %>:</b>
  <%= @tax.percentage %>
</p>


<%= link_to t('helpers.links.edit'), edit_taxis_path(@tax) %> |
<%= link_to t('views.common.back'), taxes_path %>
