<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.common.name') %>:</b>
  <%= @taxis.name %>
</p>

<p>
  <b><%= t('views.common.percentage') %>:</b>
  <%= @taxis.percentage %>
</p>


<%= link_to t('helpers.links.edit'), edit_taxis_path(@taxis) %> |
<%= link_to t('views.common.back'), taxes_path %>
