<% activity.parameters['obj'].each do |p| %>
  <% previous_value = p[1][0] %>
  <% changed_value = p[1][1] %>
  <% unless p[0].include?('updated_at') %>
    <li class="collection-item">
      <% if previous_value.present? && changed_value.present? %>
      <span>
        <p><strong><%= activity.owner.user_name %></strong> changed <%= p[0] %> to <%= changed_value %></p>
        <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
      </span>
      <% elsif previous_value.present? && changed_value.empty? %>
      <span>
        <p><strong><%= activity.owner.user_name %></strong> removed <%= p[0].humanize %>  <%= previous_value.humanize %></p>
        <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
      </span>
      <% end %>
    </li>
  <% end %>
<% end %>
