<% if  @logs.length > 0 %>
    <% @logs.each do |log| %>
        <tr>
          <td class="align_left"> <%= log.project.project_name %> </td>
          <td class="align_left"> <%= log.task.present? ? log.task.name : 'N/A' %> </td>
          <td class="align_left"> <%= log.notes %> </td>
          <td class="align_center"> <%= log.hours %> </td>
          <td class="align_center"> <%= log.user.try(:user_name) %> </td>

          <td class="align_center">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_log_path(log),remote: true %>
            <%= link_to t('.delete', :default => t("helpers.links.delete")),log_path(log),:method => :delete,remote: true %>
          </td>
        </tr>
    <% end %>

<% else %>
    <tr>
      <td colspan="8">
        <div class="no_record_container"><%= "No Logs exist for #{@date}" %></div>
      </td>
    </tr>
<% end %>

<tr>
  <td colspan="8" class="align_center">
    <%= paginate @logs, remote: true %>
    <%= page_entries_info @logs %>
  </td>
</tr>
