<% if  @logs.length > 0 %>
    <% @logs.each do |log| %>
        <tr>
          <td class="left-align"> <%= log.project.project_name %> </td>
          <td class="left-align"> <%= log.task.present? ? log.task.name : 'N/A' %> </td>
          <td class="left-align"> <%= log.notes %> </td>
          <td class="center-align"> <%= log.hours %> </td>
          <td class="center-align"> <%= log.user.try(:user_name) %> </td>

          <td class="center-align">
            <%= link_to raw("<i class='tiny material-icons'>create</i>"),edit_log_path(log), remote: true, class: 'edit_log_icon', title: 'edit' %>
            <%= link_to raw("<i class='tiny material-icons'>delete</i>"),log_path(log), method: :delete, remote: true, data:{confirm: 'Are you sure?' }, title: 'delete' %>
          </td>
        </tr>
    <% end %>

<% else %>
    <tr>
      <td colspan="8">
        <div class="no_record_container"><%= "No Logs exist for #{@date}" %></div>
      </td>
    </tr>
<% end %>

<tr>
  <td colspan="8" class="center-align">
    <%= paginate @logs, remote: true %>
    <%= page_entries_info @logs %>
  </td>
</tr>
