<% if  @logs.length > 0 %>
  <% @logs.each do |log| %>
    <tr>
      <td class="left-align"> <%= log.project.project_name %> </td>
      <td class="left-align"> <%= log.task.present? ? log.task.name : 'N/A' %> </td>
      <td class="left-align"> <%= log.notes %> </td>
      <td class="center-align"> <%= log.hours %> </td>
      <td class="center-align"> <%= log.user.try(:user_name) %> </td>

      <td class="center-align">
        <%= link_to raw("<i class='tiny material-icons'>create</i>"), edit_log_path(log), remote: true,
                    class: 'edit_log_icon', title: t('helpers.links.edit') %>
        <%= link_to raw("<i class='tiny material-icons'>delete</i>"), log_path(log), method: :delete,
                    remote: true, data:{confirm: t('helpers.messages.confirm'),
                                        success: t('views.logs.deleted_msg') },
                    title: t('helpers.links.delete') %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="8" class="center-align">
      <%= paginate @logs, remote: true %>
      <%= page_entries_info @logs %>
    </td>
  </tr>
<% else %>
  <tr>
    <td colspan="8" class="center-align">
      <div class="no_record_container"><%= "#{t('views.logs.no_log_exist')} #{@date}" %></div>
    </td>
  </tr>
<% end %>
<script>
    initCustomConfirmPopUp();
</script>