<%= simple_form_for @log, remote: true, html: {class: 'form-horizontal', autocomplete: 'off'} do |f| %>
    <div class="row">
      <%= f.input :date, label: false, wrapper_html: { class: 'input-field col s12' },
                  input_html: {readonly: true }, as: :string %>
      <%= f.input :project_id, collection: load_projects_for_log, selected: f.object.project_id,
                  include_blank: t('views.logs.project'), label: false, wrapper_html: { class: 'input-field col s12' } %>
      <%= f.input :task_id, collection: load_tasks_for_log(@log), selected: f.object.task_id,
                  include_blank: t('views.logs.task'), label: false, input_html: { disabled: true },
                  wrapper_html: { class: 'input-field col s12 tasks_dropdown' } %>
      <%= f.input :hours, label: t('views.tasks.hours'), wrapper_html: { class: 'input-field col s12' }, input_html: {min: 0, step: 'any'} %>
      <%= f.input :notes, label: t('views.common.notes'), wrapper_html: { class: 'input-field col s12' },
                  input_html: {min: 0, step: 'any', class: 'materialize-textarea', maxlength: 400}, as: :text %>

      <div class="input-field col s12">
        <%= hidden_field_tag :view,'month' %>
        <%= f.submit t('views.logs.create'), class: 'btn submit log-submit-btn' %>
      </div>
    </div>
<% end %>
