<%= render 'log_activity'%>
<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <div class="row">
    <!--- breadcrum Bar --->
    <div class="col s12 breadcrum-bar">
      <div class="card-white-panel">
        <h3>Time Tracking :
          <select onchange="location = this.value;">
            <option value="<%= "/#{I18n.locale}/projects" %>"> Projects</option>
            <option value="<%= "/#{I18n.locale}/tasks" %>">Tasks</option>
            <option value="<%= "/#{I18n.locale}/staffs" %>">Staffs</option>
            <option value="<%= "/#{I18n.locale}/logs" %>" selected >TimeSheet</option>
          </select>
        </h3>
      </div>
    </div>

    <div class="invoice-box log-box mCustomScrollbar clearfix card-white-panel noCollapse">
        <div class="row month" id="calendar_divs">
          <div class="col s8 m8" id="calendar"></div>
          <div class="col s4 m4 inline_form" id="calendar_form">
            <%= render 'new_form' %>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="content_middle logs_table">
              <%= render 'logs/logs_table' %>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>