

<%- model_class = Log -%>
<div id="sort_direction" style="display: none;"><%= params[:direction] %></div>
<div class="log">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t '.title', :default => model_class.model_name.human.pluralize %>
        <span>&nbsp;/&nbsp;<%= t('views.common.active') %></span>
      </h1>
    </div>
    <div class="primary_btn">
      <%= link_to (content_tag(:span, t('header.links.logs.new'))),
                  new_log_path,
                  :class => 'btn_large' %>
    </div>
  </div>
  <!--content_top-->
  <%= render partial: 'logs/form' %>

  <div id='calendar'></div>
      <div class="content_middle">

        <div class="grid_table">
          <table cellpadding="0" cellspacing="0" class="table table_listing invoice_listing <%= I18n.locale %>">
            <colgroup>
              <col class="one"/>
              <col class="two"/>
              <col class="three"/>
              <col class="four"/>
              <col class="five"/>
            </colgroup>
            <thead id="log_head">
            <%= render partial: 'logs_header' %>
            </thead>
            <tbody id="task_body">
            <%= render 'logs' %>

            </tbody>
          </table>
        </div>
        <!--grid_table-->
      </div>
      <!--content_middle-->
      <div class="content_bottom">
        <%= link_to (content_tag(:span, t('header.links.logs.new'))),
                    new_log_path,
                    :class => 'btn_large' %>
      </div>
  <!--content_bottom-->
</div>

