<%- model_class = Log -%>
<div id="sort_direction" style="display: none;"><%= params[:direction] %></div>
<div class="log">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t '.title', :default => model_class.model_name.human.pluralize %>
      </h1>
    </div>
    <%= link_to 'Start Timer', '#',
                :onclick => "window.open('/en/logs/timer', 'newwindow', 'resizable, width=400, height=650'); return false;",class: "btn_large timer_button" %>
    <div class="primary_btn">
      <% link_to (content_tag(:span, t('header.links.logs.new'))),
                  new_log_path,
                  :class => 'btn_large' %>
    </div>
  </div>
  <!--content_top-->
  <div id="calendar_div" class="month">
    <div id='calendar'></div>
    <div id="calendar_form" > <%= render 'logs/form' %>  </div>
  </div>
      <div class="content_middle logs_table">
        <%= render 'logs/logs_table' %>
      </div>
      <!--content_middle-->
      <div class="content_bottom">
        <% link_to (content_tag(:span, t('header.links.logs.new'))),
                    new_log_path,
                    :class => 'btn_large' %>
      </div>
  <!--content_bottom-->
</div>
