<div class="content_top">
  <div class="primary_heading">
    <h1><%= t('views.reports.reports') %></h1>
  </div>
</div>
<!--content_top-->

<div class="content_middle">
  <ol style="margin-top:25px;" class="reports_list">
    <li><%= link_to t('views.reports.payments_collected'), "/#{I18n.locale}/reports/payments_collected", :class => 'invoices_link' %></li>
    <li><%= link_to t('views.reports.revenue_by_client'), "/#{I18n.locale}/reports/revenue_by_client", :class => 'invoices_link' %></li>
    <li><%= link_to t('views.reports.aged_accounts_receivable'), "/#{I18n.locale}/reports/aged_accounts_receivable", :class => 'invoices_link' %></li>
    <li><%= link_to t('views.reports.item_sales'), "/#{I18n.locale}/reports/item_sales", :class => 'invoices_link' %></li>
    <li><%= link_to t('views.reports.invoice_detail'), "/#{I18n.locale}/reports/invoice_detail", :class => 'invoices_link' %></li>
  </ol>
</div><!--content_top-->