<%= render 'report_activity' unless request.format.pdf? %>
<div id="main-content" class='reports <%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- main content --->
  <!--- breadcrum Bar --->
  <div class="breadcrum-bar card-white-panel clearfix">
    <div class="input-field" id="reports-breadcrumb">
      <h3> <%= t('header.links.reports.reports') %>: <%= t('views.reports.' + @report.report_name.parameterize.underscore) if request.format.pdf? %></h3>
      <select onchange="location = this.value;" style="padding-left: 5px;">
        <option value="<%= "/#{I18n.locale}/reports/payments_collected"%>"<%= "#{'selected' if @report.report_name.eql?('payments_collected') }"%>><%= t('views.reports.payments_collected') %></option>
        <option value="<%= "/#{I18n.locale}/reports/revenue_by_client"%>"<%= "#{'selected' if @report.report_name.eql?('revenue_by_client') }"%>><%= t('views.reports.revenue_by_client') %></option>
        <option value="<%= "/#{I18n.locale}/reports/aged_accounts_receivable"%>" <%= "#{'selected' if @report.report_name.eql?('aged_accounts_receivable')}"%>><%= t('views.reports.aged_accounts_receivable') %></option>
        <option value="<%= "/#{I18n.locale}/reports/item_sales" %>" <%= "#{'selected' if @report.report_name.eql?('item_sales')}" %>><%= t('views.reports.item_sales') %></option>
        <option value="<%= "/#{I18n.locale}/reports/invoice_detail" %>" <%= "#{'selected' if @report.report_name.eql?('invoice_detail')}" %>><%= t('views.reports.invoice_detail') %></option>
      </select>
    </div>
    <div class="with-grid-icons">
      <div class="right">
        <%= link_to( raw('<i class="material-icons">tune</i>'), 'javascript:void(0);', class: 'show-filters', id: 'toggle_filters', title: t('views.common.show_filters')) %>
      </div>
    </div>
  </div>
  <%= render 'criteria_controls' unless request.format.pdf? %>
  <div class="page-box">
    <%# render 'criteria_controls' unless request.format.pdf? %>

    <div class="simple-responsive report_content report-inner-scroll-container">
      <div class="report-body-container">
        <%= render "report_body" %>
      </div>
    </div>
  </div>
<!-- report_content -->
</div>
<script>
  initFilterEvents('#from_date,#to_date,#date_range_picker');
</script>