<!--- header --->
<header id="header">
  <div class="row">
    <!--- header logo--->
    <div class="col s12 m5 l4">
      <a class="btn-menu" href="javascript:;"><i class="material-icons">menu</i></a>
      <a class="logo" href="#">Open<span>Source</span>Billing</a>
    </div>
    <!--- header company name--->
    <div class="col s9 m5 l4">
      <div class="header-center">
        <div class="hdr-select-holder">
          <select class="company_select">
            <option value="" disabled selected><%= get_company_name%></option>
            <% filter_select_by_companies.each do |company| %>
                <option value="<%= company.id %>" data-company-id="<%= company.id %>" data-controller="<%= params[:controller]%>" data-action="<%= params[:action]%>"><%= company.company_name %></option>
            <% end %>
            <optgroup label="">
              <option class="waves-effect waves-light btn" value="3">&nbsp;Create New</option>
            </optgroup>
          </select>
          <% if current_user and current_user.settings.currency.present? and current_user.settings.currency == "On" %>
              <select class="currency currency_select" data-user-id="<%= current_user.id %>">
                <option value="" disabled selected><%= @currency.unit %></option>
                <% currencies.each do |currency| %>
                    <option value="<%= currency.id%> "><%= currency.unit %></option>
                <% end %>
              </select>
         <% end %>
        </div>
      </div>

    </div>
    <!--- header search--->
    <div class="col s3 m2 l4  header-right">
      <div class="right">
        <a class="btn-search" title="Search" href="#"><i class="material-icons">search</i></a>
        <a class="help-search" title="Help" href="#"><i class="material-icons">help_outline</i></a>
      </div>
      <!--- header search holder--->
      <div class="search-holder">
        <a href="#" title="Back" class="btn-back"><i class="zmdi zmdi-arrow-left"></i> Back</a>
        <div class="container">
          <div class="checkboxinfo row">
            <div class="left">
              <div class="chk-text"></div>
            </div>
            <% if contain_bulk_actions.include? controller_name %>
                <div class="right">
                  <div class="header action-btn-group">
                    <% if @status.eql?('deleted') %>
                        <a href="javascript:;" class="recover_deleted" title="Recover deleted"><i class="material-icons">unarchive</i></a>
                    <% elsif @status.eql?('archived') %>
                        <a href="javascript:;" class="recover_archived" title="Recover archived"><i class="material-icons">unarchive</i></a>
                        <% unless controller_name.eql?('expenses')%>
                            <a href="javascript:;" class="send_archived" title="Send"><i class="material-icons">send</i></a>
                        <% end %>
                        <a href="javascript:;" class="destroy_archived" title="Delete archived"><i class="material-icons">delete</i></a>
                    <% else %>
                        <% unless controller_name.eql?('expenses')%>
                            <a href="javascript:;" class="send_active" title="Send"><i class="material-icons">send</i></a>
                        <% end %>
                        <a href="javascript:;" class="delete" title="Delete"><i class="material-icons">delete</i></a>
                        <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown13' data-alignment="right" data-beloworigin="true">
                          <i class="material-icons">more_vert</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown13' class='dropdown-content z-depth-4'>
                          <li><a href="javascript:;" class="archive"><i class="material-icons">archive</i> Send to Archive</a></li>
                        </ul>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <form action="#">
          <i class="zmdi zmdi-search"></i>
          <input type="text" class="form-control" placeholder="" />
        </form>
      </div>
    </div>
  </div>
</header>