<div class="fixed-action-btn">
  <a class="btn-floating btn-large orange">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating info"  data-label="New Payments"><%= image_tag('ico-payments.svg' , alt: "Payments")%></a></li>
    <li><a class="btn-floating grey"  data-label="New Items"><%= image_tag('ico-items.svg' , alt: "Items")%></a></li>
    <li><a class="btn-floating purple"  data-label="New Clients"><%= image_tag('ico-clients.svg' , alt: "Clients")%></a></li>
    <li><a class="btn-floating brown" data-label="New Expenses"><%= image_tag('ico-expenses.svg' , alt: "Expenses")%></a></li>
    <li><a class="btn-floating green"  data-label="New Estimates"><%= image_tag('ico-estimates.svg' , alt: "Estimates")%></a></li>
    <li><a class="btn-floating blue" data-label="New Invoice"><%= image_tag('ico-invoices.svg' , alt: "Invoices")%></a></li>
  </ul>
</div>