<nav id="side-nav" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- profile information --->
  <div class="profile-info">
    <div class="profile-image">
      <%= image_tag('img-user.png', alt: 'image')%>
    </div>
    <div class="profile-details">
      <div class="dropdown">
        <!-- Dropdown Trigger -->
        <a id="dLabel" class='dropdown-button menudd' href='#' data-activates='dropdown1' data-beloworigin="true">
          <span><%= current_user.user_name || current_user.email %></span>
        </a>
        <a  class="email-link" href="mailto:"><%= current_user.email %> </a>
      </div>
    </div>
  </div>
  <!--- side main menu --->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to raw("<i class='material-icons'>settings</i> <span>Settings</span>"), settings_path %></li>
    <li><%= link_to raw("<i class='material-icons'>person</i> <span>Profile</span>"), new_account_path, remote: true %></li>
    <li><%= link_to raw("<i class='material-icons'>power_settings_new</i><span> Logout</span>"), destroy_user_session_path, method: :delete, class: 'logout' %></li>
  </ul>
  <div>
      <ul class="side-menu mCustomScrollbar">
        <li>
          <%= active_link_to dashboard_path , title: 'Dashboard' do %>
              <%= image_tag('ico-dashboard.svg', alt: 'dashboard')%><span>Dashboard</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to invoices_path, title: 'Invoices' do %>
              <%= image_tag('ico-invoices.svg', alt: 'Invoices') %> <span>Invoices</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to estimates_path, title: 'Estimates' do %>
              <%= image_tag('ico-estimates.svg', alt: 'Estimates')%><span>Estimates</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to projects_path, title: 'Time Tracking', class: "#{'active' if ['projects', 'tasks', 'staffs', 'logs'].include?(controller_name)}" do %>
              <%= image_tag('ico-time.svg', alt: 'Time Tracking')%><span>Time Tracking</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to payments_path, title: 'Payments' do %>
              <%= image_tag('ico-payments.svg', alt: 'Payments')%><span>Payments</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to clients_path, title: 'Clients' do %>
              <%= image_tag('ico-clients.svg', alt: 'Clients')%><span>Clients</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to items_path, title: 'Items' do %>
              <%= image_tag('ico-items.svg', alt: 'Items')%><span>Items</span>
          <% end %>
        </li>
        <li>
          <%= active_link_to taxes_path, title: 'Taxes' do %>
              <%= image_tag('ico-expenses.svg', alt: 'Taxes')%><span>Taxes</span>
          <% end %>
        </li>

        <li>
          <%= active_link_to "/reports/payments_collected", title: 'Reports' do %>
              <%= image_tag('ico-reports.svg', alt: 'Reports')%><span>Reports</span>
          <% end %>
        </li>


      </ul>
  </div>
</nav>