<nav id="side-nav" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <!--- profile information --->
  <div class="profile-info">
    <div class="profile-image">
      <%= image_tag(current_user.profile_picture, alt: t('views.users.avatar'))%>
    </div>
    <div class="profile-details">
      <div class="dropdown">
        <!-- Dropdown Trigger -->
        <a class='dropdown-button '><span><%= current_user.user_name || current_user.email %></span></a>
        <a  class="email-link"><%= current_user.email %> </a>
      </div>
    </div>
  </div>
  <!--- side main menu --->

  <div>
    <ul class="side-menu scrollContainer">
      <li>
        <%= active_link_to dashboard_path , title: t('header.links.dashboard') do %>
          <%= image_tag('ico-dashboard.svg', alt: t('header.links.dashboard'))%>
          <span><%= t('header.links.dashboard') %></span>
        <% end %>
      </li>

      <% if policy(Invoice).show? %>
        <li>
          <%= active_link_to invoices_path, title: t('header.links.invoices.invoices') do %>
            <%= image_tag('ico-invoices.svg', alt: t('header.links.invoices.invoices')) %>
            <span><%= t('header.links.invoices.invoices') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Estimate).show? %>
        <li>
          <%= active_link_to estimates_path, title: t('header.links.estimates.estimates') do %>
            <%= image_tag('ico-estimates.svg', alt: t('header.links.estimates.estimates'))%>
            <span><%= t('header.links.estimates.estimates') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Project).index? %>
        <li>
          <%= active_link_to projects_path, title: t('header.links.time_tracking.time_tracking'),
                             class: "#{'active' if ['projects', 'tasks', 'staffs', 'logs'].include?(controller_name)}" do %>
            <%= image_tag('ico-time.svg', alt: t('header.links.time_tracking.time_tracking'))%>
            <span><%= t('header.links.time_tracking.time_tracking') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Payment).show? %>
        <li>
          <%= active_link_to payments_path, title: t('header.links.payments.payments') do %>
            <%= image_tag('ico-payments.svg', alt: t('header.links.payments.payments'))%>
            <span><%= t('header.links.payments.payments') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Client).show? %>
        <li>
          <%= active_link_to clients_path, title: t('header.links.clients.clients') do %>
            <%= image_tag('ico-clients.svg', alt: t('header.links.clients.clients'))%>
            <span><%= t('header.links.clients.clients') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Item).show? %>
        <li>
          <%= active_link_to items_path, title: t('header.links.items.items') do %>
            <%= image_tag('ico-items.svg', alt: t('header.links.items.items'))%>
            <span><%= t('header.links.items.items') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Tax).show? %>
        <li>
          <%= active_link_to taxes_path, title: t('header.links.items.taxes') do %>
            <%= image_tag('ico-expenses.svg', alt: t('header.links.items.taxes'))%>
            <span><%= t('header.links.items.taxes') %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(Reporting::Reports::InvoiceDetail).invoice_detail? %>
        <li>
          <%= active_link_to invoice_detail_reports_path, title: t('header.links.reports.reports') do %>
            <%= image_tag('ico-reports.svg', alt: t('header.links.reports.reports'))%>
            <span><%= t('header.links.reports.reports') %></span>
          <% end %>
        </li>
      <%end %>

      <% if policy(Settings).index? %>
        <li>
          <%= active_link_to settings_path do %>
            <%= image_tag('ico-settings.svg', alt: t('views.settings.settings'), width: 22)%>
            <span><%= t('views.settings.settings') %></span>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= active_link_to destroy_user_session_path, method: :delete, class: 'logout text-align' do %>
          <%= image_tag('ico-logout.svg', alt: t('header.links.logout'), width: 18)%>
          <span><%= t('header.links.logout') %></span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>