<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>:: Open Source Billing ::</title>
      <%#= favicon_link_tag %>

      <%= stylesheet_link_tag "application", :media => "all" %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dosis:400,500" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <%= javascript_include_tag "application" %>

      <%= csrf_meta_tags %>
      <%= include_gon %>
    </head>
    <body currency-unit="<%= t("currency_unit") %>">

        <%= render 'layouts/header' %>

        <main id="main">
          <div class="container-fluid">
            <!--- side vertical menu --->
            <%= render 'layouts/side_nav'%>

            <%= yield %>

          </div>
        </main>

        <%= render 'layouts/new_actions_buttons'%>


        <div id="CreatNewmodal" class="modal">
          <div class="modal-content">
            <form class="">
              <div class="input-field">
                <input id="text1" type="email" class="validate">
                <i class="material-icons">warning</i>
                <label for="text1" data-error="wrong" data-success="right">Name</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect  btn-flat">Cancel</a>
            <a href="#!" class=" modal-action waves-effect  btn-flat">Save</a>
          </div>
        </div>
        <div id="invoice_model" class="modal">
          <div class="modal-content">
          </div>
        </div>
    </body>
</html>

