<!DOCTYPE html>
<html class="<%= "ie#{browser.version}" if browser.ie? %>">
<head>
  <title>Open Source Billing</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="loginpage">
     <%= yield %>
</body>
</html>
