<!DOCTYPE html>
<html>
  <head>
    <title>Open Source Billing</title>
    <style type="text/css">
      /*-----------------General Css Starts-----------------*/
      body {
        background: #ffffff !important;
      }
      .content {
        margin: auto;
        min-height: 950px;
        width: 100% !important;
      }
      .grid_table table{
        width: 100% ;
      }
      /*-----------------General Css Ends-----------------*/
      <%= Rails.application.assets.find_asset('general.css.scss').source.html_safe%>
      <%= Rails.application.assets.find_asset('show_invoice.css.scss').source.html_safe%>
      <%= Rails.application.assets.find_asset('reports.css.scss').source.html_safe%>
    </style>
  </head>
  <body>
    <div class="mainContainer">

      <div class="header">
        <div class="logo">
          <%= wicked_pdf_image_tag "logo.png", :size => "185x30" %>
        </div>
      </div>

      <div class="content">
        <!-- <div class="notice"><%#= notice %></div> -->
        <%= yield %>
      </div>
    </div>
  </body>
</html>
