<!DOCTYPE html>
<html>
  <head>
    <title>Open Source Billing</title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500" rel="stylesheet">

    <style type="text/css">
      /*-----------------General Css Starts-----------------*/
      .sent{
        background:url('<%= "file://#{Rails.root.join('app','assets','images','sent.png')}"%>') !important;
      }

      .grid_table table{
          width: 100%;
      }

      /*-----------------General Css Ends-----------------*/
    </style>
  </head>
  <body currency-unit="<%= t("currency_unit") %>" class="full-page">
    <div class="mainContainer">
      <main id="main" class="<%= "#{'report-section' if action_name.eql?('reports')}"%> ">
      <div class="container-fluid">
        <%= yield %>
      </div>
      </main>
    </div>
  </body>
</html>
