<h1>Listing companies</h1>
<table>
  <tr>
    <th><%= t('views.accounts.org_name') %></th>
    <th><%= t('views.common.country') %></th>
    <th><%= t('views.common.street_address') %> 1</th>
    <th><%= t('views.common.street_address') %> 2</th>
    <th><%= t('views.common.city') %></th>
    <th><%= t('views.common.province') %></th>
    <th><%= t('views.common.zip_code') %></th>
    <th><%= t('views.accounts.profession') %></th>
    <th><%= t('views.accounts.phone_business') %></th>
    <th><%= t('views.accounts.phone_mobile') %></th>
    <th><%= t('views.common.fax') %></th>
    <th><%= t('views.common.email') %></th>
    <th><%= t('views.common.time_zone') %></th>
    <th><%= t('views.accounts.auto_dst_adjustment') %></th>
    <th><%= t('views.accounts.currency_code') %></th>
    <th><%= t('views.accounts.currency_symbol') %></th>
    <th><%= t('views.accounts.admin_first_name') %></th>
    <th><%= t('views.accounts.admin_last_name') %></th>
    <th><%= t('views.accounts.admin_email') %></th>
    <th><%= t('views.accounts.admin_billing_rate_per_hour') %></th>
    <th><%= t('views.accounts.admin_username') %></th>
    <th><%= t('views.accounts.admin_password') %>></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @accounts.each do |company| %>
      <tr>
        <td><%= company.org_name %></td>
        <td><%= company.country %></td>
        <td><%= company.street_address_1 %></td>
        <td><%= company.street_address_2 %></td>
        <td><%= company.city %></td>
        <td><%= company.province_or_state %></td>
        <td><%= company.postal_or_zip_code %></td>
        <td><%= company.profession %></td>
        <td><%= company.phone_business %></td>
        <td><%= company.phone_mobile %></td>
        <td><%= company.fax %></td>
        <td><%= company.email %></td>
        <td><%= company.time_zone %></td>
        <td><%= company.auto_dst_adjustment %></td>
        <td><%= company.currency_code %></td>
        <td><%= company.currency_symbol %></td>
        <td><%= company.admin_first_name %></td>
        <td><%= company.admin_last_name %></td>
        <td><%= company.admin_email %></td>
        <td><%= company.admin_billing_rate_per_hour %></td>
        <td><%= company.admin_user_name %></td>
        <td><%= company.admin_password %></td>
        <td><%= link_to t('views.common.show'), company %></td>
        <td><%= link_to t('helpers.links.edit'), edit_company_path(company) %></td>
        <td><%= link_to t('views.common.destroy'), company, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to t('views.companies.new'), new_company_path %>

