<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.accounts.org_name') %>:</b>
  <%= @account.org_name %>
</p>

<p>
  <b><%= t('views.common.country') %>:</b>
  <%= @account.country %>
</p>

<p>
  <b><%= t('views.common.street_address') %> 1:</b>
  <%= @account.street_address_1 %>
</p>

<p>
  <b><%= t('views.common.street_address') %> 2:</b>
  <%= @account.street_address_2 %>
</p>

<p>
  <b><%= t('views.common.city') %>:</b>
  <%= @account.city %>
</p>

<p>
  <b><%= t('views.common.province') %>:</b>
  <%= @account.province_or_state %>
</p>

<p>
  <b><%= t('views.common.zip_code') %>:</b>
  <%= @account.postal_or_zip_code %>
</p>

<p>
  <b><%= t('views.accounts.profession') %>:</b>
  <%= @account.profession %>
</p>

<p>
  <b><%= t('views.accounts.phone_business') %>:</b>
  <%= @account.phone_business %>
</p>

<p>
  <b><%= t('views.accounts.phone_mobile') %>:</b>
  <%= @account.phone_mobile %>
</p>

<p>
  <b><%= t('views.common.fax') %>:</b>
  <%= @account.fax %>
</p>

<p>
  <b><%= t('views.common.email') %>:</b>
  <%= @account.email %>
</p>

<p>
  <b><%= t('views.common.time_zone') %>:</b>
  <%= @account.time_zone %>
</p>

<p>
  <b><%= t('views.accounts.auto_dst_adjustment') %>:</b>
  <%= @account.auto_dst_adjustment %>
</p>

<p>
  <b><%= t('views.accounts.currency_code') %>:</b>
  <%= @account.currency_code %>
</p>

<p>
  <b><%= t('views.accounts.currency_symbol') %>:</b>
  <%= @account.currency_symbol %>
</p>

<p>
  <b><%= t('views.accounts.admin_first_name') %>:</b>
  <%= @account.admin_first_name %>
</p>

<p>
  <b><%= t('views.accounts.admin_last_name') %>:</b>
  <%= @account.admin_last_name %>
</p>

<p>
  <b><%= t('views.accounts.admin_email') %>:</b>
  <%= @account.admin_email %>
</p>

<p>
  <b><%= t('views.accounts.admin_billing_rate_per_hour') %>:</b>
  <%= @account.admin_billing_rate_per_hour %>
</p>

<p>
  <b><%= t('views.accounts.admin_username') %>:</b>
  <%= @account.admin_user_name %>
</p>

<p>
  <b><%= t('views.accounts.admin_password') %>:</b>
  <%= @account.admin_password %>
</p>


<%= link_to t('helpers.links.edit'), edit_company_path(@account) %> |
<%= link_to t('views.common.back'), companies_path %>

