<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @account.org_name %>
</p>

<p>
  <b>Country:</b>
  <%= @account.country %>
</p>

<p>
  <b>Street address 1:</b>
  <%= @account.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @account.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @account.city %>
</p>

<p>
  <b>Province or state:</b>
  <%= @account.province_or_state %>
</p>

<p>
  <b>Postal or zip code:</b>
  <%= @account.postal_or_zip_code %>
</p>

<p>
  <b>Profession:</b>
  <%= @account.profession %>
</p>

<p>
  <b>Phone business:</b>
  <%= @account.phone_business %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @account.phone_mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @account.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<p>
  <b>Time zone:</b>
  <%= @account.time_zone %>
</p>

<p>
  <b>Auto dst adjustment:</b>
  <%= @account.auto_dst_adjustment %>
</p>

<p>
  <b>Currency code:</b>
  <%= @account.currency_code %>
</p>

<p>
  <b>Currecy symbol:</b>
  <%= @account.currency_symbol %>
</p>

<p>
  <b>Admin first name:</b>
  <%= @account.admin_first_name %>
</p>

<p>
  <b>Admin last name:</b>
  <%= @account.admin_last_name %>
</p>

<p>
  <b>Admin email:</b>
  <%= @account.admin_email %>
</p>

<p>
  <b>Admin billing rate per hour:</b>
  <%= @account.admin_billing_rate_per_hour %>
</p>

<p>
  <b>Admin user name:</b>
  <%= @account.admin_user_name %>
</p>

<p>
  <b>Admin password:</b>
  <%= @account.admin_password %>
</p>


<%= link_to 'Edit', edit_company_path(@account) %> |
<%= link_to 'Back', companies_path %>

